<p>videos works!</p>
 <!-- Start main-content -->
 <div class="main-content">

    
    <!-- Gallery Grid 3 -->
    <section>
      <div class="container">
        <div class="section-title text-center mb-10">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="title text-uppercase mb-0">our <span class="text-black font-weight-300">videos</span></h2>
              <p class="text-uppercase letter-space-1">See what we do</p>
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
              <!-- Portfolio Filter -->
              <div class="portfolio-filter font-alt align-center mb-0 mt-0">
                <a href="#" class="" data-filter="*" id="all">All</a>
                <a href="#sports" class="" data-filter=".sports" id="sports">Sports Nutrition</a>
                <a href="#testimonials" class="" data-filter=".testimonials" id="testimonials">Testimonials</a>
                <a href="#tips" class="" data-filter=".tips" id="tips">Tips</a>
              </div>
              <!-- End Portfolio Filter -->
            
              <!-- Portfolio Gallery Grid -->
              <div id="grid" class="gallery-isotope grid-4 gutter clearfix">

                <div class="gallery-item testimonials sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/kols.png" alt="project">
                    <h5>OUR CELEBRATED CLIENTS</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.facebook.com/watch/?v=278265483239032&amp;t=0"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
               
               
                <div class="gallery-item testimonials sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/diptisharmas.png" alt="project">
                    <h5>Dipti Sharma</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.facebook.com/watch/?v=260621395298148"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                  <div class="gallery-item testimonials sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/Dipankar%20Bhattacharjee.png" alt="project">
                    <h5>Dipankar Bhattacharjee</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/BtDjDzGGhDs"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="gallery-item testimonials sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/Danush.png" alt="project">
                    <h5>Danush S</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/DYzwRUir3ds"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="gallery-item testimonials sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/Dharmil%20Shah.png" alt="project">
                    <h5>Dharmil Shah</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/DFe7cUh1Aec"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="gallery-item testimonials sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/Swarna%20K%20Harith.png" alt="project">
                    <h5>Swarna K Harith</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/R9MxaF3_gOI"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="gallery-item testimonials sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/Gunjan%20Jadhav.png" alt="project">
                    <h5>Gunjan Jadhav</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/2evWZGfzD7c"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="gallery-item testimonials sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/a13.png" alt="project">
                    <h5>Shraddha Apicatlaa</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/D3qEmo7wDlM"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="gallery-item testimonials sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/a14.png" alt="project">
                    <h5>Harsha</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/rAefum7HZlE"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

               <div class="gallery-item testimonials sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/a15.png" alt="project">
                    <h5>Lohith M</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/yzzPo1iqLyE"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                
                <div class="gallery-item testimonials sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/a16.png" alt="project">
                    <h5>Antariksh Mukherjee</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/ECYHc39FRlY"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="gallery-item testimonials sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/a17.png" alt="project">
                    <h5>Rishika Muralidhar</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/Kgc0r2qyPUU"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>



                <div class="gallery-item testimonials sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/a1.png" alt="project">
                    <h5>Niranjan Mukundan</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/SbiaWI4KiOc"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="gallery-item testimonials sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/a2.png" alt="project">
                    <h5>Joshna Chinappa</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/5grnMUjpMJQ"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="gallery-item testimonials sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/a3.png" alt="project">
                    <h5>Arya Roopa Anand</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/esVd6qJcDdY"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="gallery-item testimonials sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/a4.png" alt="project">
                    <h5>Meryl Ann Mathew</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/c0eZoklTZao"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="gallery-item testimonials sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/a5.png" alt="project">
                    <h5>Anushka Patil</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/Bom3BPLf9mk"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="gallery-item testimonials sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/a6.png" alt="project">
                    <h5>Aditya Volvoikar</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/gTD63knXSVQ"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="gallery-item testimonials sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/a7.png" alt="project">
                    <h5>Anya Dsouza</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/XvxPoZU5FbA"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="gallery-item sports sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/Virdhawal%20Khade.png" alt="project">
                    <h5> Virdhawal Khade l Rujuta Khade</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/bKALUSmZ4bU"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="gallery-item testimonials sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/a8.png" alt="project">
                    <h5>Pooja Rani</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/ijjW5oYl8Vo"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="gallery-item testimonials sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/a9.png" alt="project">
                    <h5>Tharakesh Ashokar</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/646R9Bu8r1w"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="gallery-item testimonials sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/a10.png" alt="project">
                    <h5>Shiv Chowdhury</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/5oTLHbR17eo"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="gallery-item testimonials sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/a11.png" alt="project">
                    <h5>Mohit Balasubramanium</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/N5bzBQLngds"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="gallery-item testimonials">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/a12.png" alt="project">
                    <h5>Disha Shetty</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/I3Nq8GMv7vo"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                
                
                <!-- Portfolio Item Start -->
                
                
                <div class="gallery-item sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/2145326849why.jpg" alt="project">
                    <h5>Why Invest in A Nutritionist?</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/k4M_N1ha7XE"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->
                <!-- Portfolio Item Start -->
                <div class="gallery-item sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/2918534172.jpg" alt="project">
                    <h5>Online Nutrition Counseling..</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/wBPJdAJJga4"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->
                <!-- Portfolio Item Start -->
                <div class="gallery-item sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/14459961023.jpg" alt="project">
                    <h5>Value Of A 100 Day Coaching...</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/YueZs9N6YJw"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->
                <!-- Portfolio Item Start -->
                <div class="gallery-item sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/768133542Qua11.jpg" alt="project">
                    <h5>How Sports Nutrition Change</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/8Yel0hx3NK4"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->
                <!-- Portfolio Item Start -->
                <div class="gallery-item tips sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/1175794454.jpg" alt="project">
                    <h5>Kids Nutrition and Diet Guidance</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/YdGrFfFKxJo"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->
                <!-- Portfolio Item Start -->
                <div class="gallery-item testimonials sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/7789326945.jpg" alt="project">
                    <h5>Diabetic Dropping..</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/fu6EjW2GLvI"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->
                <!-- Portfolio Item Start -->
                <div class="gallery-item tips sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/12196804776.jpg" alt="project">
                    <h5>Kids Nutrition Counselling</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/oAQxMtBRHb4"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->
                <!-- Portfolio Item Start -->
                <div class="gallery-item tips sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/5926938087.jpg" alt="project">
                    <h5>Nutrition Testing..</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/5PDlUN11XV4"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->
                <!-- Portfolio Item Start -->
                <div class="gallery-item tips sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/2313639618.jpg" alt="project">
                    <h5>Nutrition for Pre Pregnancy..</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/_p8gH3VqBRE"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->
                <!-- Portfolio Item Start -->
                <div class="gallery-item tips sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/7789326945.jpg" alt="project">
                    <h5>Cricket Nutrition Tips</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/dPE3driENA4"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->
                <!-- Portfolio Item Start -->
                <div class="gallery-item sports sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/117172852810.jpg" alt="project">
                    <h5>Why Invest In A Sports..</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/LnilUj8yx2w"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->
                <!-- Portfolio Item Start -->
                <div class="gallery-item tips sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/65548143911.jpg" alt="project">
                    <h5>10 Injury Nutrition Tips</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/YB_i0p8lah4"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->
                <!-- Portfolio Item Start -->
                <div class="gallery-item tips sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/46946553312.jpg" alt="project">
                    <h5>Secret Women Workout Tips</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/7tB1PZofoP0"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->
                <!-- Portfolio Item Start -->
                <div class="gallery-item tips sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/141970274813.jpg" alt="project">
                    <h5>5 Secrets Every CEO Has On..</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/74i5Fw1K6Jo"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->
                <!-- Portfolio Item Start -->
                <div class="gallery-item tips sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/112436384014.jpg" alt="project">
                    <h5>Top 5 Foods For a Athlete</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/yrZplr_XtYs"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->
                <!-- Portfolio Item Start -->
                <div class="gallery-item tips sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/40435942115.jpg" alt="project">
                    <h5>10 Marathon Nutrition Tips</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/TfNCOowU2ug"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->
                <!-- Portfolio Item Start -->
                <div class="gallery-item testimonials sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/7789326945.jpg" alt="project">
                    <h5>A young Tennis player</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/cCO8zwLoOxc"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->
                <!-- Portfolio Item Start -->
                <div class="gallery-item testimonials sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/65476308617.jpg" alt="project">
                    <h5>Father Of A Tennis player</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/_vHvtt2taWg"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->
                <!-- Portfolio Item Start -->
                <div class="gallery-item testimonials sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/117172852810.jpg" alt="project">
                    <h5>Football Player</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/66cmcvgdHFc"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->
                <!-- Portfolio Item Start -->
                <div class="gallery-item sports sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/1936017540Qua20.jpg" alt="project">
                    <h5>A Career At QUA NUTRITION..</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/embed/8azwxsbWM68"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="gallery-item sports sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/r1.png" alt="project">
                    <h5>Investment in Nutrition Plan</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/watch?v=n5tto_2ZOPg"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="gallery-item sports sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/r2.png" alt="project">
                    <h5>Nutrition for Top Indian Athletes</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/watch?v=A_vK2Q7PVRo"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="gallery-item sports sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/r3.png" alt="project">
                    <h5>Nutrition for celebrities and athletes</h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/watch?v=bL1VCsdNeHM"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="gallery-item sports sports">
                  <div class="thumb bg-theme-colored-2">
                    <img class="img-fullwidth" src="images/video_img/r4.png" alt="project">
                    <h5>Customized Athletes Nutrition Plan </h5>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-type="video" href="https://www.youtube.com/watch?v=8hAf7ko6FIY"><i class="fa fa-youtube-play"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->
                
             
              </div>
              <!-- End Portfolio Gallery Grid -->
                          
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
  <!-- end main-content -->
  <!-- Footer -->
  <footer class="footer divider layer-overlay overlay-dark" data-bg-img="images/bg/bg1.jpg">
    <div class="container pt-50 pb-10">
      <div class="row">
        <div class="col-sm-6 col-md-3">
            <h3 class="mt-0 mb-30">Quick Contact Form</h3>
            <!-- Contact Form -->
                       <!-- Contact Form -->
            <form id="contact_form" name="contact_form" class="" method="post">

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <input id="form_name" name="form_name" class="form-control" type="text" placeholder="Enter Name" required="true">
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input id="form_email" name="form_email" class="form-control email" type="email" placeholder="Enter Email" >
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                          <input type="text" id="form_phone" name="form_phone"  class="phone form-control required" required="true" placeholder="Enter phone">
                        <!--<input id="form_phone" name="form_phone" class="form-control" type="number" placeholder="Enter Phone" required="true">-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <input id="form_subject" name="form_subject" class="form-control" type="text" placeholder="Enter Your City">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <textarea id="form_message" name="form_message" class="form-control" rows="3" placeholder="Enter Message"></textarea>
              </div>
              <div class="form-group">
                <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="" />
                <button id="quick_submit" class="btn btn-dark btn-theme-colored btn-flat mr-5" data-loading-text="Please wait...">Send your message</button>
                <button type="reset" class="btn btn-default btn-flat btn-theme-colored">Reset</button>
              </div>
            </form>

        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h5 class="widget-title line-bottom">Pages</h5>
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <ul class="list angle-double-right list-border">
                  <li><a href="index-2.html">Home</a></li>
                  <li><a href="Nutrition_package.html">Packages</a></li>
                  <li><a href="About.html">Why Qua?</a></li>
                  <li><a href="Testimonials.html">Testimonials</a></li>
                </ul>
              </div>
              <div class="col-sm-6 col-md-6">
                <ul class="list angle-double-right list-border">
                  <li><a href="Videos.html">Video</a></li>
                  <li><a href="Team.html">Team</a></li>
                  <li><a href="Contact.html">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="widget dark tags">
            <h5 class="widget-title line-bottom">Tags</h5>
            <a href="Nutrition_packages/sports_nutrition.html"><p style="font-size: 10px;">Sports Nutrition</p></a>
            <a href="Nutrition_packages/weight_loss_trim_down.html"><p style="font-size: 10px;">Weight Loss</p></a>
            <a href="Nutrition_packages/sports_nutrition.html"><p style="font-size: 10px;">Best Nutritionist in Delhi</p></a>
            <a href="Nutrition_packages/weight_loss_trim_down.html"><p style="font-size: 10px;">Best Nutritionist in Delhi</p></a>
            <a href="Nutrition_packages/weight_gain.html"><p style="font-size: 10px;">Weight Gain</p></a>
            <a href="Nutrition_packages/genetic_nutrition.html"><p style="font-size: 10px;">Genetic Testing</p></a>
            <a href="Nutrition_packages/sports_nutrition.html"><p style="font-size: 10px;">Best Sports Nutritionist Delhi</p></a>
            <a href="Nutrition_packages/nutrition_kids.html"><p style="font-size: 10px;">Nutrition For Kids</p></a>
            <a href="Nutrition_packages/genetic_nutrition.html"><p style="font-size: 10px;">Best Nutritionist</p></a>
            <a href="Nutrition_packages/nutrition_you.html"><p style="font-size: 10px;">Nutrition for you</p></a>
            <a href="Nutrition_packages/sports_nutrition.html"><p style="font-size: 10px;">Best Sports Nutritionist</p></a>
            <a href="Nutrition_packages/sports_nutrition.html"><p style="font-size: 10px;">Sports Nutritionist Chennai</p></a>
            <a href="index-2.html"><p style="font-size: 10px;">Best Nutritionist Goa</p></a>
            <a href="Nutrition_packages/wedding_bells.html"><p style="font-size: 10px;">Wedding Diet</p></a>
            <a href="index-2.html"><p style="font-size: 10px;">Best Nutritionist Kolkata</p></a>
            <a href="Nutrition_packages/medical_nutrition.html"><p style="font-size: 10px;">Medical Nutrition</p></a>
            <a href="Nutrition_packages/corporate_nutrition_plan.html"><p style="font-size: 10px;">Corporate Nutrition</p></a>
            <a href="Contact.html"><p style="font-size: 10px;">Best Nutritionist Bangalore</p></a>
            <a href="index-2.html"><p style="font-size: 10px;">Best Nutritionist Mumbai</p></a>
            <a href="index-2.html"><p style="font-size: 10px;">Beauty</p></a>
            <a href="About.html"><p style="font-size: 10px;">Best Nutritionist India</p></a>
            <a href="Nutrition_packages/international_counselling.html"><p style="font-size: 10px;">International Nutritionist</p></a>
          </div>
        </div>
        <div class="col-sm-6 col-md-2">
          <div class="widget dark mb-10"> <img height="80" width="auto" class="mb-10" alt="" src="images/logo.png">
            <p class="font-12">QUA Nutrition, we realize that each person is different.</p>
            <!-- <ul class="styled-icons icon-bordered small square list-inline mt-10">
              <li><a target="_blank" href="https://www.facebook.com/quanutrition.bangalore?fref=ts"><i class="fa fa-facebook text-white"></i></a></li>
              <li><a target="_blank" href="https://twitter.com/Qua_Nutrition?lang=en"><i class="fa fa-twitter text-white"></i></a></li>
              <li><a target="_blank" href="https://plus.google.com/+quanutritionbestdietplans"><i class="fa fa-google-plus text-white"></i></a></li>
              <li><a target="_blank" href="https://www.youtube.com/user/quanutrition"><i class="fa fa-youtube text-white"></i></a></li>
            </ul> -->
          </div>
          <div class="widget dark">
            <h5 class="widget-title line-bottom mb-0">Opening Hours</h5>
            <ul class="opening-hours list-border">
              <li><p><span class="text-white">Monday To Saturday:</span> <br>
                10:00 am to 6:00 pm</p>
              </li>
              <li><p><span class="text-white">Sunday:</span> Closed</p>
              </li>
            
            </ul>
          
        </div>
      </div>
    </div>
    <div class="container-fluid copy-right p-10">
      <div class="row text-center">
        <div class="col-md-12">
          <p class="font-11 text-white m-0">Copyright &copy;2020 Quanutrition. All Rights Reserved</p>
        </div>
      </div>
    </div>