<p>sports-nutrition works!</p>
<!-- Start main-content -->
<div class="main-content">

    <!-- Section: Classes details -->
    <section>
      <div class="container pb-0">
        <div class="section-title text-center mb-10">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="title text-uppercase mb-0 pb-0">Sports <span class="text-black font-weight-300">Nutrition</span></h2>
              <p class="text-uppercase letter-space-1 text-center">India's Best Athletes Are Guided Here</p>
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row">
              <div class="tasble">
              <div class="col-md-3 dext pr-30">
                  
                  
               <div class="row mb-20">
                  <div class="col-md-12">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/oL9qvHtl3PU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p class="pt-10 ftm"><strong>OLYMPIC MEDALS WERE WON USING THESE SECRETS
Sports Nutrition Seminar</strong> - Go Sports Athlete Conclave - Bangalore</p>
                  </div>
                  <div class="col-md-12">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/V5tbtMjUUt4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p class="pt-10 ftm"><strong>A nutrition & Suppliment survival guide for sports injuries
Sports Nutrition for injury prevention</strong> - Injury prevention symposium for sports coaches & trainers - Fortis Hospital, Bangalore</p>
                  </div>
                </div>
                
                
                
                <div class="row mb-20">
                  <h4>Sports Nutrition Seminar - Swimming </h4>
                  <div class="col-md-12">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/UAZ_P4L-VlI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p class="pt-10 ftm"><strong>3 SIMPLE TRUTHS</strong> TO SWIM FASTER THAN YOU EVER HAVE
Dolphin Aquatics, Bangalore</p>
                  </div>
                  <div class="col-md-12">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/37VFHuF_P_c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p class="pt-10 ftm"><strong>9 SECRET SOLUTIONS FOR SWIMMERS</strong>
Nisha Millet Swimming Academy, Bangalore</p>
                  </div>
                  
                <div class="col-md-12">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/Yj1xBFdelgA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p class="pt-10 ftm">MISTAKES IN NUTRITION THAT ARE SINKING YOUR PERSONAL BEST TIMINGS

Swimming, Bangalore</p>
                  </div>
                
                
                </div>
                
                
                
                 <div class="row mb-20">
                  <h4>Shooting</h4>
                  <div class="col-md-12">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/1lUccRfBfvQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p class="pt-10 ftm"><strong>RAZOR FOCUS AND MIND ALTERING PRECISION VIA NUTRITION</strong> – A SHOOTERS GUIDE TO NUTRITION
Sports Nutrition for Shooting</p>
                  </div>

                
                </div>

                 <div class="row mb-20">
                  <h4>Sports Nutrition Seminar -Cricket</h4>
                  <div class="col-md-12">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/tfJ2TeeZC9k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p class="pt-10 ftm">THE WORLD CUP TEAM FOLLOWS THESE NUTRITION GOLDEN RULES
Cricket Nutrition Workshop for Indian Women's Cricket Team - National Cricket Academy, Bangalore</p>
                  </div>
                  
                  <div class="col-md-12">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/F4mTUw4JS7U" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p class="pt-10 ftm"><strong>THE BEST BATSMEN IN THE WORLD FOLLOW THESE 5 SIMPLE TIPS
Sports Nutrition Seminar</strong> - Cricket - KIOC, Bangalore</p>
                  </div>
                  
                </div> 
                
                
                
                
                <div class="row mb-20">
                  <h4>Sports Nutrition Seminar -Tennis</h4>
                  <div class="col-md-12">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/tfJ2TeeZC9k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p class="pt-10 ftm"><strong>5 CAREER CHANGING NUTRITION TIPS WHICH WILL ALTER YOUR GAME
Sports Nutrition Seminar</strong>- Tennis-  AITA Coaches Workshop, Goa</p>
                  </div>
                  
                  <div class="col-md-12">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/F4mTUw4JS7U" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p class="pt-10 ftm"><strong>THE BEST BATSMEN IN THE WORLD FOLLOW THESE 5 SIMPLE TIPS
Sports Nutrition Seminar</strong> - Cricket - KIOC, Bangalore</p>
                  </div>
                  
                </div> 


                <div class="row mb-20">
                  <h4>Sports Nutrition Seminar - Golf</h4>
                  <div class="col-md-12">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/FmQI1hA9nwI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p class="pt-10 ftm"><strong>Nutrition drivers for Golfers
Sports Nutrition Seminar -</strong> Golf - TSG, Bangalore</p>
                  </div>

                </div> 


                <div class="row mb-20">
                  <h4>Sports Nutrition Seminar - Badminton</h4>
                  <div class="col-md-12">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/uBFs11Fhrto" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p class="pt-10 ftm">Badminton nutrition is the secret ingredient in PV Sindhu's success
- Badminton - Bangalore</p>
                  </div>
                  
                  <div class="col-md-12">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/F4EgUDpxj14" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                   
                  
                  
                




      <div class="row mb-20">
                  <h4>Sports Nutrition Seminar - Football</h4>
                  <div class="col-md-12">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/hfFOn-D5zCU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p class="pt-10 ftm">Bad food Habits can make a footballer lose their power.
Football - Bangalore</p>
                  </div>

                </div> 



      <div class="row mb-20">
                  <h4>Chess</h4>
                  <div class="col-md-12">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/RNQAsX8varQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p class="pt-10 ftm">BA full proof nutrition formula to be a next grandmaster.
Sports Nutrition for Chess</p>
                  </div>

                </div> 


      <div class="row mb-20">
                  <h4>Sports Nutrition Seminar- Running</h4>
                  <div class="col-md-12">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/fS7h9F0LFAM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p class="pt-10 ftm">6 nutrition mantras every runner applies on a sports nutrition plan.
Sports Nutrition Seminar- Running- Jayanagar Jaguars Running Group, Bangalore & Kolkata</p>
                  </div>
                  <div class="col-md-12">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/yZqv898MKRw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p class="pt-10 ftm">Running Nutrition: 10 Nutrition hacks to make your running a breeze.
Jayanagar Jaguars, Bangalore</p>
                  </div>

                </div> 
                
                
                
                
      <div class="row mb-20">
                  <h4>GENERAL</h4>
                  <div class="col-md-12">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/STcy17oog7w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p class="pt-10 ftm">The way to be a sports superpower
                        Panel Discussion- Sports Nutrition as a part of the support structure for Athlete development. Gamatics India, IIM Bangalore</p>
                  </div>

                </div> 
                
                
                 <div class="row mb-20">
                  <div class="col-md-12">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/A_vK2Q7PVRo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p class="pt-10 ftm">How TOP INDIAN ATHLETES take care of their nutrition to perform at peak?</p>
                  </div>

                </div> 
                
                <div class="row mb-20">
                  <div class="col-md-12">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/bL1VCsdNeHM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p class="pt-10 ftm">Why do the best athletes and celebrities come to Ryan Fernando and QUA Nutrition for right diet</p>
                  </div>

                </div> 
                
                <div class="row mb-20">
                  <div class="col-md-12">
                   <iframe width="854" height="480" src="https://www.youtube.com/embed/8hAf7ko6FIY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p class="pt-10 ftm">Why Should All Sports Athletes Take A Customized Nutrition Plan I Chief Nutritionist Ryan Fernando</p>
                  </div>

                </div> 
                
                
            
            <div class="col-md-6">
              <!-- <div class="single-class-details">
                <img src="../images/p1.jpg" class="img-fullwidth" alt="">
                <div class="pull-left flip">
                  <h3 class="text-uppercase letter-space-1">Sports Nutrition</h3>
                </div>
              </div> -->
              <div class="classes-schedules">
                <p>We are the Best SPORTS Nutrition Clinic on the planet. With 2 Olympic medals and a 26 hrs Guinness World record of Human performance, YOU WANT TO BE TALKING TO US FOR JUST 10 MINS. We will change the way you Fuel and therefore A MEDAL WIN is literally on your plate. Led by RYAN FERNANDO an award winning celebrity Sports Nutritionist, the OLYMPIC SPORTS NUTRITION PLAN is his brainchild and over the last decade QUA NUTRITION and RYAN has changed the lives of over 6000 athletes.</p>
                <p style="text-align: justify; border: 1px solid #ccc; padding: 10px 10px 10px 10px; margin-top: 20px;">Many athletes do not understand the impact of proper nutrition on athletic performance and health. Nutrition is a key ingredient to optimizing athletic performance. Properly fuelling and refuelling the body is essential to reaching an individual’s full athletic potential. Food selection, quantity as well as meal timing affect body composition, athletic performance, and overall health. Yet, athletes generally tend to have limited knowledge of nutrition. Surveys on nutrition knowledge demonstrate that athletes have many misconceptions about the role of nutrition in performance</p>
                <p>Did you know that nutrition is typically the missing link to optimizing athletic potential? The key to improving your performance is to find the weak link. What's holding you back? Are you tired between training sessions? Do you recover slowly? Are you looking to reduce your body fat? Improving energy and performance means looking at the big picture. There is no one single nutrition program for the endurance athlete-not even for the same sport and position. Knowing how to properly fuel and refuel your body is essential to maximizing your sports performance. Don’t wait. Get an edge on the competition and schedule a sports performance nutrition session today.</p>
                <p style="text-align: justify;margin-top: 20px;">There are many factors that are evaluated when we work with an athlete. First of all it is important to have a program that's realistic and that fits your lifestyle. Whether you're competing or training off-season, the length and intensity of the sport and unique health situations will also determine your nutritional requirements. The program is then customized to meet the needs of your body and the demands of your sport. Just as the finely tuned engine runs at its best with high-octane fuel, we teach the athlete how to maximize performance with the correct nutrition, and help them understand how their body can perform and recover most effectively. No matter how well you train, your body is limited by certain key factors which can be optimized with a high performance nutrition program designed and customized specifically for your needs and goals.</p>
                <h3>WHY ARE WE THE BEST SPORTS NUTRITION CLINIC </h3>
                <p>Qua Nutrition provides individual nutrition counselling and education to enhance the performance of professional, competitive and recreational athletes, on tour, on-site, during and off training, conditioning phase and during travel and rest.The entire science behind a game and its effect on your body is necessary to determine the correct sports nutrition plan. Our expert sports nutritionists will guide you even if you are travelling offshore for a tournament by taking into account the local cuisine to custom build a plan that should optimize your performance anywhere in the world. Receive nutritional guidance for your big competition day that helps on recovery for back to back events. </p>
                <div class="row">
                  <div class="col-md-6">
                    <p style="text-align: justify; border: 1px solid #ccc; padding: 10px 10px 10px 10px; margin-top: 20px;">
                    This includes sweat rate analysis for hydration needs, carbohydrate loading, pre, during and post training recovery nutrition provided.The meal plan that you get would ensure you get OPTIMAL PERFORMANCE. We at Qua Nutrition begin by assessing your biochemistry, training workload, diet and design the best supplement strategy you need. Our team of expert nutritionists and the sports nutrition coach sit with you, the ATHLETE, on aone–on-one basis in developing and designing the BEST nutrition plan to make YOU the BEST YOU CAN BE!</p>
                  </div>
                  <div class="col-md-6">
                    <iframe src="https://www.youtube.com/embed/00znPmMkYeA?ecver=1" frameborder="0" allowfullscreen style="width:100%; height:230px;margin-top: 20px;"></iframe>
                  </div>
                </div>
                <p style="font-weight: 700;margin-top: 20px;">Success in endurance sports is not just about training. Take your nutrition as seriously as you do your training and get an edge on the competition!</p>
                <p>Qua Nutrition offers private consultations in addition to online nutrition counselling and telephone support to athletes from all over the world. Every athlete is unique and therefore needs a program geared specifically to meet their individual needs. All programs are carefully developed based on cutting edge science and Ryan Fernando’s knowledge and expertise in working with athletes from every area of sports. Sessions are tailored to your personal ability, goals and available time.</p>
                <p>Whether you’re a professional athlete or a weekend warrior, nutrition is fundamental to your athletic performance. The right diet will optimise your energy levels and help your body recover more effectively. You need to provide your body with enough energy (calories) to meet the demands of training and enable proper recovery between exercise/ training sessions. Training or competition generally increase daily energy requirements depending on duration, type and intensity of the activity. </p>
                <h3>SPORTS GENE TESTING</h3>
                <div class="row">
                  <div class="col-md-6">
                    <p style="text-align: justify; border: 1px solid #ccc; padding: 10px 10px 10px 10px;">Sports Nutrition at Qua Nutrition incorporates the cutting edge of scientific and relevant research from across the world in the relevant field to its customised Sports Nutrition Plan. By integrating the Genetic testing into its Nutrition Plan, we become one of the very few in the world to incorporate this element in building a better and a complete athlete by understanding layers of information on how the body functions, capacity, reactions and performs as a machine.</p>
                  </div>
                  <div class="col-md-6">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/JpWrR8GKDPw?ecver=1" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
                <p>Sports nutrition and eating to fuel your workouts and sports performance can be complicated. There are some basic principles that apply to nearly every athlete. However, your requirements for carbohydrates, proteins, fats, fluids, air and other essential nutrients vary according to YOUR specific SPORT! The Olympic Nutrition Plan strives to fine tune it your genetic level of understanding. </p>
                <p>Please email or call us for this confidential reporting and revolutionary performance enhancement strategy to aligning the way SPORTS DIETS are built.</p>
                <h5>Initial sports nutrition session typically includes:</h5>
                <ul style="list-style-type: circle; margin-left: 50px;">
                  <li>Medical health history.</li>
                  <li>Body Assessments</li>
                  <li>Supplement/medication review and recommendations in sync with the WADA listing. </li>
                  <li>Food and beverage analysis.</li>
                  <li>Working on lung capacity and power breathe to enhance endurance performance.</li>
                  <li>Examination of current lifestyle and food preferences.</li>
                  <li>Determination of energy and macronutrient requirements for optimal performance.</li>
                  <li>Review of the essential nutrients that affect athletic performance and recording the consumption
                    levels.</li>
                  <li>Recommendations for how to consume appropriate intakes of essential nutrients from whole foods
                    and beverages for optimal health and athletic performance. </li>
                  <li>Genetic detailing evaluation and analysis and its interpretation in the Nutrition Plan. </li>
                </ul>
                <p style="margin-top: 20px;">Follow-up sessions include a review of the prior session, an evaluation of recent lifestyle changes, a discussion of how to accomplish any goals not yet achieved as well as relevant, cutting edge sports performance nutrition information.</p>
                <p style="font-weight: 700;margin-top: 20px;">Working with us help you learn and understand the below aspects of nutritionally improving performance by :</p>
                <ol style="list-style-type: decimal;margin-left: 50px;">
                  <li>Optimal performance. Your speed, strength, power, endurance and stamina will be at its best.</li>
                  <li>Learning how to properly fuel your body before, during and after training and competition.</li>
                  <li>Improved academic performance, mood, and decision-making.</li>
                  <li>Optimal body composition.</li>
                  <li>Postponed fatigue and enhanced energy levels during exercise and all day long.</li>
                  <li>Better and faster recovery.</li>
                  <li>Minimized soreness and inflammation</li>
                  <li>Reduced injury risk and improved return-to-play time after injury or surgery.</li>
                  <li>Enhanced immunity.</li>
                  <li>Ability to excel at sports for many years.</li>
                </ol>
                <p style="margin-top: 10px;">Sessions may vary based upon your personal athletic goals.</p>
                <p>
                  <span style="background: #ff5722; color: #fff;padding: 3px;">WHY INVESTING IN A NUTRITION PLAN IS LOGICAL & RETURNS ARE FAR GREATER THAN YOUR INVESTMENT IN BUYING
                    A SPORTS NUTRITION PLAN.</span>
                </p>
                <div class="row">
                  <div class="col-md-6">
                    <p style="text-align: justify; border: 1px solid #ccc; padding: 10px 10px 10px 10px;">We work on counselling individuals and group/team nutrition counselling for performance and stamina,
                      translating the latest scientific research in the field of Sports nutrition science and into practical
                      implementable recommendations, tracking and documenting outcomes of the nutrition services, monitoring
                      the athlete’s intake and response and feedback for coaches, trainers, and parents.</p>
                  </div>
                  <div class="col-md-6">
                    <iframe height="200" src="https://www.youtube.com/embed/LnilUj8yx2w?ecver=1" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
                <p style="margin-top: 20px;">Providing sports nutrition education for sporting academy / school / sporting groups/ athletic teams, and community groups and maintaining professional competency and skills required for professional practice in the long run.</p>
                <p>Change the way you fuel. Change to the way the best athlete’s fuel. Choose the best Sports Nutrition Plan from the Best Sports Nutrition Company. </p>  
              </div>
            </div>
            
            <div class="col-md-3 pl-20 pl-sm-0 mt-sm-60">
              <div class="widget">
                <h4 class="widget-title text-uppercase bg-theme-colored p-10 text-white text-center">Testimonials</h4>
                <div class="latest-posts">
                      <article class="post media-post clearfix pb-0 mb-10 text-center">
                    <iframe width="1745" height="915" src="https://www.youtube.com/embed/bKALUSmZ4bU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5>Virdhawal Khade l Rujuta Khade</h5>
                    </article> 
                                        <article class="post media-post clearfix pb-0 mb-10 text-center">
                    <iframe width="1745" height="915" src="https://www.youtube.com/embed/5grnMUjpMJQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5>Joshna Chinappa</h5>
                    </article>
                      <article class="post media-post clearfix pb-0 mb-10 text-center">
                    <iframe width="1745" height="915" src="https://www.youtube.com/embed/SbiaWI4KiOc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5>Niranjan Mukundan</h5>
                    </article>
                     <article class="post media-post clearfix pb-0 mb-10 text-center">
                    <iframe width="1745" height="915" src="https://www.youtube.com/embed/ijjW5oYl8Vo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5>Pooja Rani</h5>
                    </article>
                    <article class="post media-post clearfix pb-0 mb-10 text-center">
                    <iframe width="1243" height="699" src="https://www.youtube.com/embed/BtDjDzGGhDs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
                    <h5>Dipankar Bhattacharjee</h5>
                    </article>
                                      <article class="post media-post clearfix pb-0 mb-10 text-center">
                    <iframe width="1745" height="915" src="https://www.youtube.com/embed/XvxPoZU5FbA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5>Anya Dsouza</h5>
                    </article> 
                       <article class="post media-post clearfix pb-0 mb-10 text-center">
                    <iframe width="1745" height="915" src="https://www.youtube.com/embed/2evWZGfzD7c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5>Gunjan Jadhav</h5>
                    </article>
                    <article class="post media-post clearfix pb-0 mb-10 text-center">
                    <iframe width="1745" height="915" src="https://www.youtube.com/embed/c0eZoklTZao" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5>Meryl Ann Mathew</h5>
                    </article>
                      <article class="post media-post clearfix pb-0 mb-10 text-center">
                    <iframe width="1745" height="915" src="https://www.youtube.com/embed/5oTLHbR17eo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5>Shiv Chowdhury</h5>
                    </article>
                    <article class="post media-post clearfix pb-0 mb-10 text-center">
                    <iframe width="1745" height="915" src="https://www.youtube.com/embed/DYzwRUir3ds" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5>Danush S</h5>
                    </article>
                    <article class="post media-post clearfix pb-0 mb-10 text-center">
                    <iframe width="1745" height="915" src="https://www.youtube.com/embed/DFe7cUh1Aec" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5>Dharmil Shah</h5>
                    </article>
                    <article class="post media-post clearfix pb-0 mb-10 text-center">
                    <iframe width="1745" height="915" src="https://www.youtube.com/embed/R9MxaF3_gOI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5>Swarna K Harith</h5>
                    </article>
                 
                    <article class="post media-post clearfix pb-0 mb-10 text-center">
                    <iframe width="1745" height="915" src="https://www.youtube.com/embed/D3qEmo7wDlM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5>Shraddha Apicatlaa</h5>
                    </article>
                    <article class="post media-post clearfix pb-0 mb-10 text-center">
                    <iframe width="1745" height="915" src="https://www.youtube.com/embed/rAefum7HZlE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5>Harsha</h5>
                    </article>
                    <article class="post media-post clearfix pb-0 mb-10 text-center">
                    <iframe width="1745" height="915" src="https://www.youtube.com/embed/yzzPo1iqLyE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5>Lohith M</h5>
                    </article>
                    <article class="post media-post clearfix pb-0 mb-10 text-center">
                    <iframe width="1745" height="915" src="https://www.youtube.com/embed/ECYHc39FRlY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5>Antariksh Mukherjee</h5>
                    </article>
                    <article class="post media-post clearfix pb-0 mb-10 text-center">
                    <iframe width="1745" height="915" src="https://www.youtube.com/embed/Kgc0r2qyPUU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5>Rishika Muralidhar</h5>
                    </article>
                  

                    <article class="post media-post clearfix pb-0 mb-10 text-center">
                    <iframe width="1745" height="915" src="https://www.youtube.com/embed/esVd6qJcDdY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5>Arya Roopa Anand</h5>
                    </article>
                          
                    <article class="post media-post clearfix pb-0 mb-10 text-center">
                    <iframe width="1745" height="915" src="https://www.youtube.com/embed/Bom3BPLf9mk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5>Anushka Patil</h5>
                    </article>
                    <article class="post media-post clearfix pb-0 mb-10 text-center">
                    <iframe width="1745" height="915" src="https://www.youtube.com/embed/gTD63knXSVQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5>Aditya Volvoikar</h5>
                    </article>  
  
                   
                    <article class="post media-post clearfix pb-0 mb-10 text-center">
                    <iframe width="1745" height="915" src="https://www.youtube.com/embed/646R9Bu8r1w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5>Tharakesh Ashokar</h5>
                    </article>
                  
                    <article class="post media-post clearfix pb-0 mb-10 text-center">
                    <iframe width="1745" height="915" src="https://www.youtube.com/embed/N5bzBQLngds" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5>Mohit Balasubramanium</h5>
                    </article>
                  <article class="post media-post clearfix pb-0 mb-10 text-center">
                      <img width="120" height="120" src="../images/gallery/1.jpg" alt="" class="img-circle">
                      <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Shikhar Dhawan</h4>
                      <p class="text-white font-13 text-center">Nutrition plays a key role in my recovery and performance. Using Sports Gene testing and advance nutritional blood biochemistry helps me. Eating with a plan gets more scientific and result oriented this way.</p>
                  </article>
                  <article class="post media-post clearfix pb-0 mb-10 text-center">
                      <img width="120" height="120" src="../images/gallery/2.jpg" alt="" class="img-circle">
                      <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Robin Uthappa</h4>
                      <p class="text-white font-13 text-center">The team at QUA NUTRITION has helped me change the way I eat for performance. My weight loss and muscle gain is there for everbody to see.</p>
                  </article>
                  <article class="post media-post clearfix pb-0 mb-10 text-center">
                      <img width="120" height="120" src="../images/gallery/3.jpg" alt="" class="img-circle">
                      <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Shubhankar Sharma</h4>
                      <p class="text-white font-13 text-center">Being a vegetarian, it is difficult to meet your protein needs on time. Working with a structured Nutrition Plan allows me to. Also understanding my vitamin and fat absorption genes, I was able to work with my Sports Nutritionist to fuel when on hectic matches across the World. </p>
                  </article>
                  <article class="post media-post clearfix pb-0 mb-10 text-center">
                      <img width="120" height="120" src="../images/gallery/6.jpg" alt="" class="img-circle">
                      <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">K Kiran Kumar Raju</h4>
                      <p class="text-white font-13 text-center">Been associated with QUA Nutrition for the past 5months. It's been an awesome time understanding aspects and importance of nutrition. They have the best team to help you with micro details of nutrition and closely work with individuals on regular intervals with utmost patience understanding specific needs. </p>
                  </article>
                  <article class="post media-post clearfix pb-0 mb-10 text-center">
                      <img width="120" height="120" src="../images/gallery/5.jpg" alt="" class="img-circle">
                      <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Joshna Chinappa</h4>
                      <p class="text-white font-13 text-center">As an athlete I was aware of the importance of good nutrition to compliment my training and my matches. But after joining QUA is when I realized how much of my old habits. I needed to change in order to be the best athlete I can be mentally and physically. I have been working with Lakshmi and Ryan for a few months now and their inputs and meal plans have been able to take my game and training to another level. I have seen a huge difference so soon after working with them. Their knowledge and expertise is something I count on almost everyday whether it’s during training or playing tournaments. Very Fortunate to have Ryan and Lakshmi on my team to help me be the best athlete I can be.</p>
                  </article>
                  <article class="post media-post clearfix pb-0 mb-10 text-center">
                      <img width="120" height="120" src="../images/gallery/7.jpg" alt="" class="img-circle">
                      <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Sushil Kumar</h4>
                      <p class="text-white font-13 text-center">I worked with Sushil for two Olympics. Our focus was better diets, Superfoods, and supplements. We also integrated high-end sports testing which allowed us to boost nutrition to help in quicker recoveries between bouts. Till date, his two Olympic medals are the biggest success we have obtained in sports nutrition - Ryan Fernando, Nutrition Coach to Sushil Kumar</p>
                  </article>
                  <article class="post media-post clearfix pb-0 mb-10 text-center">
                      <img width="120" height="120" src="../images/gallery/9.jpg" alt="" class="img-circle">
                      <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Supriyo Mondal</h4>
                      <p class="text-white font-13 text-center">Working with Qua Nutrition makes me understand that I cannot cheat on my diet. I have to be disciplined, so as to perform better. They help to keep me on track by talking to me and guiding me</p>
                  </article>
                
                </div>
              </div>
            </div>
          
       
      
  
    
  

    <!-- Section: Team -->
    <section id="trainer" class="bg-light">
      <div class="container pb-0">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-8">
              <h2 class="text-uppercase text-left">Our <span class="text-black font-weight-300">TESTIMONIALS</span></h2>
            </div>
          </div>
        </div>
        <div class="section-content pb-10">
          <div class="row-carousel owl-carousel-5col pb-30">
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/gallery/1.jpg" alt="">
                  <h4 class="text-dark-01 mt-5 mb-5 text-center">Shikhar Dhawan</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Cricketer </h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">Nutrition plays a key role in my recovery and performance. Using Sports Gene testing and advance nutritional blood biochemistry helps me. Eating with a plan gets more scientific and result oriented this way.</p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/gallery/2.jpg" alt="">
                  <h4 class="text-dark-01 mt-5 mb-5 text-center">Robin Uthappa</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Cricketer</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">The team at QUA NUTRITION has helped me change the way I eat for performance. My weight loss and muscle gain is there for everbody to see.</p>
                    <div class="height_space_2"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/gallery/3.jpg" alt="">
                  <h4 class="text-dark-01 mt-5 mb-5 text-center">Shubhankar Sharma</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Golfer</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">Being a vegetarian, it is difficult to meet your protein needs on time. Working with a structured Nutrition Plan allows me to. Also understanding my vitamin and fat absorption genes, I was able to work with my Sports Nutritionist to fuel when on hectic matches across the World. </p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/gallery/5.jpg" alt="">
                  <h4 class="text-dark-01 mt-5 mb-5 text-center">Joshna Chinappa</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Squash Player</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">As an athlete I was aware of the importance of good nutrition to compliment my training and my matches. But after joining QUA is when I realized how much of my old habits I needed to change in order to be the best athlete I can be mentally and physically. I have been working with Lakshmi and Ryan for a few months now and their inputs and meal plans have been able to take my game and training to another level. I have seen a huge difference so soon after working with them. Their knowledge and expertise is something I count on almost everyday whether it’s during training or playing tournaments. Very Fortunate to have Ryan and Lakshmi on my team to help me be the best athlete I can be.</p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-xs-12 col-sm-6 col-md-3 col-half-offset mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">Virdhawal Khade l Rujuta Khade
                  <img class="img-fullwidth" src="images/gallery/4.jpg" alt="">
                  <h4 class="text-white mt-5 mb-5 text-center">BCCI Women's Cricket Team</h4>
                  <h6 class="text-theme-colored mt-0 mb-5 text-center">Cricket</h6>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">"BCCI Women's Cricket Team</p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/gallery/6.jpg" alt="">
                  <h4 class="text-dark-01 mt-5 mb-5 text-center">K Kiran Kumar Raju</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Biker</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">Been associated with QUA Nutrition for the past 5months. It's been an awesome time understanding aspects and importance of nutrition. They have the best team to help you with micro details of nutrition and closely work with individuals on regular intervals with utmost patience understanding specific needs.</p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/gallery/7.jpg" alt="">
                  <h4 class="text-dark-01 mt-5 mb-5 text-center">Sushil Kumar</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Wrestler</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">I worked with Sushil for two Olympics. Our focus was better diets, Superfoods, and supplements. We also integrated high-end sports testing which allowed us to boost nutrition to help in quicker recoveries between bouts. Till date, his two Olympic medals are the biggest success we have obtained in sports nutrition - Ryan Fernando, Nutrition Coach to Sushil Kumar</p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/gallery/8.jpg" alt="">
                  <h4 class="text-dark-01 mt-5 mb-5 text-center">Jennifer Luikham</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Tennis</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">"Learning to eat for power, endurance and recovery was like going back to school.The team of Nutritionists kept designing the 7- day Nutrition Plans based on my training, competition and even travel. Eating disciplined is difficult. But once I understood my Sports and Nutrition gene test results, I began eating with a purpose for performance and recovery."</p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>
           <!-- <div class="col-xs-12 col-sm-6 col-md-3 col-half-offset mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="images/gallery/9.jpg" alt="">
                  <h4 class="text-white mt-5 mb-5 text-center">Supriyo Mondal</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Swimmer</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">Working with Qua Nutrition makes me understand that I cannot cheat on my diet. I have to be disciplined, so as to perform better. They help to keep me on track by talking to me and guiding me</p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/gallery/10.jpg" alt="">
                  <h4 class="text-dark-01 mt-5 mb-5 text-center">Trishul Chinappa</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Golfer</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">My body is my temple. Hence I do my best to eat right and train well. When I started off at Qua Nutrition 4 years ago, I got a good idea of what a balanced meal should consist of and how to eat three solid meals through the day. Over time I've learned about different kinds of food and how they affect and contribute to my well-being and performance through the diet plans I have followed. The team at Qua -both Ryan Fernando and Lygia Correia constantly keep a tab on my body parameters and together we work to improve on them. My main improvement has been on the gold course. Knowledge of what to eat pre, during and post my tournament rounds, practice session, and workouts has helped me stay energetic and focused on my goals.</p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>


  
  <!-- end main-content -->
