<p>header works!</p>
<!-- Header -->
<header id="header" class="header">
    <div class="header-top sm-text-center bg-theme-colored-1">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 pt-5 pb-5 front-index show-text">
            <div class="header-widget text-white"><i class="fa fa-phone"></i><a class="text-dark" routerLink="tel: +91-9743430000">+91-9743430000</a></div>
          </div>
          <div class="col-xs-6 pt-5 pb-5 front-index show-text">
            <div class="header-widget text-white"><a routerLink="#" class="btn btn-theme-colored btn-flat btn-sm" role="button" data-toggle="modal" data-target="#schedulecall">Schedule a call</a></div>
          </div>
          <div class="col-md-4 hide-text">
            <!-- <nav>
              <ul class="list-inline sm-text-center text-left flip mt-5">
                <li> <a class="text-white" routerLink="#">FAQ</a> </li>
                <li class="text-white">|</li>
                <li> <a class="text-white" routerLink="#">Help Desk</a> </li>
                <li class="text-white">|</li>
                <li> <a class="text-white" routerLink="#">Support</a> </li>
              </ul>
            </nav> -->
          </div>
          <div class="col-md-6 front-index hide-text">
            <div class="widget m-0 mt-5 no-border">
              <ul class="list-inline text-right sm-text-center">
                <li class="pl-10 pr-10 mb-0 pb-0">
                  <div class="header-widget text-white"><i class="fa fa-phone"></i><a class="text-dark" routerLink="tel: +91-9743430000">+91-9743430000</a></div>
                </li>
                <li class="pl-10 pr-10 mb-0 pb-0">
                  <div class="header-widget text-white"><i class="fa fa-envelope-o"></i><a class="text-dark" routerLink="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=devika@quanutrition.com" target=" "> devika@quanutrition.com </a></div>
                </li>
                <li class="pl-10 pr-10 mb-0 pb-0">
                  <div class="header-widget text-white"><a routerLink="#" class="btn btn-theme-colored btn-flat btn-sm" role="button" data-toggle="modal" data-target="#schedulecall">Schedule a call</a></div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-2 text-right flip sm-text-center front-index hide-text">
            <div class="widget m-0">
              <ul class="styled-icons icon-dark icon-circled icon-theme-colored icon-sm">
                <li class="mb-0 pb-0"><a routerLink="https://www.facebook.com/QUAnutritionCLINICS/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li class="mb-0 pb-0"><a routerLink="https://twitter.com/Qua_Nutrition?lang=en" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li class="mb-0 pb-0"><a routerLink="https://www.instagram.com/qua.nutrition/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li class="mb-0 pb-0"><a routerLink="https://www.youtube.com/user/quanutrition" target="_blank"><i class="fa fa-youtube text-white"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-nav">
      <div class="header-nav-wrapper bg-light-01 navbar-scrolltofixed">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div id="menuzord-right" class="menuzord orange no-bg"> <a class="menuzord-brand stylish-header stylish pull-left flip" routerLink="javascript:void(0)"><img class="stylish-line" height="75" src="../images/logo.png" alt="logo"></a>
                <ul class="menuzord-menu">
                  <li><a routerLink="Beauty">Home</a></li>
                  <li><a routerLink="NutritionPackage" target="_blank">Packages</a>
                    <ul class="dropdown">
                      <li><a routerLink="fzpro"><b>fzpro</b></a></li>
                      <li><a routerLink="CorporateNutritionPlan"><b>CorporateNutritionPlan</b></a></li>
                      <li><a routerLink="WeightLossTrimDown"><b>Weight Loss</b></a></li>
                      <li><a routerLink="WeightGain"><b>Weight Gain</b></a></li>
                      <li><a routerLink="GeneticNutrition"><b>Genetic Testing</b></a></li>
                      <li><a routerLink="NewLife"><b>New Life</b></a></li>
                      <li><a routerLink="NutritionKids"><b>Nutrition For Kids</b></a></li>
                      <li><a routerLink="NutritionYou"><b>Nutrition For Men/Women</b></a></li>
                      <li><a routerLink="Beauty"><b>Beauty</b></a></li>
                      <li><a routerLink="WeddingBells"><b>Wedding Bells</b></a></li>
                      <li><a routerLink="MentalNutrtion"><b>Mental Nutrition</b></a></li>
                      <li><a routerLink="MedicalNutrition"><b>Medical Nutrition</b></a></li>
                      <li><a routerLink="SportsNutrition"><b>Sports Nutritional Plan</b></a></li>
                      <li><a routerLink="InternationalCounselling"><b>International Nutritional Plan</b></a></li>
                    </ul>
                  </li>
                  <li><a routerLink="About">Why Qua?</a></li>
                  <li><a routerLink="Testimonial">Testimonials</a></li>
                  <li><a routerLink="Videos">Videos</a></li>
                  <li><a routerLink="Team">Team</a></li>
                  <li><a routerLink="NutritionPackage" >Nutritional Facts</a></li>
                  <li><a routerLink="Contact">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
