<p>mental-nutrtion works!</p>
 <!-- Start main-content -->
 <div class="main-content">

    <!-- Section: Classes details -->
    <section>
      <div class="container">
        <div class="section-title text-center mb-10">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="title text-uppercase mb-0">Nutrition <span class="text-black font-weight-300">for Mental Health</span></h2>
              <p class="text-uppercase letter-space-1 text-center">Food For Your Emotional Well-Being</p>
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-9">
              <!-- <div class="single-class-details">
                <img src="../images/p12.jpg" class="img-fullwidth" alt="">
                <div class="pull-left flip">
                  <h3 class="text-uppercase letter-space-1">Nutrition for Mental Health</h3>
                </div>
              </div> -->
              <div class="classes-schedules">
                <p>Mental health is “a state of well-being and in equilibrium in which every individual realizes his/her own potential, can cope with normal stresses of everydaylife, and can work productively and fruitfully”. Positive mental health enhances social cohesion and social capital, improves peace and stability in the living environment, contributes to economic development in societies, and is a principle of democratic society. Mental health problems occur across all ages, cultures, and populations.</p>
                <p>The food we eat is associated with our mood, behaviour, and cognition. Current knowledge connecting nutrition with mental health is based on a variety of evidence garnered from supporting animal behavioural research, neurochemical experiments in vitro, epidemiological studies and clinical trials.Recent evidence suggests that good nutrition is essential for our mental health and that a number of mental health conditions may be influenced by dietary factors.There are already 10 common interrelated frameworks that explain the interactions between the functions of the mind and the food we eat. (Figure 1). </p>
                <div class="row mt-20">
                  <div class="col-md-6">
                    <p style="border:1px solid #fff;text-align: justify;padding: 10px;">
                    Nutrition role is one of the most obvious, yet under-recognised factors in the development of major trends in mental health. The research and the scale of evidence linking diet and mental health is growing at a rapid pace. Besides its impact on short and long-term mental health, evidence indicates that food plays a very important contributing role in the management and prevention of specific mental health problems such as depression, schizophrenia, attention deficit hyperactivity disorder, and Alzheimer’s disease.Every day, fortunately, the burgeoning field of nutritional psychiatry is finding many consequences and correlations between not only what you eat, how you feel, and how you ultimately behave, but also to the kinds of bacteria that live in your gut.
                    </p>
                  </div>
                  <div class="col-md-6">
                    <img src="../images/mental_nutrition.png" style="width:490px; float:right;">
                  </div>
                </div>
                <p>At Qua Nutrition, you will find a nutritionist who will not only give you a relevant nutrition plan but will take time understand you situation and goals, connect with your counsellor and work with in all ways to get back on track.</p>
              </div>
            </div>
            <div class="col-md-3 pl-60 pl-sm-0 mt-sm-60">
              <div class="widget">
                <h4 class="widget-title text-uppercase bg-theme-colored p-10 text-white text-center">Testimonials</h4>
                <div class="latest-posts">
                  <article class="post media-post clearfix pb-0 mb-10 text-center">

                      <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Vincent S</h4>
                      <p class="text-white text-center font-13">Result oriented nutrition clinic. I liked their systematic & professional way of handling clients. The stress of everday life affected my attention levels and peace of mind. I never believed food can be the cure, but still went ahead with QUA Nutrition on insist of my family. My nutritionist Ms. Rhoda Bincy was very helpful. She gave an easy-to-follow nutrition plan. It's working good for me. Highly recommended. After a session here, you'll be awed by the things that the correct food can do to your body & mind.</p>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Section: Team -->
    <section id="trainer" class="bg-light">
      <div class="container pb-0">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-8">
              <h2 class="text-uppercase text-left">Our <span class="text-black font-weight-300">TESTIMONIALS</span></h2>
            </div>
          </div>
        </div>
        <div class="section-content pb-10">
          <div class="row-carousel owl-carousel-5col pb-30">
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/female.html" alt="">
                  <h4 class="text-gray mt-5 mb-5 text-center">Nayantara R</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Mental Nutrition </h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">Working with Sahiba at Qua Nutrition has helped me deal with my stress-related digestive problems. We were able to identify food triggers and build a diet around it, and it's made a world of difference. Many thanks for helping me get back on track!</p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/female.html" alt="">
                  <h4 class="text-gray mt-5 mb-5 text-center">Anuradha R</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Mental Nutrition</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">Visiting QUA Nutrition has been one of my best decisions. I met Rhoda and Ekkta in QUA Indiranagar branch and since then my food habits and my way of living has changed for good. Rhoda and Ekkta are good listeners, kind and caring. They understood my food habits and customised a nutritious diet. I feel energetic whole day, beat stress and get sound sleep. All my queries were handled right away. Rhoda and Ekkta are best in their jobs and am ever grateful.</p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/male.html" alt="">
                  <h4 class="text-gray mt-5 mb-5 text-center">Vincent S</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Mental Nutrition</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">Result oriented nutrition clinic. I liked their systematic & professional way of handling clients. The stress of everday life affected my attention levels and peace of mind. I never believed food can be the cure, but still went ahead with QUA Nutrition on insist of my family. My nutritionist Ms. Rhoda Bincy was very helpful. She gave an easy-to-follow nutrition plan. It's working good for me. Highly recommended. After a session here, you'll be awed by the things that the correct food can do to your body & mind.</p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/female.html" alt="">
                  <h4 class="text-gray mt-5 mb-5 text-center">Shreya Saha</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Mental Nutrition</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">Working with Qua Nutrition influences me to comprehend that I can't undermine my eating routine. I was taught, in order to perform better be it at workplace or home, I need mental energy to carry out different task. The diet chart was just magical. They also help to keep me on track by conversing with me and directing me.</p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/male.html" alt="">
                  <h4 class="text-gray mt-5 mb-5 text-center">N.S.Vishnu karan</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Mental Nutrition</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">I went to Qua nutrition to improve my overall energy , cognitive performance and gain healthy weight. Dieticians Lakshmi and Safa were really helpful and gave me customised nutrition plan which was practical and easy to follow. Highly recommended.</p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    

  </div>
  <!-- end main-content -->