<p>nutrition-you works!</p>
 <!-- Start main-content -->
 <div class="main-content">
    <div class="container">

    <div class="section-title text-center mb-10">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="title text-uppercase mb-0">Nutrition <span class="text-black font-weight-300">for men / women</span></h2>
              <p class="text-uppercase letter-space-1">Powerful Nutrition Guidance For You</p>
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-9">
              <!-- <div class="single-class-details">
                <img src="../images/p6.jpg" class="img-fullwidth" alt="">
                <div class="pull-left flip">
                  <h3 class="text-uppercase letter-space-1">Nutrition for you</h3>
                </div>
              </div> -->
              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#man">I'm Man</a></li>
                <li><a data-toggle="tab" href="#woman">I'm Women</a></li>
              </ul>
              <div class="tab-content">
                <div id="man" class="tab-pane fade in active">
                  <div class="classes-schedules">
                <p style="text-align: justify;">Men are typically bigger than women and have more muscles, they require more calories throughout the day.</p>
                <p style="text-align: justify;">Males of all ages can benefit from eating a balanced and nutritious varied diet, getting enough calcium, avoiding high fat and sugar content (like fast food) and exercising daily.</p>
                <p style="text-align: justify;">However, if you are worried about your personal nutrition or weight, visit a Nutritionist that can customise the Nutrition plan around your concerns. There are many diets and supplements that can be dangerous to your health. Do not self-medicate and indulge.</p>
                <p style="text-align: justify;">All too often, men don't think about what they're eating. Diets tend to be driven by convenience and accessibility. Choosing to live well is choosing to eat well.Men are significantly less likely than women to recognize the health benefits of Nutrition.</p>
              <p style="text-align: justify;">A healthy diet can help you look better and feel younger. But with all the books, magazines and infomercials out there selling the latest diet trend, how do you know what really is a well-balanced, healthy way to eat?</p>
              <p style="text-align: justify;">Did you know men¡¯s nutrition needs change at different times of the lifespan?</p>
              <p style="text-align: justify;">Good nutrition is essential for peak performance, and a healthy diet should meet your physical needs, fit with your lifestyle, and be enjoyable.</p>
                <div class="row mt-10 mb-10">
                    <div class="col-md-6">
                        <iframe width="200" height="100" src="https://www.youtube.com/embed/PQp8G3sTeSs"></iframe>
                    <p class="fmt mt-10" style="color:white;">
                        <strong>3 NUTRITION SECRETS TO BETTER YOUR BODY IN THE GYM</strong>
-Sports Nutrition Seminar for recreational athletes, Bangalore
                    </p>
                    </div>
                    
                    
                                        <div class="col-md-6">
                        <iframe width="200" height="100" src="https://www.youtube.com/embed/IpJLOMl_d4c"></iframe>
                    <p class="fmt mt-10" style="color:white;">
                        <strong>5 SECRETS BEAUTIFUL WOMEN DON¡¯T REVEAL TO THEIR GIRLFRIENDS</strong>

Corporate Nutrition Seminar - Healthy Diet Tips for Working Women- Cisco, Bangalore
                    </p>
                    </div>
                    
                    
              </div>
              <h4>Men, how do you choose a healthy diet?</h4>
              <p style="text-align: justify;">Men generally need more energy each day than women because they are often larger and more of their body is muscle. Men also need to take care of their health better than woman because -</p>
              <ul style="list-style: disc;margin-left: 30px;margin-bottom: 20px;">
                <li>Men have approximately 1 1/2 times the death rate of total cardiovascular diseases as women.</li>
                <li>Men have approximately 1 1/2 times the death rate of total cancers as women. </li>
                <li>Men have approximately 2 times the death rate of lung cancer as women. </li>
                <li>Men have approximately 1 1/2 times the death rate of colorectal cancer as women. </li>
                <li>More than two-thirds of men are overweight or obese. </li>
              </ul>
              <p style="text-align: justify;">Many young men often wonder if dietary supplements can help them build bigger muscles, grow taller, or make them better athletes.</p>
              <p style="text-align: justify;">However, supplements cannot substitute a healthy diet and regular exercise. Supplements advertisements far often promise big results without scientific data to back up their claims and do not highlight the side effects of having unsupervised supplementation.</p>
              <p style="text-align: justify;">At Qua Nutrition, we understand your lifestyle and provide you with the best fuel for a better living.</p>
              <h3>For the Fitness Warrior in You</h3>
              <p style="text-align: justify;">Some of you like to kill it in the gym or in any form of workout. Marathon running, golf, or a recreational fitness element is a must for you in your daily regime and you manage it well with all other professional activity that you have. But you still need that extra element to get you to the warrior status in office and at fun. Suitably fuelling and refuelling your body is essential to achieving your targeted fitness goals.</p>
              <p style="text-align: justify;">As an athlete, I am sure you have read, heard or discussed what, when, and how much you should eat. We are constantly inundated with the latest research, fad diet or myth about what we should be eating and drinking to achieve greater endurance, build stronger muscles, attain a better body composition and the list goes on and on. But, what is the right amount and what should you be eating and drinking to maximize your athletic performance?</p>
              <p style="text-align: justify;">A structured nutrition planat planat Qua Nutrition can go a long way in complimenting your exercise regime. They build on each other and make you the healthiest you have ever been.</p>
              <h3>Students:</h3>
              <p style="text-align: justify;">Boys are known for their enormous appetites and they usually eat without thinking about the nutritional content of their food. As with all things in life, however, what is done today will have a bearing some time in life. Students are busier and busier with school/college, part-time jobs and other activities. For many teens, nutrition consists of whatever can be eaten anywhere and everywhere while shuttling between activities. Eventually poor nutrition habits catch up with age. In fact, many show the effects of their poor nutrition practices as early as now even though they may not know it.</p>
              <p style="text-align: justify;">So how do you eat well? How do you prevent excessive weight gain and avoid obesity? What should you eat to perform well at sports?</p>
              <p style="text-align: justify;">At Qua Nutrition, our expert nutritionists will provide you with a nutrition plan that caters to your lifestyle, social circle, taste, interest and your eating habits.</p>
              <h3>Working Executives:</h3>
              <p style="text-align: justify;">Face it! All executives in their sharp power suits are cursed with a sedentary lifestyle.  Top it with long stressful hours, bad cafeteria food, official party, travel and almost no exercise time. The result: a body battered by stress hormones which in turn increases cholesterol, blood pressure and various diet related diseases. Not to mention - the bulge starts creeping in.</p>
              <p style="text-align: justify;">At Qua Nutrition our experts will plan your strategies for a healthy eating pattern keeping in mind your sedentary lifestyle, the crazy work hours and even your travel schedule. Our team will provide you the aid that will help you work around your constraints.</p>
              <h3>Your decade:</h3>
              <p style="text-align: justify;">Your 40s and 50s are the years when you have an established career and you can afford to leave the late-night duty to junior staff. Most often you spend your day at one place doing no form of activity. You also go out to eat more often. This is when the body slowly begins to retire, and metabolic diseases begin to creep in.  Eating right and working out will have its benefits as you age.</p>
              <p style="text-align: justify;">As you step into your 60s you cannot afford to eat the way you did in your 20s and keep weight off. As you age, you are typically less active and so you lose muscle and gain fat. These things cause metabolism to slow down. So watching what you eat during these years, you can keep your body and mind sharp and extend your quality of life.</p>
              <p style="text-align: justify;">At Qua Nutrition we will customize a plan to suit your age. Our Diet and supplement regime will change the way you feel as you take control of this part of your life towards a fitter healthier you.</p>
              </div>
                </div>
                <div id="woman" class="tab-pane fade">
                  <div class="classes-schedules">
                    <p style="text-align: justify;">There are only 3 things women need in life &#8722; food, water and compliments &#8722; Chris Rock </p>
                    <p>We provide the guide to achieve and deserve all the 3 in abundance and more. </p>
                    <p style="text-align: justify;">In a women's life, nutrition and regular exercise are the cornerstones of good health and optimal energy. Certain vitamins and minerals become progressively more important at different stages of life. Knowing which element matters most can help woman achieve the fountain of eternal youth.</p>
                    <p style="text-align: justify;">Eating well is one of the best ways you can take care of yourself and those who depend on you. A healthy diet gives you energy to get through your busy day, supports your mood, helps you maintain your weight, and keeps you looking your best.</p>
                    <p style="text-align: justify;">Your food choices can help reduce PMS, boost fertility, combat stress, make pregnancy easier, and ease the symptoms of menopause.</p>
                    <p style="text-align: justify;">Awareness, not deprivation, informs what you eat</p>
                    <p style="text-align: justify;">Nutrition for Girls in Childhood and Early Teens</p>
                    <p style="text-align: justify;">As girls go into early teens, there is so many physical, hormonal and emotional changes, that nutrition can take a back seat. But in order to have the best a peaceful transition to a young woman, who is confident and ready to take on the world, good health is important. Not only does it keep you healthy, but makes life easy by making you look the best you can. No pimples, great skin, great hair, and an enviable shape. </p>
                    <p style="text-align: justify;">Look at getting a nutrition plan with Qua Nutrition to keep away the pains of growing up away. Learn how to eat well and correctly to stay young forever. </p>
                    <h4>Working Executives:</h4>
                    <p style="text-align: justify;">Young women need a balanced diet to fuel their active bodies and minds. But at this point in life, healthy eating sometimes becomes a challenge. College life and work can interrupt normal patterns of eating. Unhealthy body image issues can take over. In addition, hormonal changes can lead to problems like premenstrual syndrome. The best thing a young woman can do is understand her own body and stay healthy by eating a balanced diet and getting regular physical activity.</p>
                    <p style="text-align: justify;">Most working executives face long stressful hours, bad cafeteria food, travel and with almost no exercise time. As a result, the body is battered by stress hormones which in turn increase cholesterol, blood pressure and various diet related diseases.  For working executives, life becomes stressful especially with office and household responsibilities and playing the role of a nurturer.</p> 
                    <p style="text-align: justify;">At Qua Nutrition our experts will guide working executives to make time for food breaks, maintain healthy diet choices and avoid hunger pangs during the day. Our experts will customize your nutrition plans tailored to suit your requirements and workload at home and work.</p>
                    <h3>Home-makers:</h3>
                    <p style="text-align: justify;">"I hate the word housewife; I don¡¯t like the word home-maker either. I want to be called Domestic Goddess". - Roseanne. </p>
                    <p style="text-align: justify;">You are in the profession of ¡®making a home¡¯, a secure refuge for your family. It¡¯s time you placed your health and nutritional needs as priority because the wellbeing of your family rests on you. It is time that you put your health in priority and learn how to use these tips for your family as well. </p>
                    <p style="text-align: justify;">At Qua Nutrition, we recognize your contribution to our social fabric and our Experts will plan your diets and eating habits to keep you healthy and fit to be a SUPERWOMAN! And yes, also a domestic goddess!</p>
                                    <div class="row mt-10 mb-10">
                    <div class="col-md-6">
                        <iframe width="200" height="100" src="https://www.youtube.com/embed/PQp8G3sTeSs"></iframe>
                    <p class="fmt mt-10" style="color:white;">
                        <strong>3 NUTRITION SECRETS TO BETTER YOUR BODY IN THE GYM</strong>
-Sports Nutrition Seminar for recreational athletes, Bangalore
                    </p>
                    </div>
                    
                    
                                        <div class="col-md-6">
                        <iframe width="200" height="100" src="https://www.youtube.com/embed/IpJLOMl_d4c"></iframe>
                    <p class="fmt mt-10" style="color:white;">
                        <strong>5 SECRETS BEAUTIFUL WOMEN DON¡¯T REVEAL TO THEIR GIRLFRIENDS</strong>

Corporate Nutrition Seminar - Healthy Diet Tips for Working Women- Cisco, Bangalore
                    </p>
                    </div>
                    
                    
              </div>
                    <p>The Uncontrollable hormones - </p>
                    <p style="text-align: justify;">The interplay of hormones throughout a woman¡¯s menstrual cycle affects her body and state of mind. Some women also have food cravings as their period approaches with higher energy intake during premenstrual phase. Some women face this more than the others. </p>
                    <p style="text-align: justify;">Add to the same complexities of conditions like thyroid and PCOS/ PCOD. Medical practioners say that in order to treat these syndromes-  Get rid of the problems it has created (the classic chicken and egg situation).  Life is not becoming uncomplicated soon.</p>
                    <p>Help is at hand. </p>
                    <p style="text-align: justify;">Look at a structured nutrition plan with a Nutritionist who specialises in understanding woman hormonal behaviour and look to not only tame your body but your mind as well.</p>
                    <h4>The Dreaded Menopause </h4>
                    <p style="text-align: justify;">No one looks forward to the time, when the woman body resets itself. Menopause is an individual experience for every woman, a time of transition, the end of the fertile years.</p>
                    <p style="text-align: justify;">Menopause is caused by a fall in the amount of the oestrogen hormone produced by the ovaries. The decline/ absence of oestrogen can mean varied changes in energy levels, memory, bone health, hormones, urinary and heart health.</p>
                    <p style="text-align: justify;">Research¡¯s done recently focus on the effects of optimal nutrition on the health and wellbeing of the women around the time of the menopause. It is increasingly being found that good nutrition and optimising the intake of specific nutrients, together with small lifestyle changes can offer significant help in maintaining a healthy menopause and make a real difference to how women feel.</p>
                    <p style="text-align: justify;">Menopause affects women in completely different ways, but the most common symptoms include hot flushes, sweating, insomnia, anxiety, impairment of memory and fatigue. Long term consequences due to reduced oestrogen are a decline in libido, osteoporosis, heart disease, even dementia. </p>
                    <h4>Adding the right foods to your diet as you approach menopause can actually reduce or prevent menopause symptoms. And the earlier you make these dietary changes, the easier menopause can be.</h4>
                    <p style="text-align: justify;">We believe that in your 50¡¯s, you should have the vitality and the vigour of a body that has 50 more years in her (at least!). At Qua Nutrition we will plan the foods, supplements, nutrition and special elixirs that will keep you protected against most life style diseases during your 50s.</p>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="col-md-3 pl-60 pl-sm-0 mt-sm-60">
              <div class="widget">
                <h4 class="widget-title text-uppercase bg-theme-colored p-10 text-white text-center">Testimonials</h4>
                <div class="latest-posts">
                  <article class="post media-post clearfix pb-0 mb-10 text-center">
                      <img width="120" height="120" src="../images/gallery/22.jpg" alt="" class="img-circle">
                      <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Mr. Yegnesh</h4>
                      <p class="text-white font-13">As regards to the feedback on the service and other parameters, I am glad that your services are from a dedicated team and always wiling to help the client reach their goal. The nutrition service is excellent and you are made comfortable and allowed to go slow on the diet. Appreciate the time and effort in understanding the requirement of the client.</p>
                  </article>
                  <article class="post media-post clearfix pb-0 mb-10 text-center">

                      <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Jessie R</h4>
                      <p class="text-white font-13">QUA Nutrition is the best place to stay healthy and happy. The dedicated staff takes health very seriously. Lygia is ready to help with great suggestions. Now I enjoy parties without feeling guilty anymore.</p>
                  </article>
                  <article class="post media-post clearfix pb-0 mb-10 text-center">
                      <img width="120" height="120" src="../images/gallery/30.jpg" alt="" class="img-circle">
                      <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Gabrielloy</h4>
                      <p class="text-white font-13">My nutrition sessions with Minacshi have been enjoyable and enlightening. I always believed that I was following a healthy diet but after meeting Minacshi I realised how far off course my diet actually was. She brought a wealth of knowledge both in terms of practical dietary suggestions, but also in explaining the biology behind how different foods affect your body. She is a one of a kind nutritionist. Minacshi did a great job of diagnosing nutritional areas which I could adjust to reach my goals. By taking the time to understand my lifestyle and goals, she was able to give me great recommendations which I¡¯ve enjoyed. My energy levels have improved and she has also helped me achieve a better looking leaner body. I would recommend Qua. You will be pleased.</p>
                  </article>
                  <article class="post media-post clearfix pb-0 mb-10 text-center">

                      <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Damini Puri</h4>
                      <p class="text-white font-13">Great team of nutritionists helping you achieve your health and lifestyle goals.Working with Lygia was a pleasure ! She is extremely understanding , accommodating and knowledgeable. She goes out of her way to help you with any questions you may have and is very responsive.Highly reccomend !</p>
                  </article>
                  
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
   
    
        <div class="section-content container">
          <div class="row">
            <div class="col-md-12">
              <!-- <div class="single-class-details">
                <img src="../images/p5.jpg" class="img-fullwidth" alt="">
                <div class="pull-left flip">
                  <h3 class="text-uppercase letter-space-1">Nutrition For Kids</h3>
                </div>
              </div> -->
              <div class="classes-schedules">
                <div class="row mb-20">
                  <div class="col-md-6">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/PQp8G3sTeSs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p class="pt-10">THE SECRET BEHIND HAVING A MILLION DOLLAR BODY VIA NUTRITION HACKS
Corporate Nutrition Seminar- How to eat better in your working hours to Increase Productivity Enhance Pay Cheque- Act Broadband, Goa</p>
                  </div>
                  <div class="col-md-6">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/IpJLOMl_d4c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p class="pt-10">TOPIC : NUTRITION IS TOUGH. ITS SECRETS ARE TOUGHER ON YOU! LEARN SHORTCUTS FROM THE DIETITIAN TO FILMSTARS
Corporate Nutrition Seminar - Healthy Eating Hacks For Working Professional- Linkedin, Bangalore</p>
                  </div>
                </div>
    
            </div>
            
           </div>
        </div>
    </div>
    

    <!-- Section: Team -->
    <section id="trainer" class="bg-light">
      <div class="container">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-8">
              <h2 class="text-uppercase text-left">Our <span class="text-black font-weight-300">TESTIMONIALS</span></h2>
            </div>
          </div>
        </div>
        <div class="section-content pb-10">
          <div class="masonry pb-30">
            
            <div class="item" data-cat="you">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/gallery/30.jpg" alt="">
                  <h5 class="text-gray text-dark-01 mt-5 mb-5 text-center">Gabriello</h5>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Model</h5>
                  <div class="sidebar-box">
                    <p class="pt-0 mt-0 mb-0 p-10 text-center pb-0">My nutrition sessions with Minacshi have been enjoyable and enlightening. I always believed that I was following a healthy diet but after meeting Minacshi I realised how far off course my diet actually</p><p class="mt-0 mb-0 p-10 pt-0 text-center collapse" id="block-id17"> was. She brought a wealth of knowledge both in terms of practical dietary suggestions, but also in explaining the biology behind how different foods affect your body. She is a one of a kind nutritionist. Minacshi did a great job of diagnosing nutritional areas which I could adjust to reach my goals. By taking the time to understand my lifestyle and goals, she was able to give me great recommendations which I¡¯ve enjoyed. My energy levels have improved and she has also helped me achieve a better looking leaner body. I would recommend Qua. You will be pleased.<br>&nbsp;</p>
                    <a href="#block-id17" class="read-more" data-toggle="collapse" aria-expanded="false" aria-controls="block-id17"><span class="collapsed">Show more</span><span class="expanded">Show Less</span></a>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="item" data-cat="you">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/female.html" alt="">
                  <h5 class="text-gray text-dark-01 mt-5 mb-5 text-center">Kripa Williams</h5>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Nutrition For You</h5>
                  <div class="sidebar-box">
                    <p class="pt-0 mt-0 mb-0 p-10 text-center pb-0">An excellent experience where I learned to integrate healthier eating habits in to my lifestyle. After almost four years of being with Qua, their ideologies are now part of my life.The nutritionists </p><p class="mt-0 mb-0 p-10 pt-0 text-center collapse" id="block-id339">are well informed and very dedicated to their work. Kudos Qua! You will always be social to me.<br>&nbsp;</p>
                    <a href="#block-id339" class="read-more" data-toggle="collapse" aria-expanded="false" aria-controls="block-id339"><span class="collapsed">Show more</span><span class="expanded">Show Less</span></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="item" data-cat="you">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/gallery/21.jpg" alt="">
                  <h5 class="text-gray text-dark-01 mt-5 mb-5 text-center">Aniruddha Budhya</h5>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Nutrition For you</h5>
                  <div class="sidebar-box">
                    <p class="pt-0 mt-0 mb-0 p-10 text-center pb-0">I went to Qua Nutrition and met my dietitian Anjum in April with 89 kgs and I am 72 kgs now (October, 2014) with a total drop of 5% of body fat. I have renewed my plan to Genetic Testing now. I would definitely </p><p class="mt-0 mb-0 p-10 pt-0 text-center collapse" id="block-id002">recommend this clinic to all. My personal experience. Thank you Qua Nutrition and Anjum.<br>&nbsp;</p>
                    <a href="#block-id002" class="read-more" data-toggle="collapse" aria-expanded="false" aria-controls="block-id002"><span class="collapsed">Show more</span><span class="expanded">Show Less</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="item" data-cat="you">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/gallery/22.jpg" alt="">
                  <h5 class="text-gray text-dark-01 mt-5 mb-5 text-center">Mr. Yegnesh</h5>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Nutrition for you</h5>
                  <div class="sidebar-box">
                    <p class="pt-0 mt-0 mb-0 p-10 text-center pb-0">As regards to the feedback on the service and other parameters, I am glad that your services are from a dedicated team and always wiling to help the client reach their goal. The nutrition service</p><p class="mt-0 mb-0 p-10 pt-0 text-center collapse" id="block-id001">. is excellent and you are made comfortable and allowed to go slow on the diet. Appreciate the time and effort in understanding the requirement of the client.<br>&nbsp;</p>
                    <a href="#block-id001" class="read-more" data-toggle="collapse" aria-expanded="false" aria-controls="block-id001"><span class="collapsed">Show more</span><span class="expanded">Show Less</span></a>
                  </div>
                </div>
              </div>
            </div>
            
            
            <div class="item" data-cat="you">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/gallery/23.jpg" alt="">
                  <h5 class="text-gray text-dark-01 mt-5 mb-5 text-center">Mr. Vickram Murthy</h5>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Nutrition For You</h5>
                  <div class="sidebar-box">
                    <p class="pt-0 mt-0 mb-0 p-10 text-center pb-0">Thanks for the plan, it seems to be working well so far. I would also like to say thanks for spending the time and patience in handling my diet plan, that is what I like about Qua, the structuring of </p><p class="mt-0 mb-0 p-10 pt-0 text-center collapse" id="block-id16">the plan based on our day to day routine and food habits, it makes it so much easier to accommodate.<br>&nbsp;</p>
                    <a href="#block-id16" class="read-more" data-toggle="collapse" aria-expanded="false" aria-controls="block-id16"><span class="collapsed">Show more</span><span class="expanded">Show Less</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="item" data-cat="you">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/female.html" alt="">
                  <h5 class="text-gray text-dark-01 mt-5 mb-5 text-center">Mahua Chowdhury</h5>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Nutrition For You</h5>
                  <div class="sidebar-box">
                    <p class="pt-0 mt-0 mb-0 p-10 text-center pb-0">QUA Nutrition has helped me throughout the years in eating right. I have an outline made especially during my opposition. The outline made for me has additionally pushed me to increase my tallness.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item" data-cat="you">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/gallery/31.jpg" alt="">
                  <h5 class="text-gray text-dark-01 mt-5 mb-5 text-center">Kartikeyan VS</h5>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Nutrition For You</h5>
                  <div class="sidebar-box">
                    <p class="pt-0 mt-0 mb-0 p-10 text-center pb-0">This is one of the best thing happened in my life , that changed the way i perceive health and fitness. They helped me to reduce my body fat and increase the muscle mass. Their scientific approach</p><p class="mt-0 mb-0 p-10 pt-0 text-center collapse" id="block-id18"> paved way to solve my health issues with ease. I should appreciate the effort of Ms. Bhavani who regularly followed up on regime and reviewed it constantly. Now planning to go for a yearly plan.<br>&nbsp;</p>
                    <a href="#block-id18" class="read-more" data-toggle="collapse" aria-expanded="false" aria-controls="block-id18"><span class="collapsed">Show more</span><span class="expanded">Show Less</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="item" data-cat="you">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/gallery/32.jpg" alt="">
                  <h5 class="text-gray text-dark-01 mt-5 mb-5 text-center">Bharath DV</h5>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Nutrition For You</h5>
                  <div class="sidebar-box">
                    <p class="pt-0 mt-0 mb-0 p-10 text-center pb-0">"Is a Fitness Freak I was always worried about what I must eat because although my musculature was good I could get rid of my Tummy. This is when I met QUA Nutrition and they Enrolled me into</p><p class="mt-0 mb-0 p-10 pt-0 text-center collapse" id="block-id19">  a Nutrition Program with A Nutritionist in the Team and the results were awesome. My Tummy Gradually reduced in inches regularly and now am happy to flaunt a 4 pack. My next goal is to get a six pack in the next 60 days so Bring it on :) Thanks, QUA Nutrition."<br>&nbsp;</p>
                    <a href="#block-id19" class="read-more" data-toggle="collapse" aria-expanded="false" aria-controls="block-id19"><span class="collapsed">Show more</span><span class="expanded">Show Less</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="item" data-cat="you">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/gallery/36.jpg" alt="">
                  <h5 class="text-gray text-dark-01 mt-5 mb-5 text-center">Pradeep Ram</h5>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Nutrition for You</h5>
                  <div class="sidebar-box">
                    <p class="pt-0 mt-0 mb-0 p-10 text-center pb-0">"QUA Nutrition helped me get back into shape as I was struggling with my diet although I was training intensely... I was following a muscle building diet downloaded from the net ut it never helped me</p><p class="mt-0 mb-0 p-10 pt-0 text-center collapse" id="block-id23"> and I realized that my body type is different and my dietician customized it accordingly. Good job team :)"<br>&nbsp;</p>
                    <a href="#block-id23" class="read-more" data-toggle="collapse" aria-expanded="false" aria-controls="block-id23"><span class="collapsed">Show more</span><span class="expanded">Show Less</span></a>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="item" data-cat="you">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/female.html" alt="">
                  <h5 class="text-gray text-dark-01 mt-5 mb-5 text-center">Khayati Patel</h5>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Nutrition For You</h5>
                  <div class="sidebar-box">
                    <p class="pt-0 mt-0 mb-0 p-10 text-center pb-0">After the initial hesitancy on working with nutritionists (misconceptions about going on diet or eating less food etc.), I was referred to Qua by my mother and I must say that the plan </p><p class="mt-0 mb-0 p-10 pt-0 text-center collapse" id="block-id337">created for me was amazingly customised and extremely detailed. Lygia (my nutritionist) was professional and diligent in her approach, patiently listening to my food habits and cravings and suggesting healthy alternatives, where needed.I am satisfied with the results and hope to continue my association with Qua in future.<br>&nbsp;</p>
                    <a href="#block-id337" class="read-more" data-toggle="collapse" aria-expanded="false" aria-controls="block-id337"><span class="collapsed">Show more</span><span class="expanded">Show Less</span></a>
                  </div>
                </div>
              </div>
            </div>
             <div class="item" data-cat="you">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/female.html" alt="">
                  <h5 class="text-gray text-dark-01 mt-5 mb-5 text-center">Jessie R</h5>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Nutrition For You</h5>
                  <div class="sidebar-box">
                    <p class="pt-0 mt-0 mb-0 p-10 text-center pb-0">QUA Nutrition is the best place to stay healthy and happy. The dedicated staff takes health very seriously. Lygia is ready to help with great suggestions. Now I enjoy parties without feeling guilty anymore.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item" data-cat="you">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/female.html" alt="">
                  <h5 class="text-gray text-dark-01 mt-5 mb-5 text-center">Damini Puri</h5>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Nutrition For You</h5>
                  <div class="sidebar-box">
                    <p class="pt-0 mt-0 mb-0 p-10 text-center pb-0">Great team of nutritionists helping you achieve your health and lifestyle goals.Working with Lygia was a pleasure ! She is extremely understanding , accommodating and knowledgeable. She goes</p><p class="mt-0 mb-0 p-10 pt-0 text-center collapse" id="block-id338"> out of her way to help you with any questions you may have and is very responsive.Highly reccomend !<br>&nbsp;</p>
                    <a href="#block-id338" class="read-more" data-toggle="collapse" aria-expanded="false" aria-controls="block-id338"><span class="collapsed">Show more</span><span class="expanded">Show Less</span></a>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </section>


  </div>
  <!-- end main-content -->