<p>corporate-nutrition-plan works!</p>
 <!-- Start main-content -->
 <div class="main-content">

    <!-- Section: Classes details -->
    <section>
      <div class="container">
        <div class="section-title text-center mb-10">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="title text-uppercase mb-0">Corporate <span class="text-black font-weight-300">Nutrition Plan</span></h2>
              <p class="text-uppercase letter-space-1">For Healthier Workplaces</p>
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row">
              
              <div class="col-md-3 pr-20">
                                 <div class="row mb-20">
                  <div class="col-md-12">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/aPNKJ6h699w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p class="pt-10 ftm"><strong>Nutrition: The missing piece of your corporate success plan.
Corporate Nutrition Seminar</strong>- Earn a higher Paycheck by EATING for workplace performance.</p>
                  </div>
                  <div class="col-md-12">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/IpJLOMl_d4c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    
                  
                  <div class="col-md-12">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/RJ9i_2K5B58" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p class="pt-10 ftm"><strong>Nutrition in the Workplace can increase your Annual Bonus via enhanced Performance
Corporate Nutrition Seminar</strong> – Women Only hacks for simpler nutrition and Diet fixes Cisco, Bangalore</p>
                  </div>
                  
                  
                  <div class="col-md-12">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/VvVdLUEgVts" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p class="pt-10 ftm"><strong>Secret ways to think differently for your success.
Corporate Nutrition Seminar</strong> – Secrets that every CEO has in his eating Habits - Leela Palace, Bangalore</p>
                  </div>
                  
                  
                <div class="col-md-12">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/NNnyN63N0MA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p class="pt-10 ftm"><strong>Corporate Nutrition Seminar</strong> – Brain Food Hacks to be sharper when pitching or arguing your point of view - Bangalore</p>
                  </div>
                  
                      <div class="col-md-12">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/2JWOjZweaXk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p class="pt-10 ftm"><strong>Common mistakes on kids nutrition</strong>
Corporate Nutrition Seminar – 7 Nutrition & Eating Hacks for fussy Kids, Goa
</p>
                  </div>
                  
                  
                    <div class="col-md-12">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/GXrg7T3Tlcc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p class="pt-10 ftm"><strong>Avoid foods that make kids fail in exams</strong>

Corporate Nutrition Seminar Discover custom secrets that our TOPPERS use to ace exams?
</p>
                  </div>
                  
         <div class="col-md-12">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/LRH3CmGns9w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p class="pt-10 ftm"><strong>What no one is telling you about Child nutrition
</strong>Corporate Nutrition -Nutrition Secrets from a College Diary for successful Personality and Body, Bangalore
</p>
                  </div>
                  
                  
                  
                           <div class="col-md-12">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/iZyO4pta_sU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p class="pt-10 ftm"><strong>What are you doing wrong about your child’s nutrition
</strong>Corporate Nutrition Seminar – secrets no one is revealing that will make fitter and smarter kids - Whooppee, Kolkata
</p>
                  </div>
                  
                  
                  
                   <div class="col-md-12">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/d-eMlNqCuI8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p class="pt-10 ftm"><strong>How to eat with diabetes
</strong>Conquer Diabetes With Healthy Eating & Cooking- Ryan Fernando with Soha Ali Khan Pataudi & Kunal Vijayakar- News 18 India, Mumbai
</p>
                  </div>
                  
                  
                  
              
              
              
              
              
              
            <div class="col-md-6">
              <!-- <div class="single-class-details">
                <img src="../images/c1.jpg" class="img-fullwidth" alt="">
                <div class="pull-left flip">
                  <h3 class="text-uppercase letter-space-1">Corporate Nutrition Plan</h3>
                </div>
              </div> -->
              <div class="classes-schedules">
                <!--<p style="text-align:justify">Corporates are provided with state- of- the- art facilities, but imbalanced or poor nutrition and eating habits can be very costly to companies. With an increase in risk of obesity, heart disease, diabetes, kidney problems, raising health insurance claims and absenteeism, etc. are obstructing employee productivity. Nutrition plays a key role in helping positive outcomes for employers by way of improved productivity, combat work stress, fewer sick days and happier staff.</p>-->
                <!--<p style="text-align:justify">At QUA Nutrition we structure Nutrition Plans based on scientific researches. With an understanding of the blood parameters and the body assessment of each employee, we can assess what could be going wrong. It is proven that introduction of corporate nutrition and wellness programs work. We not only do one-on-one counselling, but we also offer Corporate Nutrition Interactive Lunch & Learn sessions:</p>-->
                <!--<ol style="list-style-type: decimal;margin-left: 50px;">-->
                <!--   <li>About nutrition</li>-->
                <!--   <li>How to combat work stress and boost immunity</li>-->
                <!--   <li>Staying healthy on the road</li>-->
                <!--   <li>Nutrition to help boost focus and attention</li>-->
                <!--   <li>What to eat when still at work</li>-->
                <!--   <li>Importance of eating every 2 hours,</li>-->
                <!--   <li>How to choose the food to help boost immunity, concentration and at the same time maintain health</li>-->
                <!--   <li>Disease Management and their prevention programs</li>-->
                <!--   <li>Interactive tours to supermarkets</li>-->
                <!--   <li>How to fit healthy eating into a busy schedule</li>-->
                <!--</ol>-->
                <!--<p style="margin-top: 10px;text-align: justify;">QUA Nutrition has a first hand knowledge on the recent researches worldwide. To help your company better, we can provide written resources and contributions to employee communications</p>-->
                <!--<ul style="list-style-type: disc;margin-left: 50px;">-->
                <!-- <li>Newsletter articles</li>-->
                <!-- <li>Healthy recipes</li>-->
                <!-- <li>Website and social media contributions</li>-->
                <!-- <li>Menu analysis and advice</li>               -->
                <!--</ul>-->
                <!--<p style="text-align:justify;margin-top: 20px;">If you have a product that you would like to share with us, you could drop a mail at devika@quanutrition.com with the details and specifications of your product.</p>-->
                <!--<p style="text-align:justify">QUA Nutrition is associated with the top brands since it’s inception. It is associated with the top sellers in the food and supplements industry, educational academies, sports academies, top coaches of India, media agencies in terms of providing them a state of the art knowledge on the recent researches and documents.</p>-->
                <p style="text-align:justify">Corporates are provided with state- of- the- art facilities for greater productivity and comfort of its employees, but imbalanced or poor nutrition and eating habits can be very costly to companies. Nutrition is hard to monitor and control of the employees, due to varied nature of behaviour of eating , understanding and the actual quality of food.  The  increased risk of obesity, heart disease, diabetes, kidney problems, raising health insurance claims and absenteeism, etc. are obstructing employee productivity. Nutrition plays a key role in helping positive outcomes for employers by way of improved productivity, combat work stress, fewer sick days and happier and healthier staff.</p>
                <p style="text-align:justify">At QUA Nutrition we structure Nutrition Plans based on scientific researches and long term successful practices that have been implemented worldwide. With an understanding of the blood parameters and the body assessment of each employee, we can assess what could be going wrong. By evaluating the eating patterns of the employees, whether it is provided by the company or self, we can advise what can be improved to make the overall health of the company better. Across the world, research proves that organisations that care for their employees by way to giving them greater exposure to improve their health via information, knowledge and implementation show not only better health systems, but better employee retention and productivity and appreciation. Corporate nutrition and wellness programs work.</p>
                <p style="text-align:justify">Corporate nutrition programs need not be one dimensional but can be conducted based upon individual companies requirement and execution. Companies have their own functioning method of effective communication and we look to align to their best practices to be able to communicate and implement accordingly.  </p>
                <p style="text-align:justify">Working with corporates can be at different levels and layers of implementation.</p>
                <ol style="list-style-type: decimal;margin-left: 50px;">
                   <li>
                        Seminar
                        <ol style="list-style-type: lower-latin;margin-left: 50px;">
                            <li>At multiple locations,  for different levels of hierarchy, based upon different group / sectional needs.</li>
                            <li>Remote locations with smaller groups can be connected via zoom seminar / sessions</li>
                            <li>Directional advise on nutrition, motivation, wellbeing and emphasis on taking greater care of health</li>
                        </ol>
                   </li>
                   <li>
                        Food Demo
                        <ol style="list-style-type: lower-latin;margin-left: 50px;">
                            <li>In line with seminars, a physical demo.</li>
                            <li>This involves practical explanation, how we can incorporate healthier measures in our eating behaviour every day.</li>
                            <li>How to make smart options for ourselves and our family.</li>
                            <li>Actual tasting to determine that healthy is also tasty</li>
                        </ol>
                   </li>
                   <li>
                        Food Cooking Competition
                        <ol style="list-style-type: lower-latin;margin-left: 50px;">
                            <li>Competitions on the involvement line and ability to see practical implantation ( like MasterChef model)</li>
                            <li>Fun activity to destress and show your skills</li>
                        </ol>
                   </li>
                   <li>
                        Canteen Catering Food Menu
                        <ol style="list-style-type: lower-latin;margin-left: 50px;">
                            <li>Evaluation and editing / changing / advise on much more healthier alternatives / options on Menu.</li>
                            <li>This can be done across Pan India depending upon location/ cuisine.</li>
                            <li>Special focus on hydration and snack options</li>
                        </ol>
                   </li>
                   <li>
                        Group Discussion
                        <ol style="list-style-type: lower-latin;margin-left: 50px;">
                            <li>Group motivational / awareness talks - 30 minutes to re orient groups into understanding everyday nutrition better.</li>
                            <li>Competitive group discussion to increase awareness between members and groups on certain nutritional facts and myths.</li>
                        </ol>
                   </li>
                   <li>
                        Newsletter Creation on Nutrition, Recipes, Health, Food and Exercise.
                   </li>
                   <li>
                        Competition/s  based upon different Health parameters, example - Best Health Gainer Employee of the Year on quarterly, biannual or annual basis.
                   </li>
                   <li>
                        Onsite and Online Diet clinic
                        <ol style="list-style-type: lower-latin;margin-left: 50px;">
                            <li>Open for all employees onsite / available via call for offsite / remote employees</li>
                            <li>Fixed timings and fixed days</li>
                        </ol>
                   </li>
                   <li>
                        Diet counselling on onsite / online
                        <ol style="list-style-type: lower-latin;margin-left: 50px;">
                            <li>With generic and general open advise</li>
                            <li>With body assessment, analysis and advise</li>
                            <li>With blood test, analysis and advise</li>
                            <li>With body assessment , blood test analysis and advise</li>
                            <li>With diet charts</li>
                            <li>With customisation of nutrition plan</li>
                        </ol>
                   </li>
                   <li>
                        NUTRITION call Centre or TOLL free number for employees to reach out.
                   </li>
               </ol>
               <br/>
                <p style="text-align:justify">All of the above are not general instructions but also Interactive learning sessions covering various issues that affect employees every day :</p>
                <ol style="list-style-type: decimal;margin-left: 50px;">
                   <li>About nutrition</li>
                   <li>How to combat work stress and boost immunity</li>
                   <li>Staying healthy on the road</li>
                   <li>Nutrition to help boost focus and attention</li>
                   <li>What to eat when still at work</li>
                   <li>Importance of eating every 2 hours,</li>
                   <li>How to choose the food to help boost immunity, concentration and at the same time maintain health</li>
                   <li>Disease Management and their prevention programs</li>
                   <li>Interactive tours to supermarkets</li>
                   <li>How to fit healthy eating into a busy schedule</li>
                </ol>
                <p style="margin-top: 10px;text-align: justify;">QUA Nutrition has a first hand knowledge on the recent researches worldwide. To help your company better, we can provide written resources and contributions to employee communications</p>
                <ul style="list-style-type: disc;margin-left: 50px;">
                 <li>Newsletter articles</li>
                 <li>Healthy recipes</li>
                 <li>Website and social media contributions</li>
                 <li>Menu analysis and advice</li>               
                </ul>
                <p style="text-align:justify;margin-top: 20px;">If you have a product that you would like to share with us, you could drop a mail at devika@quanutrition.com with the details and specifications of your product.</p>
                <p style="text-align:justify">QUA Nutrition is associated with the top brands since it’s inception. It is associated with the top sellers in the food and supplements industry, educational academies, sports academies, top coaches of India, media agencies in terms of providing them a state of the art knowledge on the recent researches and documents.</p>
              </div>
            </div>
            <div class="col-md-3 pl-20 pl-sm-0 mt-sm-60">
              <div class="widget">
                <h4 class="widget-title text-uppercase bg-theme-colored p-10 text-white text-center">Testimonials</h4>
                <div class="latest-posts">
                  <article class="post media-post clearfix pb-0 mb-10 text-center">
                      <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Amit Darole</h4>
                      <p class="text-white text-center font-13">I appreciate their knowledge n scientific approach towards nutrition which would eventually help us improve our fitness n lifestyle...Also the seminar conducted by Namrata Gulati from Quanutrition at my fitness center was really helpful n answered most of our doubts.</p>
                  </article>
                  <article class="post media-post clearfix pb-0 mb-10 text-center">
                      <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Mabel Fernandes</h4>
                      <p class="text-white text-center font-13">The Goa Qua Nutrition team gave an insight into the many nutrition needs of the woman , all of which if practiced improves the quality of a woman’s living... enjoyed listening to the quality talk at the woman’s health seminar today ... thank you Qua!</p>
                  </article>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    <!-- Section: Team -->
    
  </div>
  <!-- end main-content -->
