<p>beauty works!</p>
 <!-- Start main-content -->
 <div class="main-content">

    <!-- Section: Classes details -->
    <section>
      <div class="container">
        <div class="section-title text-center mb-10">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 mb-10">
              <h2 class="title text-uppercase mb-0">Nutrition <span class="text-black font-weight-300">for Beauty</span></h2>
              <p class="text-uppercase letter-space-1 text-center">Food Cleances, Nutrition Enhances</p>
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-9">
              <!-- <div class="single-class-details">
                <img src="../images/p10.jpg" class="img-fullwidth" alt="">
                <div class="pull-left flip">
                  <h3 class="text-uppercase letter-space-1">Nutrition for Beauty</h3>
                </div>
              </div> -->
              <div class="classes-schedules">
                <p>We are willing to spend a great deal of money to look great and stay youthful. But creams, potions, and lotions can only do so much. There are no products that can reverse the long-term consequences that poor lifestyle choices can have on appearance. We need to realize that beauty and youthfulness come from inner health and how they can enhance your appearance through proper diet, physical activity, and other healthful habits. Qua Nutrition is in a unique position to help you not just stay healthy as a result of their dietary choices, but also look your best as well.</p>
                <p style="border: 1px solid #ccc; padding: 10px 10px 10px 10px;text-align: justify;">Nutrients, vitamins, and minerals have long been understood to have an influence on appearance. Although it's uncommon to see the dramatic visual deformation due to lack of nutrition and overt deficiencies today, diet and nutrition continue to have a significant impact on overall appearance.</p>
                <h4>Skin</h4>
                <h5>How can you reverse my age? How do you look younger?</h5>
                <p>Have you got pimples and unsightly skin eruptions on your face, neck, shoulders, or back? It is probably acne! Acne is a common problem among teens. But acne can affect people at any age. During teens, most parents dismiss acne as a hormonal overdrive that will eventual peter out.</p> 
                <p>Why do you have those breakouts even after taking great care of your skin? Ever feel that your clear-skinned friends and the others around you don't really understand what you're going through?! Between all the unsolicited advice from overbearing relatives and trying different remedies, you must have lost all hopes of getting rid of them!</p> 
                <p>Although acne can't be cured, it can be successfully cleared up with the right treatments. Did you know that a nutritious diet could be the solution to your acne problem?!</p>
                <p>The addition or avoidance of certain foods, nutrients, and dietary supplements can affect skin related conditions such as acne, pimples, eruptions, skin dryness, and wrinkles.</p>
                <p>At Qua Nutrition, we look to get to the bottom of the matter and understand the root cause of your skin problems and address them in your Nutrition Plan. The results are slow and steady. Over time, your mirror will no longer recognise you and you will fall in love yourself again. </p>
                     <iframe width="200" height="100" src="https://www.youtube.com/embed/LRH3CmGns9w"></iframe>
                    <p class="fmt mt-10" style="color:white;">
                       <strong>Secrets about  kids nutrition that no one is telling you about Corporate Nutrition</strong> - Nutrition for college students, Bangalore
                    </p>

                <h3 class="product-title">Hair</h3>
                <p>Our hair health is a barometer of our nutrition falsies. Some people are blessed with great hair genetically and others choose to loose it over a lifetime due to neglect and ignorance. </p>
                <p>Your diet is extremely important to the health of your hair, and its impacton your hairsappearance and growth should not be underestimated. <b>Your hair is comprised of the second fastest-growing cells in your body –</b> intestinal cells being the first. Your scalp has roughly 120,000 hairs growing at any given time, all of which need to be supported. However, the most challenging part of sustaining hair growth is this: the body will never prioritize its nutrition needs as hair is not a vital organ or tissue. Due to its expendable nature, any nutritional imbalance will often show up first in the form of excessive hair loss.</p>
                <p>Hair and scalp problems can arise from either a deficiency or an excess of nutrients in your diet, and in some cases nutrition alone can be the cause of hair loss.</p>
                <p>However, many people have been led to believe is a ‘healthy diet’ most often does not include all of the necessary elements needed for optimum hair growth, health and appearance.</p>
                <p>At Qua Nutrition, a team of expert nutritionists will design a nutrition plan addressing this concern of yours and soon you look towards the shoots regrowth as your crowning glory.</p>
              </div>
            </div>
            <div class="col-md-3 pl-60 pl-sm-0 mt-sm-60">
              <div class="widget">
                <h4 class="widget-title text-uppercase bg-theme-colored p-10 text-white text-center">Testimonials</h4>
                <div class="latest-posts">
                  <article class="post media-post clearfix pb-0 mb-10 text-center">
                      <img width="120" height="120" src="../images/gallery/24.jpg" alt="" class="img-circle">
                      <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Nirupama Surana</h4>
                      <p class="text-white font-13 text-center">Mrs Nirupama Surana recently won the title for women over 50 years of age.</p>
                  </article>
                  <article class="post media-post clearfix pb-0 mb-10 text-center">
                      <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">William Draper</h4>
                      <p class="text-white font-13 text-center">Blessed to work with QUA Nutrition and the team. They are just awesome bunch of people. They changed my appearance. I am more confident and outgoing now. Thanks QUA Nutrition team. You are a family now.</p>
                  </article>
                  <article class="post media-post clearfix pb-0 mb-10 text-center">
                      <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Ishani Mishra</h4>
                      <p class="text-white font-13 text-center">I went to Qua nutrition for my weight issues & i must say it not just helped me getting a control over the same but my dietitian Diksha Banthia also helped me out with my hair & skin problems.Now i’ve a healthier skin n hair as well!!</p>
                  </article>
                  
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    

    <!-- Section: Team -->
    <section id="trainer" class="bg-light">
      <div class="container pb-0">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-8">
              <h2 class="text-uppercase text-left">Our <span class="text-black font-weight-300">TESTIMONIALS</span></h2>
            </div>
          </div>
        </div>
        <div class="section-content pb-10">
          <div class="row-carousel owl-carousel-5col pb-30">
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/female.html" alt="">
                  <h4 class="text-gray mt-5 mb-5 text-center">Charu Jain</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Beauty Nutrition </h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">Being a Makeup Artistand Social Media Influencer..it became difficult for me to follow my intake routine regularly... I was given a structured nutrition plan by my Nutritionist Lakshmi Dharshini.she gave me all the Micro details about my Nutrition plan and also helped in follwing it...frankly, I couldnt follow the plan for the for first three weeks as I was addicted to outside food...but my Nutritionist being so kind help me getting through it...and makes sure that I achieve my goal..now, I am follwing my dietplan and am so happy with how my body is reacting...would give 10/10 for the guidance the QUA NUTRITION gives through out.</p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/female.html" alt="">
                  <h4 class="text-gray mt-5 mb-5 text-center">Ishani Mishra</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Beauty Nutrition</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">I went to Qua nutrition for my weight issues & i must say it not just helped me getting a control over the same but my dietitian Diksha Banthia also helped me out with my hair & skin problems.Now i’ve a healthier skin n hair as well!!</p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/male.html" alt="">
                  <h4 class="text-gray mt-5 mb-5 text-center">William Draper</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Beauty Nutrition</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">Blessed to work with QUA Nutrition and the team. They are just awesome bunch of people. They changed my appearance. I am more confident and outgoing now. Thanks QUA Nutrition team. You are a family now.</p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/female.html" alt="">
                  <h4 class="text-gray mt-5 mb-5 text-center">Rituparna Roy</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Beauty Nutrition</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center pb-80">They give me the best guidelines on my skin and hair loss. Most effective thanks QUA Nutrition/p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/male.html" alt="">
                  <h4 class="text-gray mt-5 mb-5 text-center">Aravind Mangal P</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Beauty Nutrition</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center pb-100">I'm enjoying the glow of good health....! Thanks to Qua Nutrition & Team........!</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/male.html" alt="">
                  <h4 class="text-gray mt-5 mb-5 text-center">Mobeen Ali</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Beauty Nutrition</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center pb-80">They give me the best guidelines on my skin and hair loss .most effective thanks QUA Nutrition</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    
    

  </div>
  <!-- end main-content -->