<p>international-counselling works!</p>
 <!-- Start main-content -->
 <div class="main-content">
    
    <!-- Section: Classes details -->
    <section>
      <div class="container">
        <div class="section-title text-center mb-10">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="title text-uppercase mb-0">International <span class="text-black font-weight-300">Counselling</span></h2>
              <p class="text-uppercase letter-space-1">The Indian Diet</p>
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-9">
              <!-- <div class="single-class-details">
                <img src="../images/c2.jpg" class="img-fullwidth" alt="">
                <div class="pull-left flip">
                  <h3 class="text-uppercase letter-space-1">International Counselling</h3>
                </div>
              </div> -->
              <div class="classes-schedules">
                <p style="text-align: justify;">Qua Nutrition was built with the concept of taking the counselling to you. You can be anywhere and everywhere. That doesn’t mean that we cannot reach you. We are where you are.</p>
                <iframe height="400" src="https://www.youtube.com/embed/jT4Vfjj-sLw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p style="text-align: justify;margin-top: 20px;">Today the world is seamless due to technology and at some point of time distances, cultures, languages don’t matter. What matters, is that we can connect with you as seamlessly as we do with all our clients and make you feel as comfortable as you walking into our centers. It’s the same experience at the luxury of your home.</p>
                <p style="text-align: justify;">We have nutritionist educated and equipped to handle people for across the globe, worldwide across nations and cultures. We take the same time and effort, as we do with our clients face to face, to understand cross cultural influences, the local flavours, the specific availabilities, the different seasons and time difference and your personal touch that goes to make your food choices. We marry that your goals and we build a nutrition plan, that is made to your exacting standards and your comfort delivered at your doorstep at the time frame you want. </p>
                <p style="text-align: justify;">You can make choice on any of our plans, and the service is the same consistency. We pride ourselves being one with the world in terms of Nutrition learning and experience and we invite you to join the experience.  </p>
                <p style="text-align: justify;">The global Indian loves the Indian touch and we bring that you at your doorstep. We understand the blend of the foreign cuisine influence into your local palate, we know the ingredients available to you, we understand the taste buds, and we work on the specific nuances of the sub / cross cultural linkages to bring you the Indian plate to your kitchen. </p>
                <p style="text-align: justify;">The jet setter who has homes across the worlds, lives in a new city each week, no two restaurants are the same, and all the flights are long. Work with us to build a plan that can span across the globe, travel and adjusts with you, lets you enjoy the culinary delights, while keeping you the fittest you have been. Taste the world with us. Don’t miss the fun, while you continue to impress the world with your never ending energy.</p>
              </div>
            </div>
            <div class="col-md-3 pl-60 pl-sm-0 mt-sm-60">
              <div class="widget">
                <h4 class="widget-title text-uppercase bg-theme-colored p-10 text-white text-center">Testimonials</h4>
                <div class="latest-posts">
                  <article class="post media-post clearfix pb-0 mb-10 text-center">

                      <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Tyrone Machado</h4>
                      <p class="text-white text-center font-13">Smeetal is a young and amazing dietitian who helped me gain weight through overseas consultation. It was helpful</p>
                  </article>
                  <article class="post media-post clearfix pb-0 mb-10 text-center">

                      <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Rajganesh D L</h4>
                      <p class="text-white text-center font-13">I had come to Qua to help me with my Nutrition to get toned and also help with my Nutrition for the sport I play (Badminton). But since I was in Germany I didn't know if they could help me over. But Dietitian Lakshmi Darshini did an amazing job and handled it very well. She helped me achieve my goals and understood my goals that I had in mind. Through the various Skype sessions and weekly calls she used to encourage me to help me achieve my target and goals. She had planned my diet the exact way I wanted it to be. And every part of it she had explained why she gave that particular food and how it would help me. Now I am able to see better performance in my sport with good stamina and endurance.</p>
                  </article>                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Team -->
    <section id="trainer" class="bg-light">
      <div class="container pb-0">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-8">
              <h2 class="text-uppercase text-left">Our <span class="text-black font-weight-300">TESTIMONIALS</span></h2>
            </div>
          </div>
        </div>
        <div class="section-content pb-10">
          <div class="row-carousel owl-carousel-5col pb-30">
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/male.html" alt="">
                  <h4 class="text-gray mt-5 mb-5 text-center">Kulwant Singh</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">International Plan </h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">My experience with my foreign nutritionist was disappointing. I was given a standard diet chart which didn’t include foods that I used to eat like paranthas,curries etc. I wanted a nutritionist who can understand my needs and my research lead me to QUA Nutrition. Intially i was skeptic about it as i was not sure how we would be able to work together because to time difference. But they did a remarkable job. Before giving a diet chart they did a thorough analysis of my eating habits, cultural background to the extend that even my wife was involved in the process as she use to cook the food for me. Today my diet chart include all the foods that i love to eat & thats the reason why i follow it also. Communication with QUA Nutrition team is seamless and they are kind enough to adjust dietary followups as per my time suitability. They never let me feel that i am away from my country. </p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/female.html" alt="">
                  <h4 class="text-gray mt-5 mb-5 text-center">Vandana Jha</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">International Plan</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">I have worked with other nutritionists before, abroad and in India, and I haven't found any services as good as Qua. I started working with my nutritionist, Acsah Rathan Kumar, for my sport and she helped me to better not just my sports performance but my overall life by helping me overcome my food sensitivities and gut issues. The care she takes is truly personal and I feel so comfortable working with her. She is always available if I have any questions or need any help. Distance isn't an issue as I'm always travelling and she accommodate my varying time zones through Skype or telephone calls. I'm very satisfied and am looking forward to working long term with Achsah and Qua. I recommend anyone and everyone regardless of age or profession to invest in their health by working with a nutritionist and increase their performance in work and life!</p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/male.html" alt="">
                  <h4 class="text-gray mt-5 mb-5 text-center">Amulya Mantha</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">International Plan</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">I contacted Qua because I needed help controlling my blood glucose levels. A colleague in Germany recommended Qua and I am more than happy with their plan. Dietitian Lakshmi Darshini worked meticulously to come up with a suitable nutritional diet plan for me. Within 2 months I could see amazing changes in my sugar levels.Additionally, she also ensured that I understood the carb count and importance of each item on our diet chart. We had weekly interactions to see the progress and necessary changes. One could see the research and efforts that my dietitian put in making a plan for me.All in all, I would recommend Qua for anyone looking for a healthy nutritional diet plan!</p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/male.html" alt="">
                  <h4 class="text-gray mt-5 mb-5 text-center">Rajganesh D L</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">International Plan</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">I had come to Qua to help me with my Nutrition to get toned and also help with my Nutrition for the sport I play (Badminton). But since I was in Germany I didn't know if they could help me over. But Dietitian Lakshmi Darshini did an amazing job and handled it very well. She helped me achieve my goals and understood my goals that I had in mind. Through the various Skype sessions and weekly calls she used to encourage me to help me achieve my target and goals. She had planned my diet the exact way I wanted it to be. And every part of it she had explained why she gave that particular food and how it would help me. Now I am able to see better performance in my sport with good stamina and endurance.</p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/male.html" alt="">
                  <h4 class="text-gray mt-5 mb-5 text-center">Tyrone Machado</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">International Plan</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center pb-100">Smeetal is a young and amazing dietitian who helped me gain weight through overseas consultation. It was helpful</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>


  </div>
  <!-- end main-content -->