<p>genetic-nutrition works!</p>
<!-- Start main-content -->
<div class="main-content">

    <!-- Section: Classes details -->
   <section>
     <div class="container pb-10">
       <div class="section-title text-center mb-10">
         <div class="row">
           <div class="col-md-8 col-md-offset-2">
             <h2 class="title text-uppercase mb-0">Genetic <span class="text-black font-weight-300">Testing</span></h2>
             <p class="text-uppercase letter-space-1">EXPLORE THE POWER OF GENETIC TESTING</p>
           </div>
         </div>
       </div>
       <div class="section-content">
         <div class="row">
           <div class="col-md-9">
             <!-- <div class="single-class-details">
               <img src="../images/p8.png" class="img-fullwidth" alt="">
               <div class="pull-left flip">
                 <h3 class="text-uppercase letter-space-1">Genetic Testing</h3>
               </div>
             </div> -->
             <div class="classes-schedules">
               <p style="text-align:justify;">Nutrigenomics is the study of how diet influences gene expression, and thus, health. </p>
               <p style="text-align:justify;">Nutrigenomics as the identification of genes that are involved in physiological responses to diet, and the genes in which small changes, called polymorphisms, may have significant nutritional consequences. Nutrigenetics is then defined as the study of these individual genetic variations or polymorphisms, their interaction with nutritional factors, and their association with health and disease. Others define nutrigenomics as the study of the functional interactions between food and the genome at the molecular, cellular, and organismic levels, and the ways in which individuals respond differently to diets depending on their genetic makeup.</p>
               <p style="text-align: justify;">Nutrigenomics, more specifically and less “tongue in cheek,” a discipline that attempts to explain how nutrients, or common dietary chemicals, affect one’s health by altering gene expression. So doing a genetic testing with a nutrition plan helps you interpret your genes and for enables the nutritionist to guide you by a structured nutrition guidance plan-the most personalised nutrition plan that can help you towards a better health.</p> 
             <p style="text-align: justify;">Based on your genetic report it might be able to answer pertinent questions about your health, and / or give you great directions on how you can plan your nutrition better towards a better more optimum health. A little like crystal ball gazing.</p> 
             <p style="text-align: justify;">Basic tenets of the discipline include the following: </p>
             <ul style="list-style-type: disc; margin-left: 50px;">
               <li>Common dietary chemicals act on the human genome, directly or indirectly, to alter gene expression or structure.</li>
               <li>Under certain circumstances and in some individuals, diet can be a serious risk factor for a number of diseases. </li>
               <li>Diet-regulated genes are likely play a role in theincidence, onset, progression, and the severity of chronic diseases. </li>
               <li>The degree to which diet influences the balance between healthy and disease states may depend on an individual’s genetic makeup. </li>
               <li>Dietary intervention(i.e., “customised and individual nutrition”) based on the knowledge of nutritional requirement, status and genotype can be used to prevent, mitigate, or cure chronic diseases.</li>
             </ul>
             <p style="text-align: justify;margin-top: 20px;">One reason that nutrigenomics currently is receiving substantial attention is that the necessary science to monitor gene expression finally has been developed. By accurately controlling input to such biological systems (e.g., nutrients), how gene expression varies with input can be measured. Where the function of a particular gene, or set of genes, is understood, one can correlate what one eats with a particular and measurable biological outcome. The outcome may be related to a known disease. Another reason why nutrigenomics is receiving attention may involve recent reports in peer-reviewed journals that show interesting relationships between minerals and beneficial effects in animal models. </p>
             <p style="text-align: justify;">Nutrigenomics works differently to the general recommended daily allowances that is intended to prevent nutritional deficiencies in the general population and contrasts with traditional food pyramid and foods/ supplements that are claimed to be beneficial for everyone. </p>
             <p style="text-align: justify;">Genetic variations among individuals can result in very varied responses to general diets and specific foods. Nutrigenomics isthus applied better on individuals, sub and subsets of populations, ethnic groups that share genetic similarities to have clearer gazing view on nutrition planning and execution.</p>
             <p style=" color:#fff;text-align: justify;padding: 10px 10px 10px 10px; border:1px solid #fff;">Nutrigenomics is a very active field of research worldwide and clinical studies are ongoing. Evidence is accumulating that the nutrients in food and supplements may affect the expression and structure of specific genes.</p> 
             <p style="border:1px solid #fff; color:#fff; text-align: justify;padding: 10px 10px 10px 10px;">Leading scientists believe that nutrigenomics has tremendous potential for improving public health. In the future it will probably be possible to analyse DNA to precisely determine individual nutritional guidelines, with diets designed to fit a specific genetic profile. Specific products may be available to meet the health requirements of individuals. Technological developments may enable doctors to perform nutrigenomic tests in their offices. Children can be tested at a young age so that diet can be used as preventative medicine in the long run. The development of nutrigenomics is expected to revolutionize the dietetics profession.
             </p>
             <p style="text-align: justify;">Nutritional genetics is considered as the combination of nutrigenomics and nutrigenetics. Nutrigenomics is establishing the effects of ingested nutrients and other food components on gene expression and gene regulation. It will most importantly determine the individual nutritional requirements based on the genetic makeup of the person. It also reveals why and how people respond differently to the same nutrient.</p>
             <p style="text-align: justify;">Qua Nutrition is one of the few nutrition clinics world-wide that have qualified and trained counsellors in this field who can interpret your genetic reports and advise you the worlds most personalised nutrition plan based on its results. Combine it with any specific Nutrition Plan to add bite to the already high level of customisation.</p>
             </div>
           </div>
           <div class="col-md-3 pl-60 pl-sm-0 mt-sm-60">
             <div class="widget">
               <h4 class="widget-title text-uppercase bg-theme-colored p-10 text-white text-center">Testimonials</h4>
               <div class="latest-posts">
                 <article class="post media-post clearfix pb-0 mb-10 text-center">
                     <img width="120" height="120" src="../images/gallery/20.jpg" alt="" class="img-circle">
                     <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Sachin Kumar</h4>
                     <p class="text-white font-13">QUA Nutrition has given me wings to fly. My Dietition keeps monitoring my fat loss every week. From 22% of total fat to 14% was not so difficult here when I know what my genetic make up is.</p>
                 </article>
                 
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>
   
   <!-- Section: Team -->
   <!-- <section id="trainer" class="bg-light">
     <div class="container pb-0">
       <div class="section-title text-center">
         <div class="row">
           <div class="col-md-8">
             <h2 class="text-uppercase text-left">Our <span class="text-black font-weight-300">TESTIMONIALS</span></h2>
           </div>
         </div>
       </div>
       <div class="section-content pb-10">
         <div class="row-carousel owl-carousel-5col pb-30">
           <div class="item mb-30 mb-sm-30">
             <div class="bg-img-box maxwidth400" style="background-color: #fff;">
               <div class="photo" style="padding: 2px;">
                 <img class="img-fullwidth" src="../images/gallery/1.jpg" alt="">
                 <h4 class="text-gray mt-5 mb-5 text-center">Shikhar Dhawan</h4>
                 <h5 class="text-theme-colored mt-0 mb-5 text-center">Cricketer </h5>
                 <div class="sidebar-box">
                   <p class="mt-0 mb-0 p-10 text-center">Nutrition plays a key role in my recovery and performance. Using Sports Gene testing and advance nutritional blood biochemistry helps me. Eating with a plan gets more scientific and result oriented this way.</p>
                   <p class="read-more"><a href="#" class="button">Read More</a></p>
                 </div>
               </div>
             </div>
           </div>
           <div class="item mb-30 mb-sm-30">
             <div class="bg-img-box maxwidth400" style="background-color: #fff;">
               <div class="photo" style="padding: 2px;">
                 <img class="img-fullwidth" src="../images/gallery/2.jpg" alt="">
                 <h4 class="text-gray mt-5 mb-5 text-center">Robin Uthappa</h4>
                 <h5 class="text-theme-colored mt-0 mb-5 text-center">Cricketer</h5>
                 <div class="sidebar-box">
                   <p class="mt-0 mb-0 p-10 text-center">The team at QUA NUTRITION has helped me change the way I eat for performance. My weight loss and muscle gain is there for everbody to see.</p>
                   <div class="height_space_2"></div>
                 </div>
               </div>
             </div>
           </div>
           <div class="item mb-30 mb-sm-30">
             <div class="bg-img-box maxwidth400" style="background-color: #fff;">
               <div class="photo" style="padding: 2px;">
                 <img class="img-fullwidth" src="../images/gallery/3.jpg" alt="">
                 <h4 class="text-gray mt-5 mb-5 text-center">Shubhankar Sharma</h4>
                 <h5 class="text-theme-colored mt-0 mb-5 text-center">Golfer</h5>
                 <div class="sidebar-box">
                   <p class="mt-0 mb-0 p-10 text-center">Being a vegetarian, it is difficult to meet your protein needs on time. Working with a structured Nutrition Plan allows me to. Also understanding my vitamin and fat absorption genes, I was able to work with my Sports Nutritionist to fuel when on hectic matches across the World. </p>
                   <p class="read-more"><a href="#" class="button">Read More</a></p>
                 </div>
               </div>
             </div>
           </div>
           <div class="item mb-30 mb-sm-30">
             <div class="bg-img-box maxwidth400" style="background-color: #fff;">
               <div class="photo" style="padding: 2px;">
                 <img class="img-fullwidth" src="../images/gallery/5.jpg" alt="">
                 <h4 class="text-gray mt-5 mb-5 text-center">Joshna Chinappa</h4>
                 <h5 class="text-theme-colored mt-0 mb-5 text-center">Squash Player</h5>
                 <div class="sidebar-box">
                   <p class="mt-0 mb-0 p-10 text-center">As an athlete I was aware of the importance of good nutrition to compliment my training and my matches. But after joining QUA is when I realized how much of my old habits I needed to change in order to be the best athlete I can be mentally and physically. I have been working with Lakshmi and Ryan for a few months now and their inputs and meal plans have been able to take my game and training to another level. I have seen a huge difference so soon after working with them. Their knowledge and expertise is something I count on almost everyday whether it’s during training or playing tournaments. Very Fortunate to have Ryan and Lakshmi on my team to help me be the best athlete I can be.</p>
                   <p class="read-more"><a href="#" class="button">Read More</a></p>
                 </div>
               </div>
             </div>
           </div>
           <div class="item mb-30 mb-sm-30">
             <div class="bg-img-box maxwidth400" style="background-color: #fff;">
               <div class="photo" style="padding: 2px;">
                 <img class="img-fullwidth" src="../images/gallery/6.jpg" alt="">
                 <h4 class="text-gray mt-5 mb-5 text-center">K Kiran Kumar Raju</h4>
                 <h5 class="text-theme-colored mt-0 mb-5 text-center">Biker</h5>
                 <div class="sidebar-box">
                   <p class="mt-0 mb-0 p-10 text-center">Been associated with QUA Nutrition for the past 5months. It's been an awesome time understanding aspects and importance of nutrition. They have the best team to help you with micro details of nutrition and closely work with individuals on regular intervals with utmost patience understanding specific needs.</p>
                   <p class="read-more"><a href="#" class="button">Read More</a></p>
                 </div>
               </div>
             </div>
           </div>
           <div class="item mb-30 mb-sm-30">
             <div class="bg-img-box maxwidth400" style="background-color: #fff;">
               <div class="photo" style="padding: 2px;">
                 <img class="img-fullwidth" src="../images/gallery/7.jpg" alt="">
                 <h4 class="text-gray mt-5 mb-5 text-center">Sushil Kumar</h4>
                 <h5 class="text-theme-colored mt-0 mb-5 text-center">Wrestler</h5>
                 <div class="sidebar-box">
                   <p class="mt-0 mb-0 p-10 text-center">I worked with Sushil for two Olympics. Our focus was better diets, Superfoods, and supplements. We also integrated high-end sports testing which allowed us to boost nutrition to help in quicker recoveries between bouts. Till date, his two Olympic medals are the biggest success we have obtained in sports nutrition - Ryan Fernando, Nutrition Coach to Sushil Kumar</p>
                   <p class="read-more"><a href="#" class="button">Read More</a></p>
                 </div>
               </div>
             </div>
           </div>
           <div class="item mb-30 mb-sm-30">
             <div class="bg-img-box maxwidth400" style="background-color: #fff;">
               <div class="photo" style="padding: 2px;">
                 <img class="img-fullwidth" src="../images/gallery/8.jpg" alt="">
                 <h4 class="text-gray mt-5 mb-5 text-center">Jennifer Luikham</h4>
                 <h5 class="text-theme-colored mt-0 mb-5 text-center">Tennis</h5>
                 <div class="sidebar-box">
                   <p class="mt-0 mb-0 p-10 text-center">"Learning to eat for power, endurance and recovery was like going back to school.The team of Nutritionists kept designing the 7- day Nutrition Plans based on my training, competition and even travel. Eating disciplined is difficult. But once I understood my Sports and Nutrition gene test results, I began eating with a purpose for performance and recovery."</p>
                   <p class="read-more"><a href="#" class="button">Read More</a></p>
                 </div>
               </div>
             </div>
           </div>
           <div class="item mb-30 mb-sm-30">
             <div class="bg-img-box maxwidth400" style="background-color: #fff;">
               <div class="photo" style="padding: 2px;">
                 <img class="img-fullwidth" src="../images/gallery/10.jpg" alt="">
                 <h4 class="text-gray mt-5 mb-5 text-center">Trishul Chinappa</h4>
                 <h5 class="text-theme-colored mt-0 mb-5 text-center">Golfer</h5>
                 <div class="sidebar-box">
                   <p class="mt-0 mb-0 p-10 text-center">My body is my temple. Hence I do my best to eat right and train well. When I started off at Qua Nutrition 4 years ago, I got a good idea of what a balanced meal should consist of and how to eat three solid meals through the day. Over time I've learned about different kinds of food and how they affect and contribute to my well-being and performance through the diet plans I have followed. The team at Qua -both Ryan Fernando and Lygia Correia constantly keep a tab on my body parameters and together we work to improve on them. My main improvement has been on the gold course. Knowledge of what to eat pre, during and post my tournament rounds, practice session, and workouts has helped me stay energetic and focused on my goals.</p>
                   <p class="read-more"><a href="#" class="button">Read More</a></p>
                 </div>
               </div>
             </div>
           </div>

         </div>
       </div>
     </div>
   </section> -->
   
   

 </div>
 <!-- end main-content -->

 <!-- Footer -->
 <footer class="footer divider layer-overlay overlay-dark" data-bg-img="../images/bg/bg1.jpg">
   <div class="container pt-50 pb-10">
     <div class="row">
       <div class="col-sm-6 col-md-3">
           <h3 class="mt-0 mb-30">Quick Contact Form</h3>
           <!-- Contact Form -->
           <form id="contact_form" name="contact_form" class="" method="post">

             <div class="row">
               <div class="col-sm-12">
                 <div class="form-group">
                   <input id="form_name" name="form_name" class="form-control" type="text" placeholder="Enter Name" required="true">
                 </div>
               </div>
               <div class="col-sm-12">
                 <div class="row">
                   <div class="col-sm-6">
                     <div class="form-group">
                       <input id="form_email" name="form_email" class="form-control email" type="email" placeholder="Enter Email" >
                     </div>
                   </div>
                   <div class="col-sm-6">
                     <div class="form-group">
                         <input type="text" id="form_phone" name="form_phone"  class="phone form-control required" required="true" placeholder="Enter phone">
                       <!--<input id="form_phone" name="form_phone" class="form-control" type="number" placeholder="Enter Phone" required="true">-->
                     </div>
                   </div>
                 </div>
               </div>
             </div>

             <div class="row">
               <div class="col-sm-12">
                 <div class="form-group">
                   <input id="form_subject" name="form_subject" class="form-control" type="text" placeholder="Enter Your City">
                 </div>
               </div>
             </div>

             <div class="form-group">
               <textarea id="form_message" name="form_message" class="form-control" rows="3" placeholder="Enter Message"></textarea>
             </div>
             <div class="form-group">
               <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="" />
               <button id="quick_submit" class="btn btn-dark btn-theme-colored btn-flat mr-5" data-loading-text="Please wait...">Send your message</button>
               <button type="reset" class="btn btn-default btn-flat btn-theme-colored">Reset</button>
             </div>
           </form>

           <!-- Contact Form Validation-->
           <script type="text/javascript">
             $("#contact_form").validate({
               submitHandler: function(form) {
                 var form_btn = $(form).find('button[type="submit"]');
                 var form_result_div = '#form-result';
                 $(form_result_div).remove();
                 form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
                 var form_btn_old_msg = form_btn.html();
                 form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
                 $(form).ajaxSubmit({
                   dataType:  'json',
                   success: function(data) {
                     if( data.status == 'true' ) {
                       $(form).find('.form-control').val('');
                     }
                     form_btn.prop('disabled', false).html(form_btn_old_msg);
                     $(form_result_div).html(data.message).fadeIn('slow');
                     setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
                   }
                 });
               }
             });
           </script>
       </div>
       <div class="col-sm-6 col-md-3">
         <div class="widget dark">
           <h5 class="widget-title line-bottom">Pages</h5>
           <div class="row">
             <div class="col-sm-6 col-md-6">
               <ul class="list angle-double-right list-border">
                 <li><a href="../index-2.html">Home</a></li>
                 <li><a href="../Nutrition_package.html">Packages</a></li>
                 <li><a href="../About.html">Why Qua?</a></li>
                 <li><a href="../Testimonials.html">Testimonials</a></li>
               </ul>
             </div>
             <div class="col-sm-6 col-md-6">
               <ul class="list angle-double-right list-border">
                 <li><a href="../Videos.html">Video</a></li>
                 <li><a href="../Team.html">Team</a></li>
                 <li><a href="../Contact.html">Contact Us</a></li>
               </ul>
             </div>
           </div>
         </div>
       </div>
       <div class="col-sm-6 col-md-4">
         <div class="widget dark tags">
           <h5 class="widget-title line-bottom">Tags</h5>
           <a href="sports_nutrition.html"><p style="font-size: 10px;">Sports Nutrition</p></a>
           <a href="weight_loss_trim_down.html"><p style="font-size: 10px;">Weight Loss</p></a>
           <a href="weight_gain.html"><p style="font-size: 10px;">Weight Gain</p></a>
           <a href="genetic_nutrition.html"><p style="font-size: 10px;">Genetic Testing</p></a>
           <a href="sports_nutrition.html"><p style="font-size: 10px;">Best Sports Nutritionist Delhi</p></a>
           <a href="nutrition_kids.html"><p style="font-size: 10px;">Nutrition For Kids</p></a>
           <a href="genetic_nutrition.html"><p style="font-size: 10px;">Best Nutritionist</p></a>
           <a href="nutrition_you.html"><p style="font-size: 10px;">Nutrition for men/women</p></a>
           <a href="sports_nutrition.html"><p style="font-size: 10px;">Best Sports Nutritionist</p></a>
           <a href="sports_nutrition.html"><p style="font-size: 10px;">Sports Nutritionist Chennai</p></a>
           <a href="index.html"><p style="font-size: 10px;">Best Nutritionist Goa</p></a>
           <a href="wedding_bells.html"><p style="font-size: 10px;">Wedding Diet</p></a>
           <a href="../index-2.html"><p style="font-size: 10px;">Best Nutritionist Kolkata</p></a>
           <a href="medical_nutrition.html"><p style="font-size: 10px;">Medical Nutrition</p></a>
           <a href="corporate_nutrition_plan.html"><p style="font-size: 10px;">Corporate Nutrition</p></a>
           <a href="../Contact.html"><p style="font-size: 10px;">Best Nutritionist Bangalore</p></a>
           <a href="../index-2.html"><p style="font-size: 10px;">Best Nutritionist Mumbai</p></a>
           <a href="../index-2.html"><p style="font-size: 10px;">Beauty</p></a>
           <a href="../About.html"><p style="font-size: 10px;">Best Nutritionist India</p></a>
           <a href="international_counselling.html"><p style="font-size: 10px;">International Nutritionist</p></a>
         </div>
       </div>
       <div class="col-sm-6 col-md-2">
         <div class="widget dark mb-10"> <img height="80" width="auto" class="mb-10" alt="" src="../images/logo.png">
           <p class="font-12">QUA Nutrition, we realize that each person is different.</p>
           <!-- <ul class="styled-icons icon-bordered small square list-inline mt-10">
             <li><a target="_blank" href="https://www.facebook.com/quanutrition.bangalore?fref=ts"><i class="fa fa-facebook text-white"></i></a></li>
             <li><a target="_blank" href="https://twitter.com/Qua_Nutrition?lang=en"><i class="fa fa-twitter text-white"></i></a></li>
             <li><a target="_blank" href="https://plus.google.com/+quanutritionbestdietplans"><i class="fa fa-google-plus text-white"></i></a></li>
             <li><a target="_blank" href="https://www.youtube.com/user/quanutrition"><i class="fa fa-youtube text-white"></i></a></li>
           </ul> -->
         </div>
         <div class="widget dark">
           <h5 class="widget-title line-bottom mb-0">Opening Hours</h5>
           <ul class="opening-hours list-border">
             <li><p><span class="text-white">Monday To Saturday:</span> <br>
               10:00 am to 6:00 pm</p>
             </li>
             <li><p><span class="text-white">Sunday:</span> Closed</p>
             </li>
         
           </ul>
         </div>
       </div>
     </div>
   </div>
   <div class="container-fluid copy-right p-10">
     <div class="row text-center">
       <div class="col-md-12">
         <p class="font-11 text-white m-0">Copyright &copy;2020 Quanutrition. All Rights Reserved</p>
       </div>
     </div>
   </div>