<p>new-life works!</p>
<!-- Start main-content -->
<div class="main-content">

    <!-- Section: Classes details -->
    <section>
      <div class="container mb-10">
        <div class="section-title text-center mb-10">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="title text-uppercase mb-0">New <span class="text-black font-weight-300">life</span></h2>
              <p class="text-uppercase letter-space-1 text-center">Food Influences The Creation Of A New Born</p>
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-9">
              <!-- <div class="single-class-details">
                <img src="../images/p9.jpg" class="img-fullwidth" alt="">
                <div class="pull-left flip">
                  <h3 class="text-uppercase letter-space-1">New life</h3>
                </div>
              </div> -->
              <div class="classes-schedules">
                <p>Conceiving a baby may be a common occurrence, but it is by no means ordinary. The fact that one living person can give life to another is, by definition, extraordinary.</p>
                <h4>Pre Pregnancy Nutrition Plan - </h4>
                <p>Planning on starting a family involves a great thinking shift from the parents to be. One of them should be checking and analysing like any parent – what the best is for my child? This also involves in understanding how healthy is the life giving source – you yourself as a parent. </p>
                <p>Your health and wellbeing reflects on your child health and happiness. You give your child more than life.You give your child more than life. You gift your genes, and have the great opportunity to gift them your wellbeing and health.</p>
                <div class="row mt-20">
                  <div class="col-md-6">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/rQpLZeuwy0E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="col-md-6">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/1J64bMhf9Q8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>
                <p class="mt-20">Responsibly eating (What you eat or don’t eat) is crucial for your overall well-being and reproductive health. Getting pregnant is a complex process which requires many different body organs and glands to function properly.<b>Most people don’t get the recommended daily allowance of fruits and vegetables and water.</b> This is basic, but it is very crucial in order to help increase fertility and chances of getting pregnant more quickly. At Qua Nutrition we advise you on diets and supplements that will help infuse a fresh breathe of life into you. Even the DNA that the father’s sperm and the mother’s egg carry, gets improved with better quality of nutrition, exercise and mental health.</p>
                <p>How you prepare nutritionally for your child will have the most long term impact on your child health. Look towards investing in a nutrition plan while planning a family. This nutrition plan will help you get to the best health of your life, so that your life giving source is the best that you child can get</p>
                <p>Look to take an individual plan for the father to be and mother to be, as, pre conception, health of both to be parents is equally important. The child is but one half of each. </p>
                <h4>Pregnancy Nutrition Plan -</h4>
                <p>Now that you are a mum-to-be, you need to fine tune your eating habits to ensure that you have a balanced and healthy diet. If your diet was poor to begin with, it is even more important to make the transition to eating delicious, nutritious, well-balanced meals. </p>
                <p>Given the complexity of conception, healthy eating and nutrition is one of the most important factors that a woman should focus on post conceiving.</p>
                <p>During pregnancy, a woman's nutrition directly influences the course of foetal development, and the long-term health of the mother and child.</p>
                <p>Each trimester of the pregnancy brings in new challenges for the mother to be.</p>
                <p>At Qua Nutrition, our experts will guide you on your diet plans for your trimesters.</p>
                <p>Your body goes through numerous physical and hormonal changes during pregnancy that can make managing food and Nutrition a challenge. Morning sickness can be an issue to eating healthy.</p>
                <p>The way you nourish your body during this time will affect the health of both you and your baby. You must eat a healthful, balanced diet to help ensure you stay healthy throughout your pregnancy. The food you eat is also the main source of nourishment for your baby, so it’s critical to consume foods that are rich in nutrients. Proper nutrition can help promote your baby's growth and development. You also need more calories. You will probably have everyone advising you to eat for two but the truth is that the average woman does not need any extra calories for the first six months of pregnancy and only about 200 extra calories per day for the last three months.</p>
                <p>How should you maintain a balanced Nutrition plan along with taking care of individual likes, choices, cravings, constraints with your changing body should be guided by a practiced Nutritionist.</p>
                <p>Qua Nutrition will help you gradually adapt to a healthy plan for you and your child, while keeping in mind that you arephysical and emotional changes and preparing you for a great motherhood. </p>
                <h4>Post Pregnancy - </h4>
                <p>Eating well shouldn't stop the moment your baby arrives. In fact, you will be expending a lot of energy just looking after your baby! And if you're breastfeeding, you'll need a healthy post pregnancy diet that will help you to recover quickly from your baby's birth.</p>
                <p>Once you bring this new life into this world, the responsibilities in feeding both you and the child will be a new found burden. Are you doing it right? Let our Baby Nutrition Experts guide you through this beautiful journey. This journey begins the moment you start thinking about a baby. Let’s take this journey together.</p>
                <p>Your weight gain should be gradual during your pregnancy, most of the weight gained is in the last trimester. Most women feel that any extent of weight gain is normal during pregnancy and they take this as a leeway to eat anything, as they feel that they would lose it as soon as they have their baby.</p>
                <p>Sometimes, that might not be true. However, sometimes, that can be issue during delivery and you might struggle post pregnancy. </p>
                <p>However, it is critical for a new mother to eat a nutritious diet so that the weight loss is gradual. The health of both mother and baby are far more important than the number of weeks it takes a new mother to regain her figure. A breastfeeding mother needs to be cautious not only of the nutrients and calories she is consuming, but also of foods or beverages that may affect her baby.</p>
                <p>At Qua Nutrition our Baby Nutrition Experts know best the foods for mother and child.</p>
              </div>
            </div>
            <div class="col-md-3 pl-60 pl-sm-0 mt-sm-60">
              <div class="widget">
                <h4 class="widget-title text-uppercase bg-theme-colored p-10 text-white text-center">Testimonials</h4>
                <div class="latest-posts">
                  <article class="post media-post clearfix pb-0 mb-10 text-center">

                      <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Raj Sri</h4>
                      <p class="text-white font-13 text-center">When i 1st got to know that i was carrying a baby, it was the most memorable day in my life.  With joy and happiness, a felt a sense of responsibility towards my born to be. I belong to a family who are not very conscious of their eating habits and have history of medical cases. I didnt want to pass this on to my baby & only wanted the best hence i contacted QUA Nutrition. I had a great experience with Qua nutrition. Lygia, my nutritionist was  extremely helpful. She walks us through the importance of balanced diet and has a very patient hearing to all our issues.They meticulously designed my diet chart based on my genetics, blood profiles, family medical history etc to ensure that i deliver a healthy baby.  Their  in depth knowledge on the subject is amazing. Happy to be associated with Qua.</p>
                  </article>
                  <article class="post media-post clearfix pb-0 mb-10 text-center">

                      <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Leelavathi P</h4>
                      <p class="text-white font-13 text-center">Qua Nutrition is great because my diet chart is made on my preferred food for my pre- pregnancy . its working really well for me . Thanks for Qua Nutrition.</p>
                  </article>
                  <article class="post media-post clearfix pb-0 mb-10 text-center">

                      <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">LakshmiNarasimhan S</h4>
                      <p class="text-white font-13 text-center">At QUA Nutrition ,i met ashlin who was a wonderful nutritionist. During my pregnancy she understood my needs and diet requirements and prepared a diet plan that suits my needs and goals. She constantly followed up with me about the progress and was always willing to help when I have any difficulty. I will highly recommend Qua nutrition and Ashlin.</p>
                  </article>
                  <article class="post media-post clearfix pb-0 mb-10 text-center">

                      <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Akshaya Kashyap</h4>
                      <p class="text-white font-13 text-center">LOOKOUT FOR QUA Nutrition. They have a well trained and emphatic team of nutritionists. Jeyshree Bhaskaran was my nutritionist. She was very friendly and helped me a lot through the process .Well- equipped , I would definitely recommend her & QUA NUTRITION for nutrition during pregnancy . Cheers 👌</p>
                  </article>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Team -->
    <section id="trainer" class="bg-light">
      <div class="container pb-0">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-8">
              <h2 class="text-uppercase text-left">Our <span class="text-black font-weight-300">TESTIMONIALS</span></h2>
            </div>
          </div>
        </div>
        <div class="section-content pb-10">
          <div class="row-carousel owl-carousel-5col pb-30">
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/female.html" alt="">
                  <h4 class="text-gray mt-5 mb-5 text-center">Nidhi Nikunj</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">New Life </h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">We met Ryan Fernando after having consulted with many nutritionist who we found was following one size fits all approach. Nutrition for them was a standardied chart. But Ryan was opposite for him everthing was personalized. Infact his love for right nutrition was contagious. My 1st counseling with Ryan and straight away i new that both me and my baby were in safe hands. His scientific approach, personalized diet charts, timely followup and patience to hear out to each of my issues and queries were unmatchable. Today i and by baby both are healthy. Thanks to Ryan Fernando and team QUA Nutrition</p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/female.html" alt="">
                  <h4 class="text-gray mt-5 mb-5 text-center">Akshaya Kashyap</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">New Life</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">LOOKOUT FOR QUA Nutrition. They have a well trained and emphatic team of nutritionists. Jeyshree Bhaskaran was my nutritionist. She was very friendly and helped me a lot through the process .Well- equipped , I would definitely recommend her & QUA NUTRITION for nutrition during pregnancy . Cheers 👌</p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/female.html" alt="">
                  <h4 class="text-gray mt-5 mb-5 text-center">LakshmiNarasimhan S</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">New Life</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">At QUA Nutrition ,i met ashlin who was a wonderful nutritionist. During my pregnancy she understood my needs and diet requirements and prepared a diet plan that suits my needs and goals. She constantly followed up with me about the progress and was always willing to help when I have any difficulty. I will highly recommend Qua nutrition and Ashlin.</p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/female.html" alt="">
                  <h4 class="text-gray mt-5 mb-5 text-center">Leelavathi P</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">New Life</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center pb-50">Qua Nutrition is great because my diet chart is made on my preferred food for my pre- pregnancy . its working really well for me . Thanks for Qua Nutrition.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/female.html" alt="">
                  <h4 class="text-gray mt-5 mb-5 text-center">Raj Sri</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">New Life</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">When i 1st got to know that i was carrying a baby, it was the most memorable day in my life.  With joy and happiness, a felt a sense of responsibility towards my born to be. I belong to a family who are not very conscious of their eating habits and have history of medical cases. I didnt want to pass this on to my baby & only wanted the best hence i contacted QUA Nutrition. I had a great experience with Qua nutrition. Lygia, my nutritionist was  extremely helpful. She walks us through the importance of balanced diet and has a very patient hearing to all our issues.They meticulously designed my diet chart based on my genetics, blood profiles, family medical history etc to ensure that i deliver a healthy baby.  Their  in depth knowledge on the subject is amazing. Happy to be associated with Qua.</p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>


  </div>
  <!-- end main-content -->