<p>contact works!</p>
 <!-- Start main-content -->
 <div class="main-content">

    <!-- Section: Pricing Table -->
    <section id="pricing" class="bg-light">
        <div class="container mb-10">
            <div class="section-title mb-10 padding-top">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h2 class="text-uppercase title">Contact <span class="text-black font-weight-300">Us</span>
                        </h2>
                        <p class="text-uppercase letter-space-1">WE ARE WHERE YOU ARE</p>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row show-text">
                    <div class="col-sm-12">
                        <div id="accordion2" class="panel-group accordion">
                            <div class="panel sharethis-inline-share-buttons">
                                <div class="panel-title"><a data-parent="#accordion2" data-toggle="collapse"
                                                            href="#accordion004"
                                                            class="p-1 package-type text-uppercase letter-space-1"
                                                            aria-expanded="true"> <span class="open-sub"></span>E-clinic
                                    <span class="font-14 text-uppercase text-theme-colored">WorldWide </span></a>
                                </div>
                                <div id="accordion004" class="panel-collapse collapse" role="tablist"
                                     aria-expanded="true">
                                    <div class="panel-content">
                                        <img src="images/map-2.png" alt="">
                                        <ul class="table-list list mt-0 no-bg no-border check">
                                            <li>Phone Number: 9743430000</li>
                                            <li>Email Address: devika@quanutrition.com</li>
                                            <li></li>
                                        </ul>
                                        <a href="https://www.google.com/maps/place/QUA+Nutrition/@13.042146,80.259041,13z/data=!4m5!3m4!1s0x0:0x28c0514aa0fb5ab2!8m2!3d13.042146!4d80.259041?hl=en-IN"
                                           class="btn btn-lg btn-theme-colored text-uppercase pt-10 pb-10 btn-flat"
                                           target=" ">Google map</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-title"><a data-parent="#accordion2" data-toggle="collapse"
                                                            href="#accordion00001"
                                                            class="p-1 package-type text-uppercase letter-space-1"
                                                            aria-expanded="true"> <span class="open-sub"></span>Bangalore
                                    <span class="font-14 text-uppercase text-theme-colored">INDIRANAGAR</span>
                                    </a>
                                </div>
                                <div id="accordion00001" class="panel-collapse collapse" role="tablist"
                                     aria-expanded="true">
                                    <div class="panel-content">
                                        <p class="text-uppercase font-weight-400 text-gray letter-space-1 mt-0">
                                            775, Double Rd, Indiranagar, Bangalore, Karnataka 560038</p>
                                        <ul class="table-list list mt-0 no-bg no-border check">
                                            <li>Phone Number: 9743430000</li>
                                            <li>Email Address: devika@quanutrition.com</li>
                                        </ul>
                                        <!--<a href="https://www.google.com/maps/place/775,+Indiranagar+Double+Rd,+Binnamangala,+Stage+3,+Indiranagar,+Bengaluru,+Karnataka+560038,+India/@12.975818,77.636313,15z/data=!4m5!3m4!1s0x3bae16a3f79b62d7:0x24f8df53b0c2226a!8m2!3d12.9758178!4d77.6363129?hl=en-IN"-->
                                        <!--   class="btn btn-lg btn-theme-colored text-uppercase pt-10 pb-10 btn-flat"-->
                                        <!--   target=" ">Google map</a>-->
                                        <a href="http://goo.gl/maps/ybb33"
                                           class="btn btn-lg btn-theme-colored text-uppercase pt-10 pb-10 btn-flat"
                                           target=" ">Google map</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-title"><a data-parent="#accordion2" data-toggle="collapse"
                                                            href="#accordion001"
                                                            class="p-1 package-type text-uppercase letter-space-1"
                                                            aria-expanded="true"> <span class="open-sub"></span>Bangalore
                                    <span class="font-14 text-uppercase text-theme-colored">JAYANAGAR</span>
                                    </a>
                                </div>
                                <div id="accordion001" class="panel-collapse collapse" role="tablist"
                                     aria-expanded="true">
                                    <div class="panel-content">
                                        <p class="text-uppercase font-weight-400 text-gray letter-space-1 mt-0">7th
                                            Floor, Vriddhi Spa, Above DMART Garuda Swagath mall Jayanagar 3 East
                                            Block, Byrasandra, Bangalore-560079 , Karnataka, India.</p>
                                        <ul class="table-list list mt-0 no-bg no-border check">
                                            <li>Phone Number: 9743430000</li>
                                            <li>Email Address: devika@quanutrition.com</li>
                                        </ul>
                                        <a href="https://www.google.com/maps/place/Vriddhi+Spa/@12.928757,77.591354,16z/data=!4m5!3m4!1s0x0:0x39aa4c004d8fcbed!8m2!3d12.9287989!4d77.5913769?hl=en-IN"
                                           class="btn btn-lg btn-theme-colored text-uppercase pt-10 pb-10 btn-flat"
                                           target=" ">Google Map</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-title"><a data-parent="#accordion2" data-toggle="collapse"
                                                            href="#accordion004"
                                                            class="p-1 package-type text-uppercase letter-space-1"
                                                            aria-expanded="true"> <span class="open-sub"></span>Chennai
                                    <span class="font-14 text-uppercase text-theme-colored">TTK ROAD ALWARPETH</span></a>
                                </div>
                                <div id="accordion004" class="panel-collapse collapse" role="tablist"
                                     aria-expanded="true">
                                    <div class="panel-content">
                                        <p class="text-uppercase font-weight-400 text-gray letter-space-1 mt-0">265,
                                            265,3rd Floor, Above Score Gym, Near Nardhagana Sabha, Chennai-600018 ,
                                            Tamilnadu, India. 
                                        </p>
                                        <ul class="table-list list mt-0 no-bg no-border check">
                                            <li>Phone Number: 9743430000</li>
                                            <li>Email Address: devika@quanutrition.com</li>
                                        </ul>
                                        <a href="https://www.google.com/maps/place/QUA+Nutrition/@13.042146,80.259041,13z/data=!4m5!3m4!1s0x0:0x28c0514aa0fb5ab2!8m2!3d13.042146!4d80.259041?hl=en-IN"
                                           class="btn btn-lg btn-theme-colored text-uppercase pt-10 pb-10 btn-flat"
                                           target=" ">Google map
                                           </a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-title"><a data-parent="#accordion2" data-toggle="collapse"
                                                            href="#accordion008"
                                                            class="p-1 package-type text-uppercase letter-space-1"
                                                            aria-expanded="true"> <span class="open-sub"></span>Delhi
                                    <span class="font-14 text-uppercase text-theme-colored">Defence Colony </span></a>
                                </div>
                                <div id="accordion008" class="panel-collapse collapse" role="tablist"
                                     aria-expanded="true">
                                    <div class="panel-content">
                                        <p class="text-uppercase font-weight-400 text-gray letter-space-1 mt-0">E-5,
                                            First Floor, Defence Colony, Delhi-110024, India. </p>
                                        <ul class="table-list list mt-0 no-bg no-border check">
                                            <li>Phone Number: 9743430000</li>
                                            <li>Email Address: devika@quanutrition.com</li>
                                        </ul>
                                        <a href="https://www.google.com/maps/place/QUA+Nutrition/@28.566238,77.230701,14z/data=!4m5!3m4!1s0x0:0x89a0d4248a991042!8m2!3d28.566238!4d77.2307008?hl=en-IN"
                                           class="btn btn-lg btn-theme-colored text-uppercase pt-10 pb-10 btn-flat"
                                           target=" ">google map</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-title"><a data-parent="#accordion2" data-toggle="collapse"
                                                            href="#accordion005"
                                                            class="p-1 package-type text-uppercase letter-space-1"
                                                            aria-expanded="true"> <span class="open-sub"></span>Goa
                                    <span class="font-14 text-uppercase text-theme-colored">PANAJI </span></a></div>
                                <div id="accordion005" class="panel-collapse collapse" role="tablist"
                                     aria-expanded="true">
                                    <div class="panel-content">
                                        <p class="text-uppercase font-weight-400 text-gray letter-space-1 mt-0">
                                            <!--Casa Fernando, Near Harley Davidson Showroom, Caranzalem, Goa-403002, India.-->
                                           Casa Fernando, near Harley Davidson Showroom, Caranzalem, Goa 403002
                                            </p>
                                        <ul class="table-list list mt-0 no-bg no-border check">
                                            <li>Phone Number:+7776080000</li>
                                            <li>Email Address: devika@quanutrition.com</li>
                                        </ul>
                                        <a href="https://www.google.com/maps/place/QUA+Nutrition/@15.4674911,73.805614,17z/data=!4m5!3m4!1s0x0:0x69ac172c9971a696!8m2!3d15.4674911!4d73.8078027?hl=en"
                                           class="btn btn-lg btn-theme-colored text-uppercase pt-10 pb-10 btn-flat"
                                           target=" ">Google map</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-title"><a data-parent="#accordion2" data-toggle="collapse"
                                                            href="#accordion00005"
                                                            class="p-1 package-type text-uppercase letter-space-1"
                                                            aria-expanded="true"> <span class="open-sub"></span>Hyderabad
                                    <span class="font-14 text-uppercase text-theme-colored">Banjara Hills </span></a></div>
                                <div id="accordion00005" class="panel-collapse collapse" role="tablist"
                                     aria-expanded="true">
                                    <div class="panel-content">
                                        <p class="text-uppercase font-weight-400 text-gray letter-space-1 mt-0">
                                            #6-3-248/B/1, Dhruv Arcade Road Number 1 Banjara Hills Lane opp. Kotak Bank, Hyderabad, Telangana 500034.<br/>
                                        </p>
                                        <ul class="table-list list mt-0 no-bg no-border check">
                                            <li>Phone Number: 9743430000</li>
                                            <li>Email Address: devika@quanutrition.com</li>
                                        </ul>
                                        <a href="https://www.google.com/maps/place/Qua+Nutrition/@17.4098172,78.4508674,21z/data=!4m5!3m4!1s0x3bcb97a3a8cc72d7:0xf6fd2ee1251e8c27!8m2!3d17.4097802!4d78.4507134"
                                           class="btn btn-lg btn-theme-colored text-uppercase pt-10 pb-10 btn-flat"
                                           target=" ">Google map</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-title"><a data-parent="#accordion2" data-toggle="collapse"
                                                            href="#accordion006"
                                                            class="p-1 package-type text-uppercase letter-space-1"
                                                            aria-expanded="true"> <span class="open-sub"></span>Kolkata
                                    <span class="font-14 text-uppercase text-theme-colored">Gariahat</span></a>
                                </div>
                                <div id="accordion006" class="panel-collapse collapse" role="tablist"
                                     aria-expanded="true">
                                    <div class="panel-content">
                                        <p class="text-uppercase font-weight-400 text-gray letter-space-1 mt-0">QUA
                                            Nutrition, 2nd Floor, 49A, Purna Das Road, Hindustan Park, Gariahat,
                                            Kolkata, West Bengal 700029 - IN (Near Tero Parbon Restaurant)</p>
                                        <ul class="table-list list mt-0 no-bg no-border check">
                                            <li>Phone Number: 9743430000</li>
                                            <li>Email Address: devika@quanutrition.com</li>
                                        </ul>
                                        <a href="https://www.google.com/maps/place/QUA+Nutrition/@22.5166831,88.3622232,18z/data=!3m1!4b1!4m5!3m4!1s0x3a0276d730158d61:0x1985f073c954929f!8m2!3d22.5166806!4d88.3633175?hl=en-IN"
                                           class="btn btn-lg btn-theme-colored text-uppercase pt-10 pb-10 btn-flat"
                                           target=" ">Google map</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-title"><a data-parent="#accordion2" data-toggle="collapse"
                                                            href="#accordion007"
                                                            class="p-1 package-type text-uppercase letter-space-1"
                                                            aria-expanded="true"> <span class="open-sub"></span>Mumbai
                                    <span class="font-14 text-uppercase text-theme-colored">Andheri West</span></a>
                                </div>
                                <div id="accordion007" class="panel-collapse collapse" role="tablist"
                                     aria-expanded="true">
                                    <div class="panel-content">
                                        <p class="text-uppercase font-weight-400 text-gray letter-space-1 mt-0">418,
                                            4th floor, Morya Landmark- I, Plot no. B- 25, Village Oshiwara, Andheri
                                            West, Veera Desai Industrial Estate, Mumbai-400053 , Maharashtra,
                                            India. </p>
                                        <ul class="table-list list mt-0 no-bg no-border check">
                                            <li>Phone Number: +91 9743430000</li>
                                            <li>Email Address: devika@quanutrition.com</li>
                                        </ul>
                                        <a href="https://www.google.com/maps/place/QUA+Nutrition/@19.14077,72.833437,16z/data=!4m5!3m4!1s0x0:0x652d534f7eb16a41!8m2!3d19.1407696!4d72.8334375?hl=en-IN"
                                           class="btn btn-lg btn-theme-colored text-uppercase pt-10 pb-10 btn-flat"
                                           target=" ">google map</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row hide-text">
                    
                    <div class="col-sm-6 col-md-3">
                        <div class="pricing-table style2 pb-0 mt-sm-0 maxwidth400 bg-lightest">
                            <div class="p-20 pt-0">
                                <h4 class="package-type text-uppercase letter-space-1 m-0 pt-20">
                                    <!-- <img class="location_mark" src="images/location.png" alt=""> -->
                                    E-Clinic<br><span
                                        class="font-12 text-uppercase text-theme-colored">WORLDWIDE</span></h4>
                                <img height="148" src="images/map-1.png" alt="">
                                <div class="price-amount">
                                </div>
                                <ul class="table-list list mt-0 no-bg no-border check">
                                    <li><a class="text-dark" href="tel: +91-9743430000">Phone Number: 9743430000</a>
                                    </li>
                                    <li><a class="text-dark"
                                           href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=devika@quanutrition.com">Email
                                        Address: devika@quanutrition.com</a></li>
                                </ul>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 pr-lg-0">
                                    <a href="https://www.google.com.au/search?q=QUA%20NUTRITION%20Indiranagar%20Double%20Road,%20Stage%203,%20Bengaluru,%20Bangalore%20Urban&amp;ludocid=3643449205388082641&amp;#lrd=0x3bae16a3feaefac1:0x329021bf9c55fdd1,1,,,"
                                       class="btn btn-lg btn-theme-colored  btn-block pt-10 pb-10 pl-lg-10 btn-flat"
                                       target=" ">Google Reviews</a>
                                </div>
                                <div class="col-sm-6 pl-lg-0">
                                    <a href="https://www.google.com/maps/place/QUA+NUTRITION/@12.974738,77.635381,16z/data=!4m5!3m4!1s0x0:0xbeb2f9c97794c58!8m2!3d12.9747384!4d77.6353811?hl=en-IN"
                                       class="btn btn-lg btn-theme-colored btn-block pt-10 pb-10 btn-flat"
                                       target=" ">Google Map</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="pricing-table style2 pb-0 mt-sm-0 maxwidth400 bg-lightest">
                            <div class="p-20 pt-0">
                                <!-- <img class="location_mark" src="images/location.png" alt=""> -->
                                <h4 class="package-type text-uppercase letter-space-1 m-0 pt-20">Bangalore<br><span
                                        class="font-12 text-uppercase text-theme-colored">INDIRANAGR</span></h4>
                                <p class="text-uppercase font-weight-400 text-gray letter-space-1 mt-0">
                                    775, Double Rd, Indiranagar,<br/> Bangalore, Karnataka 560038</p>
                                <div class="price-amount">
                                    <div class="height_space_2"></div>
                                </div>
                                <div class="height_space_2"></div>
                                <ul class="table-list list mt-0 no-bg no-border check">
                                    <li><a class="text-dark" href="tel: +91-9743430000">Phone Number: 9743430000</a>
                                    </li>
                                    <li><a class="text-dark"
                                           href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=devika@quanutrition.com">Email
                                        Address: devika@quanutrition.com</a></li>
                                </ul>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 pr-lg-0">
                                    <a href="https://www.google.com.au/search?q=QUA%20NUTRITION%20Indiranagar%20Double%20Road,%20Stage%203,%20Bengaluru,%20Bangalore%20Urban&amp;ludocid=3643449205388082641&amp;#lrd=0x3bae16a3feaefac1:0x329021bf9c55fdd1,1,,,"
                                       class="btn btn-lg btn-theme-colored  btn-block pt-10 pb-10 pl-lg-10 btn-flat"
                                       target=" ">Google Reviews</a>
                                </div>
                                <div class="col-sm-6 pl-lg-0">
                                    <!--<a href="https://www.google.com/maps/place/Vriddhi+Spa/@12.928757,77.591354,16z/data=!4m5!3m4!1s0x0:0x39aa4c004d8fcbed!8m2!3d12.9287989!4d77.5913769?hl=en-IN"-->
                                    <!--   class="btn btn-lg btn-theme-colored btn-block pt-10 pb-10 btn-flat"-->
                                    <!--   target=" ">Google Map</a>-->
                                    <a href="http://goo.gl/maps/ybb33"
                                       class="btn btn-lg btn-theme-colored btn-block pt-10 pb-10 btn-flat"
                                       target=" ">Google Map</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="pricing-table style2 pb-0 mt-sm-0 maxwidth400 bg-lightest">
                            <div class="p-20 pt-0">
                                <h4 class="package-type text-uppercase letter-space-1 m-0 pt-20">
                                    <!-- <img class="location_mark" src="images/location.png" alt=""> -->Chennai<br><span
                                        class="font-12 text-uppercase text-theme-colored">TTK ROAD ALWARPETH</span>
                                </h4>
                                <p class="text-uppercase font-weight-400 text-gray letter-space-1 mt-0">265, 3rd
                                    Floor, Above Score Gym, Near Nardhagana Sabha, Chennai-600018 , Tamilnadu,
                                    India.</p>
                                <div class="height_space_2"></div>
                                <div class="price-amount">
                                </div>
                                <ul class="table-list list mt-0 no-bg no-border check">
                                    <li><a class="text-dark" href="tel: +91-98844 41434">Phone Number: 9743430000</a></li>
                                    <li><a class="text-dark"
                                           href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=devika@quanutrition.com">Email
                                        Address: devika@quanutrition.com</a></li>
                                </ul>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 pr-lg-0">
                                    <a href="https://www.google.com/search?ei=gtAmXOuhOcnkvASo6rvgCQ&amp;q=qua+Nutrition+-+The+Signature+Nutrition+Clinic+chennai&amp;oq=qua+Nutrition+-+The+Signature+Nutrition+Clinic+chennai&amp;gs_l=psy-ab.3..33i160.703.9962..10410...2.0..0.370.2439.0j11j2j1......0....1..gws-wiz.......0i71j33i21j0i22i30.mfhkrIu8TaE#lrd=0x3a526636a56b8bff:0x28c0514aa0fb5ab2,1,,,"
                                       class="btn btn-lg btn-theme-colored  btn-block pt-10 pb-10 pl-lg-10 btn-flat"
                                       target=" ">Google Reviews</a>
                                </div>
                                <div class="col-sm-6 pl-lg-0">
                                    <a href="https://www.google.com/maps/place/QUA+Nutrition/@13.042146,80.259041,13z/data=!4m5!3m4!1s0x0:0x28c0514aa0fb5ab2!8m2!3d13.042146!4d80.259041?hl=en-IN"
                                       class="btn btn-lg btn-theme-colored btn-block pt-10 pb-10 btn-flat"
                                       target=" ">Google Map</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="pricing-table style2 pb-0 mt-sm-0 maxwidth400 bg-lightest">
                            <div class="p-20 pt-0">
                                <h4 class="package-type text-uppercase letter-space-1 m-0 pt-20">
                                    <!-- <img class="location_mark" src="images/location.png" alt=""> -->
                                    Delhi<br><span
                                        class="font-12 text-uppercase text-theme-colored">Defence Colony</span></h4>
                                <p class="text-uppercase font-weight-400 text-gray letter-space-1 mt-0">E-5, First
                                    Floor, Defence Colony, Block E, New Delhi, Delhi-110024, India. </p>
                                <div class="height_space_001"></div>
                                <div class="price-amount">
                                </div>
                                <ul class="table-list list mt-0 no-bg no-border check">
                                    <li><a class="text-dark" href="tel: +91-9743430000">Phone Number: 9743430000</a>
                                    </li>
                                    <li><a class="text-dark"
                                           href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=devika@quanutrition.com">Email
                                        Address: devika@quanutrition.com</a></li>
                                </ul>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 pr-lg-0">
                                    <a href="https://www.google.com/search?q=qua+Nutrition+-+The+Signature+Nutrition+Clinic+delhi&amp;oq=qua+Nutrition+-+The+Signature+Nutrition+Clinic+delhi&amp;aqs=chrome..69i57.9141j0j4&amp;sourceid=chrome&amp;ie=UTF-8#lrd=0x390ce24fc3db79cd:0x89a0d4248a991042,1,,,"
                                       class="btn btn-lg btn-theme-colored  btn-block pt-10 pb-10 pl-lg-10 btn-flat"
                                       target=" ">Google Reviews</a>
                                </div>
                                <div class="col-sm-6 pl-lg-0">
                                    <a href="https://www.google.com/maps/place/QUA+Nutrition/@28.566238,77.230701,14z/data=!4m5!3m4!1s0x0:0x89a0d4248a991042!8m2!3d28.566238!4d77.2307008?hl=en-IN"
                                       class="btn btn-lg btn-theme-colored btn-block pt-10 pb-10 btn-flat"
                                       target=" ">Google Map</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row hide-text">
                    
                    
                    <div class="col-sm-6 col-md-3">
                        <div class="pricing-table style2 pb-0 mt-sm-0 maxwidth400 bg-lightest">
                            <div class="p-20 pt-0">
                                <h4 class="package-type text-uppercase letter-space-1 m-0 pt-20">
                                    <!-- <img class="location_mark" src="images/location.png" alt=""> -->
                                    Goa<br><span class="font-12 text-uppercase text-theme-colored">PANAJI</span>
                                </h4>
                                <p class="text-uppercase font-weight-400 text-gray letter-space-1 mt-0">
                                    <!--Casa Fernando, Near Harley Davidson Showroom, Caranzalem, Goa-403002, India.-->
                                    Casa Fernando, near Harley Davidson Showroom, Caranzalem, Goa 403002
                                </p><br><br>
                                <!--<div class="height_space_002"></div>-->
                                <div class="price-amount">
                                </div>
                                <ul class="table-list list mt-0 no-bg no-border check">
                                    <li><a class="text-dark" href="tel: +91-7776080000">Phone Number: 7776080000</a>
                                    </li>
                                    <li><a class="text-dark"
                                           href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=devika@quanutrition.com">Email
                                        Address: devika@quanutrition.com</a></li>
                                </ul>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 pr-lg-0">
                                    <a href="https://www.google.com/search?q=qua+nutrition+goa&amp;rlz=1C1CHBF_enIN855IN855&amp;oq=qua+nutrition+goa&amp;aqs=chrome..69i57j0l3j69i64j69i60l2.4542j0j7&amp;sourceid=chrome&amp;ie=UTF-8#lrd=0x3bbfc0cf99fe6065:0x69ac172c9971a696,1"
                                       class="btn btn-lg btn-theme-colored  btn-block pt-10 pb-10 pl-lg-10 btn-flat"
                                       target=" ">Google Reviews</a>
                                </div>
                                <div class="col-sm-6 pl-lg-0">
                                    <a href="https://www.google.com/maps/place/QUA+Nutrition/@15.4674911,73.805614,17z/data=!4m5!3m4!1s0x0:0x69ac172c9971a696!8m2!3d15.4674911!4d73.8078027?hl=en"
                                       class="btn btn-lg btn-theme-colored btn-block pt-10 pb-10 btn-flat"
                                       target=" ">Google Map</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="pricing-table style2 pb-0 mt-sm-0 maxwidth400 bg-lightest">
                            <div class="p-20 pt-0">
                                <h4 class="package-type text-uppercase letter-space-1 m-0 pt-20">
                                    <!-- <img class="location_mark" src="images/location.png" alt=""> -->
                                    Hyderabad<br><span
                                        class="font-12 text-uppercase text-theme-colored">Banjara Hills</span></h4>
                                <p class="text-uppercase font-weight-400 text-gray letter-space-1 mt-0">
                                    #6-3-248/B/1, Dhruv Arcade Road Number 1 Banjara Hills Lane opp. Kotak Bank, Hyderabad, Telangana 500034.<br/><br/>
                                </p>
                            
                                <div class="price-amount">
                                </div>
                                <ul class="table-list list mt-0 no-bg no-border check">
                                    <li><a class="text-dark" href="tel: +91-9743430000">Phone Number: 9743430000</a>
                                    </li>
                                    <li><a class="text-dark"
                                           href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=devika@quanutrition.com">Email
                                        Address: devika@quanutrition.com</a></li>
                                </ul>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 pr-lg-0">
                                    <a href="https://www.google.com/search?rlz=1C1CHBF_enIN855IN855&amp;sxsrf=ALeKk01kXPNuOWsWgp6gYNarVg4xpwwL9A%3A1582960632581&amp;ei=-A9aXu-II9SFyAPJ2LnoCw&amp;q=qua+nutrition+hyderabad&amp;oq=qua+nutrition+hy&amp;gs_l=psy-ab.3.0.35i39.12439.12619..14326...0.3..0.217.422.2-2......0....1..gws-wiz.......0i71j0i22i30j38.8HjnnKmF2SU#lrd=0x3bcb97a3a8cc72d7:0xf6fd2ee1251e8c27,1"
                                       class="btn btn-lg btn-theme-colored  btn-block pt-10 pb-10 pl-lg-10 btn-flat"
                                       target=" ">Google Reviews</a>
                                </div>
                                <div class="col-sm-6 pl-lg-0">
                                    <a href="https://www.google.com/maps/place/Qua+Nutrition/@17.4098172,78.4508674,21z/data=!4m5!3m4!1s0x3bcb97a3a8cc72d7:0xf6fd2ee1251e8c27!8m2!3d17.4097802!4d78.4507134"
                                       class="btn btn-lg btn-theme-colored btn-block pt-10 pb-10 btn-flat"
                                       target=" ">Google Map</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-md-3">
                        <div class="pricing-table style2 pb-0 mt-sm-0 maxwidth400 bg-lightest">
                            <div class="p-20 pt-0">
                                <h4 class="package-type text-uppercase letter-space-1 m-0 pt-20">
                                    <!-- <img class="location_mark" src="images/location.png" alt=""> -->Kolkata<br><span
                                        class="font-12 text-uppercase text-theme-colored">Gariahat</span></h4>
                                <p class="text-uppercase font-weight-400 text-gray letter-space-1 mt-0">QUA
                                    Nutrition, 2nd Floor, 49A, Purna Das Road, Hindustan Park, Gariahat, Kolkata,
                                    West Bengal 700029 - IN (Near Tero Parbon Restaurant) </p>
                                <div class="price-amount">
                                </div>
                                <ul class="table-list list mt-0 no-bg no-border check">
                                    <li><a class="text-dark" href="tel: +91-9743430000">Phone Number: 9743430000</a>
                                    </li>
                                    <li><a class="text-dark"
                                           href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=devika@quanutrition.com">Email
                                        Address: devika@quanutrition.com</a></li>
                                </ul>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 pr-lg-0">
                                    <a href="https://www.google.com/search?q=QUA+NUTRITION&amp;ludocid=1839140402940383903#lrd=0x3a0276d730158d61:0x1985f073c954929f,1,,,"
                                       class="btn btn-lg btn-theme-colored  btn-block pt-10 pb-10 pl-lg-10 btn-flat"
                                       target=" ">Google Reviews</a>
                                </div>
                                <div class="col-sm-6 pl-lg-0">
                                    <a href="https://www.google.com/maps/place/QUA+Nutrition/@22.5166831,88.3622232,18z/data=!3m1!4b1!4m5!3m4!1s0x3a0276d730158d61:0x1985f073c954929f!8m2!3d22.5166806!4d88.3633175?hl=en-IN"
                                       class="btn btn-lg btn-theme-colored btn-block pt-10 pb-10 btn-flat"
                                       target=" ">Google Map</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="pricing-table style2 pb-0 mt-sm-0 maxwidth400 bg-lightest">
                            <div class="p-20 pt-0">
                                <h4 class="package-type text-uppercase letter-space-1 m-0 pt-20">
                                    <!-- <img class="location_mark" src="images/location.png" alt=""> -->
                                    Mumbai<br><span
                                        class="font-12 text-uppercase text-theme-colored">Andheri West</span></h4>
                                <p class="text-uppercase font-weight-400 text-gray letter-space-1 mt-0">418, 4th
                                    floor, Morya Landmark- I, Plot no. B- 25, Village Oshiwara, Andheri West, Veera
                                    Desai Industrial Estate, Mumbai-400053, India.</p>
                                <div class="price-amount">
                                </div>
                                <ul class="table-list list mt-0 no-bg no-border check">
                                    <li><a class="text-dark" href="tel: +91-9833254034">Phone Number:9743430000</a>
                                    </li>
                                    <li><a class="text-dark"
                                           href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=devika@quanutrition.com">Email
                                        Address: devika@quanutrition.com</a></li>
                                </ul>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 pr-lg-0">
                                    <a href="https://www.google.com/search?q=qua+Nutrition+-+The+Signature+Nutrition+Clinic+mumbai&amp;oq=qua+Nutrition+-+The+Signature+Nutrition+Clinic+mumbai&amp;aqs=chrome..69i57.6912j0j4&amp;sourceid=chrome&amp;ie=UTF-8#lrd=0x3be7b63c8a3f031f:0x652d534f7eb16a41,1,,,"
                                       class="btn btn-lg btn-theme-colored  btn-block pt-10 pb-10 pl-lg-10 btn-flat"
                                       target=" ">Google Reviews</a>
                                </div>
                                <div class="col-sm-6 pl-lg-0">
                                    <a href="https://www.google.com/maps/place/QUA+Nutrition/@19.14077,72.833437,16z/data=!4m5!3m4!1s0x0:0x652d534f7eb16a41!8m2!3d19.1407696!4d72.8334375?hl=en-IN"
                                       class="btn btn-lg btn-theme-colored btn-block pt-10 pb-10 btn-flat"
                                       target=" ">Google Map</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    
                    
                </div>
            </div>
       
    </section>

    <!-- Divider: Contact -->
    <section class="divider pt-0">
        <div class="container pt-0 pb-sm-0">
            <div class="section-title mb-10">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h2 class="text-uppercase title mb-0">Write To <span
                                class="text-black font-weight-300">Us</span></h2>
                        <p class="text-uppercase letter-space-1">Looking Forward To your Queries</p>
                    </div>
                </div>
            </div>
            <div class="row pt-10">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="icon-box left media bg-deep p-30 mb-20"><a class="media-left pull-left"
                                                                                   href="#"> <i
                                    class="pe-7s-map-2 text-theme-colored"></i></a>
                                <div class="media-body"><strong>OUR OFFICE LOCATION</strong>
                                    <p>1312, 10th Main, Double Road, Indira Nagar, Bangalore-560038</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-12">
                            <div class="icon-box left media bg-deep p-30 mb-20"><a class="media-left pull-left"
                                                                                   href="#"> <i
                                    class="pe-7s-call text-theme-colored"></i></a>
                                <div class="media-body"><strong>OUR CONTACT NUMBER</strong>
                                    <p><a class="text-dark" href="tel: +91-9743430000">+91-9743430000</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-12">
                            <div class="icon-box left media bg-deep p-30 mb-20"><a class="media-left pull-left"
                                                                                   href="#"> <i
                                    class="pe-7s-mail text-theme-colored"></i></a>
                                <div class="media-body"><strong>OUR CONTACT E-MAIL</strong>
                                    <p><a class="text-dark"
                                          href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=devika@quanutrition.com">devika@quanutrition.com</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <!-- Contact Form -->
                    <form id="contact_us" name="contact_us" class="" method="post">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="form_name">Name
                                        <small>*</small>
                                    </label>
                                    <input id="form_name" name="form_name" class="form-control" type="text"
                                           placeholder="Enter Name" required="">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="form_email">Email</label>
                                            <input id="form_email" name="form_email" class="form-control email"
                                                   type="email" placeholder="Enter Email">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group" style="display:grid;">
                                            <label for="form_phone">Phone
                                                <small>*</small>
                                            </label>
                                            <input type="text" id="form_phone" name="form_phone"  class="phone form-control required" required="true" placeholder="Enter phone">
                                            <!--<input id="form_phone" name="form_phone" class="form-control required"-->
                                            <!--       type="text" placeholder="Enter Phone" required="true">-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="form_name">City</label>
                                    <input id="form_subject" name="form_subject" class="form-control" type="text"
                                           placeholder="Enter Your City">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="form_phone">Preferred Time</label>
                                    <select name="form_time" id="form_time" class="form-control">
                                        <option value="9:00 AM-12:00 PM">9:00 AM-12:00 PM</option>
                                        <option value="12:00 PM-3:00PM">12:00 PM-3:00PM</option>
                                        <option value="3:00 PM-6:00PM">3:00 PM-6:00PM</option>
                                        <option value="6:00 PM-9:00PM">6:00 PM-9:00PM</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="form_name">Message</label>
                            <textarea id="form_message" name="form_message" class="form-control required" rows="5"
                                      placeholder="Enter Message"></textarea>
                        </div>
                        <div class="form-group">
                            <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden"
                                   value=""/>
                            <button id="contact_submit" class="btn btn-dark btn-theme-colored btn-flat mr-5"
                                    data-loading-text="Please wait...">Send your message
                            </button>
                            <button type="reset" class="btn btn-default btn-flat btn-theme-colored">Reset</button>
                        </div>
                    </form>

                    <!-- Contact Form Validation-->
                    <script type="text/javascript">
                        $('#contact_submit').on('click', function (e) {
                            e.preventDefault();
                            var url = "https://quanutritiondemo1.herokuapp.com/ajax_contact/"
                            var name = $('#contact_us #form_name').val();
                            var phone = $('#contact_us #form_phone').val();
                             var code =  $('#contact_submit').parent().parent().parent().parent().find('.selected-dial-code').text()
                        
                            if (name == "" || phone == "") {
                                alert("Required fields should be filled!")
                            }
                            else {
                                $('.load_container').show();
$('.dark').addClass('no_scroll');
                                var form_data = $("#contact_us").serialize()+'&'+$.param({ 'code': code });
                                $.ajax({
                                    type: "POST",
                                    data: form_data,
                                    url: url,
                                    crossDomain: true,
                                    success: function (result) {
                                        $('.load_container').hide();
$('.dark').removeClass('no_scroll');
                                        if (result.status == 'ok') {
                                            alert(result.msg);
                                        } else {
                                            alert(result.msg)
                                        }
                                    }
                                });
                            }
                        });

                    </script>
                </div>
            </div>
        </div>
    </section>

</div>
<!-- end main-content -->
