<p>about works!</p>
 <!-- Start main-content -->
 <div class="main-content">

    
    <!-- Section: About -->
    <section id="about">
      <div class="container pb-0">
        <div class="section-title text-center mb-10">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="title text-uppercase mb-0 pb-0">Why <span class="text-black font-weight-300">Qua?</span></h2>
              <p class="text-uppercase letter-space-1 mt-0">The Best Nutrition Clinic</p>
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
                <div class="caption text-justify">
                  <p><span style="font-weight: 700;font-size: 16px;text-align: justify;">QUA Nutrition</span>, we realize that each person is different, with varied health and sports_nutrition needs. Our motto ‘Eat to your capacity’ caters to each individual’s specific health requirement. Thus, discovering “your capacity” synonymous to Qua!</p>
                  <p>You might want to look into consulting with a Nutritionist or Dietician for various reasons for better health and fitness or to know more about eating right. At Qua Nutrition, we believe in understanding what you are looking for and gradually modify your diet plans to bringing permanent changes in your life for better health. Changing nutrition behaviour based on your comfort level, age, genes, goals, time lines and other factors determine the success of the Nutrition plan.</p>
                </div>
            </div>
          </div>
          <div class="row mt-10 text-justify">
            <div class="col-md-4">
              <p>The Qua Nutrition experience is one in which you meet a world class best Nutritionist, available to you world wide ( via online portal, skype telephonic, across time zones), in the speciality you want, working with you to achieve your goals with a Customised Nutrition Plan on the most advanced Nutrition planning software in the world.At Qua Nutrition, the belief is in imparting you with the knowledge of nutrition and in knowing why and what you will be doing in the nutrition plan customised for you.</p>
              <p>Many people endeavour to take on a diet plan and do not have encouraging results. The reason is One size doesn’t fit all. Self-help books. Talk shows. Search Engines. You may have tried them all and still be struggling with health problems.</p>
              <p>If you don't know where to start, or how to keep going, seeking help from our Qualified nutritionist to program something that is customised for you should be the next logical step.</p>
            </div>
            <div class="col-md-4 pb-0">
              <img class="pb-0 ryan-img pb-sm-20" src="images/ryan3.png" alt="">
            </div>
            <div class="col-md-4">
              <p>The specialised diet plans are modified at regular intervals according to your feedback, making you more involved and interested.</p>
              <p>Each of our Best Nutritionist come with specialisations on various medical and nutrition subjects to cater to your needs specifically. We sync your needs and behaviour matching to the right fit of Nutritionist. They carry with them the relevant experience of their category, their qualifications and minimum of 2000 hours of training within the Qua Nutrition Academy before they meet you.</p>
              <p>Over all Qua Nutrition carries over 2,00,000 man hours of relevant experience in the field of advanced Nutrition is imparted in the training process. Their Nutrition Plan to you is further supported by Quality Controllers and Supplement strategists in the relevant field to give you an experience of having a panel of Nutritionist recommending you, with a personal one on one approach.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Section: Divider  -->
    <section class="divider parallax layer-overlay overlay-black" data-bg-img="images/image.jpg">
      <div class="container pt-10 pb-20">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="section-content text-center">
              <h2 class="text-white letter-space-1 font-32 text-uppercase">Your Personal <span class="text-theme-colored">Nutritionist</span></h2>
              <h4 class="text-white font-22 font-weight-600">AT QUA NUTRITION, WE REALIZE THAT EACH PERSON IS DIFFERENT, WITH VARIED HEALTH AND NUTRITION NEEDS.</h4>
              <a href="Contact.html" class="btn btn-theme-colored mt-10 btn-md text-uppercase btn-flat"> Contact Us</a> </div>
          </div>
        </div>
      </div>
    </section> 

    <section class="bg-lighter">
      <div class="container pt-40">
        <div class="section-content">
            <div class="row text-justify">
              <div class="col-md-9">
                <h4>What Happens During The Nurtrition Consultation?</h4>
                <p>The initial consultation will usually last between 60 and 90 minutes, and your Nutritionist will try to gather as much information relevant from you. Indepth probing will happen to understand your profile and body behaviour. From understanding and analysing this, Best Nutritionist will aim to identify nutritional, diet and lifestyle factors that could be contributing to and/or underlying the symptoms and health conditions that you are experiencing.</p>
                <p>You will then come back for a personalised, safe, lifestyle Nutrition Diet Plan with consultation that is evidence based, and tailored towards your very individual requirements. We may recommended supplements, super foods and/or functional tests if your Nutritionist feels could be beneficial in order to better assess if you are deficient in any vitamins and minerals or allergy and heavy metal tests.</p>
                <p>A follow up consultation is generally recommended for 4-5 weeks later, Nutritionists will also provide some level of telephone and/or e-mail support between sessions to monitor progress. Further follow-ups may be required depending on your individual situation and program that you have chosen normally once in a week connect.</p>
                <p>One of the top questions we are asked “What exactly do you do?” It’s a great question, because what a nutritionist does is not as straightforward. Our best answer is this – we help you figure out where you are, where you want to be, and how to get there in terms of your health and fitness all by tweaking scientifically the way you eat !</p>
                <ul style="list-style: disc;margin-left: 20px;">
                  <li>Many people are worried that we are going to scold them, lecture them, or take away their favourite foods. There are some nutritionists like that, but we do not believe that philosophy. We consider ourselves more of a food coach, because our goal is to inform, inspire, counsel, and support you, and we want to see you succeed!</li>
                </ul>
              </div>
              <div class="col-md-3">
                  <iframe width="555" height="426" src="https://www.youtube.com/embed/vAgl0wE5-lI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <iframe width="555" height="426" src="https://www.youtube.com/embed/bL1VCsdNeHM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin-top:20px;"></iframe>
              </div>
              
              <div class="col-md-9">
                <ul style="list-style: disc;margin-left: 20px;">
                  <li>As we work with you as a personal nutrition trainer, our style is much more about helping you understand your bodies and fall in love with being healthy.</li>
                  <li>First we understand what you are looking for to get a perspective on how we can map our progress together.</li>
                  <li>We then do a thorough nutrition assessment, which includes information about your weight history, current and past medical history, family medical history, food allergies or intolerances, likes and dislikes, eating, sleeping and exercise habits, emotional and social ties to food and much more.</li>
                  <li>Then we develop a game plan together for how to proceed.</li>
                  <li>Some people prefer a formal, structured eating plan. Others do much better with a short list of changes that are specific and measurable. We explain the reasoning behind the plan or changes, including exactly how they will affect your body and what you can expect.</li>
                  <li>After the guidance is given, we ask most of my clients to communicate with us every week, either via email or phone.</li>
                  <li>We endeavour to connect back to review the improvements on a monthly basis, thereby taken time and essentially realigning the Nutrition guidance to go forward as you move forward in your goals. Fluidity in the Nutrition plan is as important as the change that we look to make for ourselves and is a reflection of the same. We ask you to be patient as every food plan takes 8 to 20 weeks to show positive results.</li>
                </ul>
              </div>
              <div class="col-md-3">
                <div class="class-item">
                  <div class="thumb"> <a href="#">
                    <img class="img-fullwidth mb-20 mt-20" src="images/21.jpg" alt="..."></a>
                  </div>
                </div>
              </div>
              
            </div>
        </div>
      </div>
    </section>

  </div>
  <!-- end main-content -->
  
