<p>nutrition-kids works!</p>
 <!-- Start main-content -->
 <div class="main-content">

    <!-- Section: Classes details -->
    <section>
      <div class="container mb-10">
        <div class="section-title text-center mb-10">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="title text-uppercase mb-0">Nutrition <span class="text-black font-weight-300">for kids</span></h2>
              <p class="text-uppercase letter-space-1 text-center">Harness The Power Of Nutrition For Growth</p>
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-9">
              <!-- <div class="single-class-details">
                <img src="../images/p5.jpg" class="img-fullwidth" alt="">
                <div class="pull-left flip">
                  <h3 class="text-uppercase letter-space-1">Nutrition For Kids</h3>
                </div>
              </div> -->
              <div class="classes-schedules">
                <h4>Infant and Toddler Nutrition -</h4>
                <p>The first 12 months of life is the fastest growth period in a human’s life – a baby’s weight can triple by twelve months of age. Making sure your baby is fed properly is critical for normal growth and development. Breast milk is recommended as the sole source of nutrition up until about 6 months, or infant formula if unable to breastfeed. By about 12 months, your baby should be eating foods similar to those eaten by the whole family.</p>
                <p>Nutrition and child development are two terms that go hand in hand. The more nutritious diet your child consumes, the healthier he/she would be. The nutrition requirement of a child differs from that of an adult, because the child goes through a period of mental and physical development. During this phase of growth, it is important to provide the body with essential nutrients early on. Childhood in its early years is the most important time for brain development as children start to learn new things and experiment with new ideas.</p>
                <div class="row mb-20">
                  <div class="col-md-6">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/lJ04k6_YoNw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  </div>
                  <div class="col-md-6">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/TvWL6vGyuf8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  </div>
                </div>
                
                <p>At Qua Nutrition, work with the paediatric nutritionist to understand your child’s non communicable concerns related to food and work on a Nutrition plan that ensures all essential nutrients and vitamins are given for the optimum growth of your child. </p>
                <h4>Children Nutrition- </h4>
                <p>Fussy eaters! Un eaten Lunch Boxes! </p>
                <p>We owe children the right to a healthy childhood that supports nutrition based growth and development. But as children grow, they develop their own individual personality, tastes and preferences to everything around them including food. An explosion of new food textures, tastes and combinations can lead them to favour a selection and ignore the others. This can be biased, and we can have a child who is skewed in a certain manner of eating that might not be favourable to his / her health.</p>
                <p>It is better to address these patterns early than late.</p>
                <p>Children also come with the unique advantage of being experimented and impressionable. And what they learn at this age, is what they hold for life. </p>
                <p>You are always worried if your child will grow as tall as you feel they should. How can you optimise the same, given their physical activities today are far lesser than what it should be ideally and there is no control on their nutrition. Children go through a growth spurt for close to 2 -3 years of their life. Their final growth spurt begins sometime between age 9-15, coinciding with their puberty. During the puberty growth spurt, boys can grow up to 4 inches a year, while girls can grow up to 3 inches a year. (For boys, puberty starts around age 11-12, and completes around age 16-17. For girls, puberty typically begins between the ages of 10-11, and is usually completed by age 15-17.). It is important for parents to focus on the right nutrition before and during the growth phase to maximise the child’s growth potential.</p>
                <p>The change in the nutritional needs during growth spurts and may be different for each child. A baby needs more calories in relation to size than a pre-schooler or school-age child, and the greatest caloric intake is required during puberty/ growth spurt time.</p>
                <p>At Qua Nutrition, our team of expert Paediatric nutritionists will provide a customized nutrition plan for your child, designed according to his/her specific activity, lifestyle, culture, taste and liking. Your child will be an integral part of this designing team so that we are sensitive to his/her choices. Based on your child’s input, we will provide your child with the nutrients that will help your child get the best all round development and height and ensure that your child also licks the last morsel of the plate!</p>
                <h3>Nutrition for Teenagers – </h3>
                <p>Oh ! They have a mind of their own. They are almost adult. Any advice is hard to follow. </p>
                <p>Teenagers have an independent life of their own and they live by their own rules. This includes eating as well. With the whole world at their feet and choices unlimited, they could be spoilt in terms of their nutrition discipline. </p>
                <div class="row">
                  <div class="col-md-6" style="text-align: justify;border: 1px solid #ccc; padding: 10px 10px 10px 10px;">
                    <p>Good nutrition is critical during teenage years to support healthy growth and development. A healthy diet needs to meet the changing nutritional needs of a growing teen and importantly, helps prepare them for a lifetime of healthy eating behaviours.</p>
                    <p>Understanding teenager’s individual concerns is important before any nutritional advice. We at Qua Nutrition, look to be one of them, as we work with them that all nutrition is not a compromise of taste. There is enough fast, simple and streetfood that is tasty and good for the body. It doesn’t always have to be a battle of the good and evil in food and eating. There is a smart way to impress the parents on food habits and knowledge by working on a nutrition plan with Qua Nutrition.</p>
                  </div>
                  <div class="col-md-6">
                    <iframe height="340" src="https://www.youtube.com/embed/oAQxMtBRHb4?ecver=1" frameborder="0" allowfullscreen></iframe>                          
                  </div>
                </div>
                <h4>Nutrition for Special Children </h4>
                <p>If you are a parent to a special needs child and you should be looking to invest in a Nutrition Plan. You should be ready to discover how correct and precise nutrition can make a big change in your child's quality of life. One area in which you are perhaps hoping to find the solutions you've been seeking, is that of nutrition.</p>
                <p>Many special needs kids have a nutritionist who sets specific guidelines for the challenges they are facing; for others, focusing on nutritional goals is a whole-family effort. Here, at Qua Nutrition, we highlight the more common nutritional risks special needs children face and provide adequate suggestions, on how to overcome these challenges. We keep in mind that nutritional challenges are as varied as each individual child, and our aim is to provide a general and specific guideline for parents and caretakers.</p>
                <p>Many children with disabilities have specific health issues that can impact their nutritional well-being and eating habits. This makes understanding and meeting your child’s nutritional needs even more important. Very often, a child with special needs may face specific barriers to having a healthy relationship with food. Many children “love” food and parents feel bad for denying them one of their pleasures but this leads to a lifelong battle of obesity and a bad relationship with food.</p>
                <p>Some 75% of kids with special needs take medication; some of the latter, especially anti-depressants, anticonvulsants, mood stabilizers, etc., are linked to weight gain. </p>
                                <div class="row mb-20">
                  <div class="col-md-6">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/iZyO4pta_sU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p class="mt-10"><strong>What is missing in your child’s diet ? 
</strong>Corporate Nutrition Seminar - Nutrition for kids - Whooppee, Kolkata
</p>
                  </div>
                  <div class="col-md-6">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/LRH3CmGns9w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <p class="mt-10"><strong>Secrets about  kids nutrition that no one is telling you aboutCorporate Nutrition 
</strong>-Nutrition for college students, Bangalor</p>                
                  </div>
                </div>
                <p style="border: 1px solid #ccc;text-align: justify; padding: 10px 10px 10px 10px">The following syndromes, for instance, may place children at a higher risk for weight gain: Down syndrome, Spina Bifida, Autism Spectrum Disorder, ADHD, Prader-Willi syndrome, Cohen syndrome, Carpenter syndrome, Borjeson syndrome and MOMO syndrome. </p>
                <p>Study on ages 12-18 with physical, intellectual or behavioural disabilities </p>
                <ul style="list-style-type: disc; margin-left: 50px;margin-bottom: 20px;">
                   <li>67.1% with autism spectrum disorder were either overweight or obese. </li>
                   <li>86.2% with Down syndrome were either overweight or obese. </li>
                   <li>18.8% with cerebral palsy were either overweight or obese. </li>
                   <li>83.1% with spina bifida were either overweight or obese. </li>
                   <li>6% with intellectual dis ability were either overweight or obese.</li>
                </ul>
                                
                 <div class="row mb-20">
                  <div class="col-md-6">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/2JWOjZweaXk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p class="mt-10"><strong>5 ways to make kids smarter.
</strong>Corporate Nutrition Seminar - Nutrition education to the next generation, Goa
</p>
                  </div>
                  <div class="col-md-6">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/GXrg7T3Tlcc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <p class="mt-10"><strong>Are you slowly poisoning your kids ?
</strong>Corporate Nutrition Seminar -  What to feed School kids?</p>                
                  </div>
                </div>
                
                <p>The Special Kids Nutritional Plan is worked by a qualified and experienced paediatric Nutritionist with a panel of Nutritionists by understanding your child’s needs – which may be different from another child with the same syndrome/disease. The diet will always be individualized depending on energy requirements, any special needs for nutrients, protein, activity, mechanical issues, and behavioural issues. </p>
                <p>Overcoming the biggest nutritional challenges of special needs children can be a complex task that is sometimes within and sometimes beyond a parent's grasp. To the extent we can support, it is vital to ensure that our children enjoy the colourful, flavourful, rich-textured world of healthy food, and to get their hearts racing to the inviting rhythm of sport and life.</p>
                <p>At Qua Nutrition, our team of expert Paediatric nutritionists will provide a customized nutrition plan for your child, designed according to his/her specific condition, activity, lifestyle, culture, taste and liking. </p>
              </div>
            </div>
            <div class="col-md-3 pl-60 pl-sm-0 mt-sm-60">
              <div class="widget">
                <h4 class="widget-title text-uppercase bg-theme-colored p-10 text-white text-center">Testimonials</h4>
                <div class="latest-posts">
                  <article class="post media-post clearfix pb-0 mb-10 text-center">
                      <img width="120" height="120" src="../images/gallery/25.jpg" alt="" class="img-circle">
                      <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Ananya and Taran</h4>
                      <p class="text-white font-13 text-center">While it is hard to quantify what makes a difference, we feel that a significant part is due to better nutrition thanks to QUA, Ryan, Abhilasha and the team. Abhilasha has been very supportive in meeting our requests and has also been able to build a rapport with the children where they feel confident in discussing their needs and responses directly with her. She has also maintained constant touch with us to ensure that we are able to abide by the plans and change wherever the need arose. We wish her a great career ahead.</p>
                  </article>
                  <article class="post media-post clearfix pb-0 mb-10 text-center">

                      <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Anushree Arora</h4>
                      <p class="text-white font-13 text-center">Ryan Fernando is simply one of the best nutritionists I've ever met. I listen to him every morning on his radio show, The Fitness Hour on Indigo 91.9 and have started taking his tips seriously for some time now. Sports being my passion and his talks together inspired me to take up a project on Teenage Fitness and Nutrition in school. I requested Ryan for some help with my project in terms of research and help with conducting a survey, etc which he readily accepted. I have been extremely lucky to have met him. He had so much knowledge to share, so many tips to give and I had so much more clarity and direction after the meeting. Together we discussed the format and skeleton of my survey. It was simply amazing to see how he answered all my questions in an easy-to-understand manner and was just so enthusiastic about helping me with my project. Just 40 mins with him and I learned so much!!</p>
                  </article>
                  <article class="post media-post clearfix pb-0 mb-10 text-center">

                      <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Ajitabh Dey</h4>
                      <p class="text-white font-13 text-center">With the amount of practical knowledge that can change somebody's immunity system from just so bad to simply WOW.. it should be Ryan's theory. Thanks Ryan for helping our little champ - Rudraksh being the kid he wants to be and enhancing his immunity to the levels that we couldn't really imagine. The walk thru we had with you & your team 3-4 months ago kept us thinking whether this would work or not but during and post the completion of the plan it has drastically changed his & our overview about what could really work out with a simple nutritious food in a persons life.Thanks once again Ryan for all the help, am sure you would certainly workout to gain nutrition for many kids around the globe, keep up the good work and keeping parents happy and smiling always.</p>
                  </article>
                  <article class="post media-post clearfix pb-0 mb-10 text-center">

                      <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Veena Muralidhar</h4>
                      <p class="text-white font-13 text-center">We are with Qua Nutrition from past 1 year. Both our daughters are with Ms. Rhoda Bincy.We had a very good experience with Ms. Rhoda. She does a thorough analysis of the child to understand the needs and nutrition requirements of the child. She listens patiently and suggests the alternatives for various conditions.</p>
                  </article>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Team -->
    <section id="trainer" class="bg-light">
      <div class="container pb-0">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-8">
              <h2 class="text-uppercase text-left">Our <span class="text-black font-weight-300">TESTIMONIALS</span></h2>
            </div>
          </div>
        </div>
        <div class="section-content pb-10">
          <div class="row-carousel owl-carousel-5col pb-30">
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/female.html" alt="">
                  <h4 class="text-gray mt-5 mb-5 text-center">Shiwaji Doifode</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Nutrition For Kids </h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">Have a nice time everybody. I want to share my experience. My daughter is professional tennis player. I joined in August 2017 to QUA nutrition with Safa Mushtaq as dietician. Rushika had suffered viral fever since Saturday night. On preceding Monday she participated inter school tournament and she stood winner. On Tuesday she participated her Divisional tournament in which also she stood winner. Result is not important but inspite of weakness due to fever she could performed best because of nutrition chart prepared by QUA team and consistent follow up taken by you. Smooth and sweet words and motherly approach by Safa Madam with Rushika inspired her to follow diet without cheating. Rushika admits that she feels energetic after long practice sessions due to revised diet. Really I experienced the key role of nutrition in sports. Thanks to QUA and Safa Madam.</p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/female.html" alt="">
                  <h4 class="text-gray mt-5 mb-5 text-center">Veena Muralidhar</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Nutrition For Kids</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">We are with Qua Nutrition from past 1 year. Both our daughters are with Ms. Rhoda Bincy.We had a very good experience with Ms. Rhoda. She does a thorough analysis of the child to understand the needs and nutrition requirements of the child. She listens patiently and suggests the alternatives for various conditions. She is in continuous touch with us to know the progress and help us out.Being with Qua has introduced a balanced food for entire family now.Thank you very much Qua team and special thanks to Rhoda for her guidance and monitoring.Hope to receive the same attention and guidance in future too.</p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/male.html" alt="">
                  <h4 class="text-gray mt-5 mb-5 text-center">Ajitabh Dey</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Nutrition For Kids</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">With the amount of practical knowledge that can change somebody's immunity system from just so bad to simply WOW.. it should be Ryan's theory. Thanks Ryan for helping our little champ - Rudraksh being the kid he wants to be and enhancing his immunity to the levels that we couldn't really imagine. The walk thru we had with you & your team 3-4 months ago kept us thinking whether this would work or not but during and post the completion of the plan it has drastically changed his & our overview about what could really work out with a simple nutritious food in a persons life.Thanks once again Ryan for all the help, am sure you would certainly workout to gain nutrition for many kids around the globe, keep up the good work and keeping parents happy and smiling always.</p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/female.html" alt="">
                  <h4 class="text-gray mt-5 mb-5 text-center">Anushree Arora</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Nutrition For Kids</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">Ryan Fernando is simply one of the best nutritionists I've ever met. I listen to him every morning on his radio show, The Fitness Hour on Indigo 91.9 and have started taking his tips seriously for some time now. Sports being my passion and his talks together inspired me to take up a project on Teenage Fitness and Nutrition in school. I requested Ryan for some help with my project in terms of research and help with conducting a survey, etc which he readily accepted. I have been extremely lucky to have met him. He had so much knowledge to share, so many tips to give and I had so much more clarity and direction after the meeting. Together we discussed the format and skeleton of my survey. It was simply amazing to see how he answered all my questions in an easy-to-understand manner and was just so enthusiastic about helping me with my project. Just 40 mins with him and I learned so much!!" </p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/gallery/25.jpg" alt="">
                  <h4 class="text-gray mt-5 mb-5 text-center">Ananya and Taran</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Nutrition For Kids</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">While it is hard to quantify what makes a difference, we feel that a significant part is due to better nutrition thanks to QUA, Ryan, Abhilasha and the team. Abhilasha has been very supportive in meeting our requests and has also been able to build a rapport with the children where they feel confident in discussing their needs and responses directly with her. She has also maintained constant touch with us to ensure that we are able to abide by the plans and change wherever the need arose. We wish her a great career ahead.</p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/male.html" alt="">
                  <h4 class="text-gray mt-5 mb-5 text-center">Neeraj P</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Nutrition For Kids</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">We consulted QUA Nutrition for our 12 year old daughter, who's into competitive swimming since 5 yrs. Her improvement was stalled for last one year coz her body was unable to keep pace with her training sessions, full day school and her exercise regime. Her body was lacking required strength and endurance. Also recovery was not so fast. And then enters Ms. Safa Mushtaq with her magic wand !!! In matter of 1 month, my daughter's performance improved drastically. So much so that she herself couldn't belive !Thanks, Ms. Safa. The way you work with my daughter, its just amazing. You make her so comfortable in conversing with you and in the process very tactfully make her agree to have food items that she hated earlier. We are very excited to see our daughter improve so much and so fast and now can see her bright future.</p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/female.html" alt="">
                  <h4 class="text-gray mt-5 mb-5 text-center">Debojyoti Hazra</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Nutrition For Kids</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">We had a very good experience with Lygia. She does a thorough analysis of the child to understand the needs and nutrition requirements of the child.. She is extremely patient and makes the child feel comfortable. She is also very friendly with the kids and that makes the job easier... She does proactive monitoring and regularly would WhatsApp to know the improvement and do status check.</p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    


  </div>
  <!-- end main-content -->