<p>wedding-bells works!</p>
<!-- Start main-content -->
<div class="main-content">

    <!-- Section: Classes details -->
    <section>
      <div class="container">
        <div class="section-title text-center mb-10">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 mb-10">
              <h2 class="title text-uppercase mb-0">Wedding <span class="text-black font-weight-300">Bells</span></h2>
              <p class="text-uppercase letter-space-1 text-center">For A Glowing Couple Or Just You Bride</p>
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-9">
              <!-- <div class="single-class-details">
                <img src="../images/p11.jpg" class="img-fullwidth" alt="">
                <div class="pull-left flip">
                  <h3 class="text-uppercase letter-space-1">Wedding Bells</h3>
                </div>
              </div> -->
              <div class="classes-schedules">
                <p>Planning for the best day of your life. Everything needs to be perfect. The groom, the bride, the party, the food, the dress, the looks. The list is endless and the stress can be somewhat unrelenting. </p>
                <p>The stress and work stacked up to make all this perfection can show on you not so well. </p>
                <p>So as the day nears, we are worried about our skin, hair and weight and the non-existent glow. You will be the cynosure of all those assessing eyes and thought of you looking anything but your best can take those pre-wedding jitters to a whole new level. But the sleepless nights, disturbed eating, besieging relatives, and speed shopping, leaves the bride/groom dull and stressed.</p>
                <p>Unfortunately, a gorgeous gown or the most expensive sari can only take you half way there. The true path to looking and feeling amazing is paved by a healthy fitness and nutrition routine that starts long before you take the matrimonial plunge.</p>
                <p>At Qua Nutrition we will work with you for the months and weeks before your D-day making sure the limelight stays on you!</p>
                <h3>Bride:</h3>
                <p>Having a dream body with flawless skin, beautiful curves and boundless energy is every bride's wish. Women undergo so many treatments to ensure they’ll have the healthiest skin and hair possible for their wedding day. </p>
                <p>A healthy diet makes sure you are up that energy that you need to enjoy your wedding to the fullest. The factor that your skin will be the best it has ever been with or without the makeup. Most importantly have a body that is perfectly shaped for the expensive dress. Your diet and nutrition plan puts that extra sparkle of health in that fabulous toned body.</p>
                <p>At Qua Nutrition we will ensure the radiant bride shines with health and happiness and sails away with her groom to the happily ever after horizon.</p>
                <h3>Groom:</h3>
                <p>Many people assume that brides are the only ones who bother thinking about their wedding appearance. Men need the killer looks too. This is the one day when manly pride needs to be put aside to make way for a little metro-sexual pampering. Look even better while ripping your shirt off on your honeymoon! Invest in your Nutrition Planning and Supplementation for that killer body, skin and muscle.</p>
                <p>It is your special day and every Queen needs a King. At Qua Nutrition we will tone you up and make sure you look like you belong on that throne.</p>
              </div>
            </div>
            <div class="col-md-3 pl-60 pl-sm-0 mt-sm-60">
              <div class="widget">
                <h4 class="widget-title text-uppercase bg-theme-colored p-10 text-white text-center">Testimonials</h4>
                <div class="latest-posts">
                  <article class="post media-post clearfix pb-0 mb-10 text-center">

                      <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Suhasini </h4>
                      <p class="text-white text-center font-13">I was going to get married in less than 6months and I was one of those underweight, thin brides whose in-laws were behind her to gain some weight! I have always been this way and had tried all possible ways to gain weight during my college days, but NOTHING seemed to work and I eventually lost hope! But with in-laws and my would-be behind my life to gain a few kilos I got back to searching any saviors and THANK GOD I found Qua Nutrition. The dietitian was like god sent angel for my worries! I signed in for a 3 month bridal nutrition package and the results were AWESOME! I had gained close to 5 kgs in 3 months. </p>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
   <!-- Section: Team -->
    <section id="trainer" class="bg-light">
      <div class="container pb-0">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-8">
              <h2 class="text-uppercase text-left">Our <span class="text-black font-weight-300">TESTIMONIALS</span></h2>
            </div>
          </div>
        </div>
        <div class="section-content pb-10">
          <div class="row-carousel owl-carousel-5col pb-30">
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/male.html" alt="">
                  <h4 class="text-gray mt-5 mb-5 text-center">Harsh</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Wedding Bells </h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">Job commitment and sedentary lifestyle took its toll on me in form of a paunch. I was so so dull and wanted to change it before my wedding. I was following QUA Nutrition on social media (though I never implemented any single tip ever) and decided to contact them. They were patient enough to hear out all my problems, lifestyle challenges, eating habits, cooking skills and my goals. The personalized diet chart given to be included all my fav foods, which was just incredible as i am one of those picky eaters. After following their diet, my paunch was launched into the orbit. It was gone. I also felt more energetic and fit. Thanks QUA NUtrition. If shaadi.com can fix your marriage. quanutrition.com can help you live it better!</p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/female.html" alt="">
                  <h4 class="text-gray mt-5 mb-5 text-center">Poonam Shirsat</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Wedding Bells</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">QUA Nutrition is the best nutrition clinic in India. Sneha was my nutritionist. She guided me with all the diet plans It was one of the best experience It was an amazing experience. Fantastic job, very professional and understanding to individual needs. Sneha have done a fantastic job. Very happy with the whole guidance. Feel the difference. All the best. Thank you</p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/female.html" alt="">
                  <h4 class="text-gray mt-5 mb-5 text-center">Shreya kalra</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Wedding Bells</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">Full points to QUA Nutrition & my dietician Tenzin for giving a very well thought after diet chart throughout. They give you a diet chart basis your blood parameters and body chemistry and not like other dieticians that prescribe an almost similar chart to everyone. I wanted to look my best on my special day and QUA Nutrition helped me getting there. I felt energetic and literally was glowing. "Hey what have you put up on your face? You are looking fabulous" was a common compliment during my wedding days. Post marriage as I was away for a month, they adjusted the timelines of the plan as well so that was a big big plus!! I now recommend QUA Nutrition to all dear friends and relatives.</p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/male.html" alt="">
                  <h4 class="text-gray mt-5 mb-5 text-center">Karthik BV</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Wedding Bells</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">Big thank's to QUA Nutrition,GOA i am really happy with the services.I took a monthly plan under the guidance of Ms. Sharvari who is very professional at approach and well experienced she gave me a very simple diet plan and helped me trimming my body weight for my d-day and i am very much happy with the services and Etiquette of the Nutritionist especially Ms. Sharvari.</p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/female.html" alt="">
                  <h4 class="text-gray mt-5 mb-5 text-center">Aditi Sirsat</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Wedding Bells</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">I have had a wonderful experience with Dietitian Jeanne. She has helped and designed my plan according to my schedule. She guided me before my marriage to have a healthier lifestyle. Her advice has been exceptional. I have benefited a great deal becoming more active. Despite being doubtful at the beginning, I'm glad I took a plan where she worked with me for a longer period and helped imbibe a habit in me which I continue to follow upto this day.</p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item mb-30 mb-sm-30">
              <div class="bg-img-box maxwidth400" style="background-color: #fff;">
                <div class="photo" style="padding: 2px;">
                  <img class="img-fullwidth" src="../images/female.html" alt="">
                  <h4 class="text-gray mt-5 mb-5 text-center">Suhasini</h4>
                  <h5 class="text-theme-colored mt-0 mb-5 text-center">Wedding Bells</h5>
                  <div class="sidebar-box">
                    <p class="mt-0 mb-0 p-10 text-center">I was going to get married in less than 6months and I was one of those underweight, thin brides whose in-laws were behind her to gain some weight! I have always been this way and had tried all possible ways to gain weight during my college days, but NOTHING seemed to work and I eventually lost hope! But with in-laws and my would-be behind my life to gain a few kilos I got back to searching any saviors and THANK GOD I found Qua Nutrition. The dietitian was like god sent angel for my worries! I signed in for a 3 month bridal nutrition package and the results were AWESOME! I had gained close to 5 kgs in 3 months and there was not one person who was not in awe! She also guided me through some amazing nutrition and supplements support with regular follow up on me ... not only did I gain those kilos but my skin was glowing with no added makeup !!! Thanks to Qua Nutrition, my husband and in-laws had nothing more to complain about! </p>
                    <p class="read-more"><a href="#" class="button">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </section>

  </div>
  <!-- end main-content -->
